@use 'src/variables.module' as *;

.mainContainer {
  display: flex;
  flex-direction: column;
  max-width: $site-content-width;
  margin: 2rem auto;
  padding: 0 2rem;

  .dropdownContainer {
    display: flex;

    .dropdown {
      width: 260px;
    }
  }

  .entriesContainer {
    display: flex;
    flex-direction: column;
  }

  .pagination {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.loadingIcon {
  @include grayLargeLoadingIcon;
}
.releaseCalendarLegend {
  display: flex;
  align-items: center;
  font-size: $font-size-16;
  .updateStatusIcon {
    padding: 0 0.5rem 0 1rem;
    color: $dark-green;
    width: fit-content;
  }
  .releaseCalendarLegendGray {
    display: flex;
    align-items: center;
    margin-left: $font-size-24;
  }
  .notYetUpdated {
    height: $font-size-16;
    width: $font-size-16;
    margin-right: 0.5rem;
    border-radius: $font-size-16;
    background-color: #d8d8d8;
    align-items: center;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .dropdownContainer {
    justify-content: space-between;
  }
}

@media screen and (max-width: $breakpoint-lg - 1) {
  .mainContainer {
    padding: 0 2rem;

    .dropdownContainer {
      margin-bottom: 2rem;
    }
  }
  .releaseCalendarLegend {
    display: none;
  }
}
