@import '../../../variables.module.scss';

.horizontalSocialShareContent {
  display: flex;
  max-width: 360px;
  max-height: 48px;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  padding-bottom: 0;
}

.horizontalShareButton {
  display: flex;
  text-align: justify;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 0;
  justify-content: center;
  height: 1rem;
}

.horizontalShareButtonContainer {
  display: flex;
  align-items: center;
  text-align: justify;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  margin-left: 48px;
}

.socialShareContent {
  h3 {
    color: #666666;
    font-weight: $semi-bold-weight;
    font-size: $font-size-16;
    width: 6.875rem;
    margin: 0 0 1rem;
  }
}

.shareButton {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom:0;
}

.shareButtonContent {
  display: flex;
  align-items: center;
  font-size: $font-size-16;
  height: 1.25rem;

  .shareButtonText {
    color: #666;
    margin: 0 0 0 .5rem;
    height: 1.25rem;
  }

  .facebookIcon {
    color: #3a5997;
    width: 1.125rem;
    height: 1rem;
    margin: .125rem .5rem .125rem 0;
  }

  .twitterIcon {
    color: #54acee;
    width: 1.125rem;
    height: 1rem;
    margin: .125rem .5rem .125rem 0;
  }

  .linkedInIcon {
    color: #057ab5;
    width: 1.125rem;
    height: 1rem;
    margin: .125rem .5rem .125rem 0;
  }

  .redditIcon {
    color: #ff4500;
    width: 1.125rem;
    height: 1rem;
    margin: .125rem .5rem .125rem 0;
  }

  .emailIcon {
    color: #666;
    width: 1.125rem;
    height: 1rem;
    margin: .125rem .5rem .125rem 0;
  }
}

@media screen and (max-width: $breakpoint-lg - 1) {
  .horizontalShareButtonContainer {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
  .socialShareContent {
    padding-bottom: 1.875rem;
    height: 1.125rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .shareButton {
    display: flex;
    text-align: justify;
    margin-top: 0;
    margin-bottom: 2rem;
    justify-content: center;
  }

  .shareButtonContainer {
    display: inline-flex;
    text-align: justify;
    justify-content: center;
    width: 20%;
  }
  .shareButtonContent {
    .shareButtonText, .facebookIcon, .twitterIcon,
    .linkedInIcon, .redditIcon, .emailIcon {
      margin: 0;
    }
  }
}
