@import '../../../variables.module.scss';

.socialShareContent {
  h3 {
    color: #666666;
    font-weight: $semi-bold-weight;
    font-size: $font-size-16;
    width: 6.875rem;
    margin: 0 0 16px;
  }
}

.shareButton {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom:0;
}

.shareButtonContent {
  display: flex;
  align-items: center;
  font-size: $font-size-16;
  height: $font-size-20;

  .shareButtonText {
    color: #666;
    margin: 0 0 0 8px;
    height: 20px;
  }

  .facebookIcon {
    color: #3a5997;
    width: $font-size-18;
    height: $font-size-16;
    margin: 2px 8px 2px 0;
  }

  .twitterIcon {
    color: #54acee;
    width: $font-size-18;
    height: $font-size-16;
    margin: 2px 8px 2px 0;
  }

  .linkedInIcon {
    color: #057ab5;
    width: $font-size-18;
    height: $font-size-16;
    margin: 2px 8px 2px 0;
  }

  .redditIcon {
    color: #ff4500;
    width: $font-size-18;
    height: $font-size-16;
    margin: 2px 8px 2px 0;
  }

  .emailIcon {
    color: #666;
    width: $font-size-18;
    height: $font-size-16;
    margin: 2px 8px 2px 0;
  }
}

@media screen and (max-width: $breakpoint-lg - 1) {
  .socialShareContent {
    padding-bottom: 30px;
    height: 18px;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .shareButton {
    display: flex;
    text-align: justify;
    margin-top: 0;
    margin-bottom: 2rem;
    justify-content: center;
  }

  .shareButtonContainer {
    display: inline-flex;
    text-align: justify;
    width: 20%;
    //height: 48px;
    justify-content: center;
  }
  .shareButtonContent {
    .shareButtonText, .facebookIcon, .twitterIcon,
    .linkedInIcon, .redditIcon, .emailIcon {
      margin: 0;
    }
  }
}
