@import '../../../variables.module.scss';

.socialShareContent {
  h3 {
    color: #666666;
    font-weight: $semi-bold-weight;
    font-size: $font-size-16;
    width: 6.875rem;
  }
}

.shareButton {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom:0;
}

.shareButtonContent {
  display: flex;
  align-items: center;

  .shareButtonText {
    color: #666666;
    font-size: $font-size-16;
    margin-left: .5rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  .facebookIcon {
    color: #3a5997;
    padding-right: 6px;
  }

  .twitterIcon {
    color: #54acee;
  }

  .linkedInIcon {
    color: #057ab5;
    padding-right: 2px;
  }

  .redditIcon {
    color: #ff4500;
  }

  .emailIcon {
    color: #666;
  }
}

@media screen and (max-width: $breakpoint-lg - 1) {
  .shareButton {
    display: inline-flex;
    width: 20%;
    text-align: justify;
    margin-top: 0;
    margin-bottom: 2rem;
    justify-content: center;
  }
}
