@use 'src/variables.module' as *;

.buttonContainer {
  margin-top: 0.125rem;
}

.infoIcon {
  background-color: transparent;
  border: none;
  box-shadow: none;
  height: 1.25rem;
  font-size: 15px;
  margin-left: 3px;
  min-width: 1.25rem;
  width: 1.25rem;
  padding: 0;
  .svgStyle {
    width: 15px;
    height: 15px;
  }
}

.header {
  border-bottom: 1px solid #dddddd;
  color: $font-title;
  font-size: $font-size-18;
  font-weight: $semi-bold-weight;
  margin: 0 0 0.5rem 0;
  padding-bottom: 0.5rem;
}

.popupContainerStyle {
  color: $font-body-copy;
  padding: 1rem;
}

.popoverContents {
  p:last-child,
  ul:last-child {
    margin-bottom: 0;
  }
}

.glossaryButton {
  text-decoration: underline;
}

.mobileFA {
  float: right;
}
