@import '../../variables.module.scss';

.sectionContainer {
  box-sizing: border-box;
  width: 100%;
  max-width: $main-width;
  margin: 0 auto;

  &:last-child {
    margin-bottom: 0;
  }
}

.sectionHeader {
  @include headingStyle5;
  width: 100%;
  padding-bottom: 1rem;
  margin: 0;
  box-sizing: inherit;
  padding-top: 1rem;
}

.sectionBody {
  padding: 0 0 1rem 0;
  color: $font-body-copy;
}
