@import 'src/variables.module';

.topicSection{
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;

    
    img{
        width: 100%;
    }
    


    .topicHeading{
        @include headingStyle5;
        color: #555;
        margin: 1rem 0rem;
    }
    .body{
        @include bodyStyleRegular;
        margin: 0rem ;       
    }
    .link{
        @include columnLabelCopy7;
        display: block;
        margin-top: 1rem !important;
    }
    .arrow{
        margin-left: 1rem;
    }
    .textContainer{
        padding-right: 2rem;
    }
    
}

@media screen and (max-width: $breakpoint-lg) {
    .imageContainer{
        order: 1;
        padding-bottom: 0rem !important;
    }
    .textContainer{
        order: 2;
        padding: 0rem !important;
    }
    .topicSection{
        margin-bottom: 2rem !important;
        flex-direction: column;
    }
}