@import '../../../../variables.module.scss';

.compareSection{
    
    margin-top: 4rem;
    margin-bottom: 4rem;

    // .compareGridContainer{
    //     max-width: 50%;
    // }

    .comparisonHeading{
        font-size: $font-size-32 !important;
        font-weight: $light-weight !important;
        color: #555 !important;
    }

    .heading{
        @include headingStyle4;
        margin-bottom: 3rem;
        text-align: center;

    }

    .subHeading{
        @include headingStyle5;
        margin: 0 0 1rem 1.5rem;

    }

    .body{
        @include bodyStyleRegular;
        margin-left: 1.5rem;
    }

}

@media screen and (max-width: $breakpoint-lg) {

    .compareIcon {
        margin: 0 auto !important;
        display: block;
    }
    .subHeading, .body{
        margin-left: 0.25rem !important;
    }

}