@use 'src/variables.module' as *;

.dropdownList {
  overflow-y: auto;
  margin-top: 0.5rem;

  ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 12.375rem;
  }

  li {
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100%;
    button {
      font-size: $font-size-16;
      background: none;
      border: none;
      color: $font-body-copy;
      padding: 0.5rem 0.75rem;
      width: 100%;
      border-radius: 3px;
      cursor: pointer;

      &.selected {
        background-color: $primary-blue !important;
        color: $primary;
      }
      &:hover:not(.selected) {
        background-color: $body-background;
        transition: background-color 0.2s ease;
      }
    }
  }
}
