@import "src/variables.module";

.dataHeaderContainer {
  display: flex;
  flex-direction: column;
  margin-top: 0.625rem;

  .header {
    font-size: $font-size-24;
    font-weight: bold;
  }
  .category {
    color: #5b616b;
    font-size: $font-size-14;
    font-weight: $semi-bold-weight;
    margin: .625rem 0;
  }
  .dataLabels {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .headerTitle {
      font-weight: bold;
      font-size: $font-size-36;
    }

    .subHeader {
      color: #5b616b;
      font-size: $font-size-14;
      font-weight: $semi-bold-weight;
      margin: 0 1.25rem;
    }
  }
}

.footerContainer {
  font-size: $font-size-14;
  p {
    margin-top: 0;
  }
}

.label {
  max-width: 7.5rem;
}

.totalRevenueDataPill {
  width: 13rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: white;
  border-radius: 1rem;
  height: 2rem;
  font-weight: $semi-bold-weight;
  margin-bottom:2rem;
}
.dataContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  .chartSize {
    height: 28.125rem;
    overflow: hidden;

    circle {
      opacity: 0.8;
      &:global(.selected) {
        opacity: 1;
      }
    }

  }
}

@media screen and (max-width: $breakpoint-lg - 1) {
  :global(.chartContainerHeader) {
    margin-top: 1.0625rem;
  }

  .dataHeaderContainer {
      .header {
        font-size: $font-size-18;
      }
      .category {
        font-size: $font-size-10;
        margin: .1rem 0 .55rem;

      }
      .dataLabels {
        .headerTitle {
          font-weight: bold;
          font-size: $font-size-24;
          line-height: $font-size-24;
        }

        .subHeader {
          font-size: $font-size-10;
          margin: 0 .5rem;
        }
    }

  }
  .totalRevenueDataPill {
    font-size: $font-size-12;
    height: 1.5rem;
    width: 10rem;
    margin-bottom:1rem;

  }

  .footerContainer {
    font-size: $font-size-12;
  }

  .dataContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    .chartSize {
      height: 19.625rem;
    }
  }
}
