@use 'src/variables.module' as *;

.datasetsSubtitle {
  @include headingStyle5;
  margin: 0;
}

.sortSelectionContainer {
  margin-bottom: 1rem;

  button {
    font-weight: $semi-bold-weight;
  }
}

.noMargin {
  margin: 0;
}

@media screen and (min-width: $breakpoint-md) {
  .datasetHeader {
    display: flex;
    justify-content: space-between;
  }

  .sortSelectionContainer {
    width: 49%;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .sortSelectionContainer {
    margin-bottom: 1rem;
    width: 32%;
  }
}
