@import '../../../variables.module.scss';

.sectionHeader {
  @include headingStyle5;
  width: 100%;
  padding-bottom: 1rem;
  margin: 0;
  box-sizing: inherit;
  padding-top: 1rem;
}

.filtersContainer {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.publishDate {
  margin-bottom: 1rem;

  // will probably move this styling to the actual datepicker component
  border: 1px solid $light-grey-border;
  height: 2.5rem;
  width: 263px;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.reportsTip {
  display: flex;
  margin-top: 1rem;
  font-size: $font-size-14;
  .note {
    font-weight: $semi-bold-weight;
    padding-right: 0.25rem;
  }
}
