@import '../../../variables.module.scss';

.sectionHeader {
  @include headingStyle5;
  width: 100%;
  padding-bottom: 1rem;
  margin: 0;
  box-sizing: inherit;
  padding-top: 1rem;
}

.reportsTip {
  display: flex;
  margin-top: 1rem;
  font-size: $font-size-14;
  .note {
    font-weight: $semi-bold-weight;
    padding-right: 0.25rem;
  }
}
