@use 'src/variables.module' as *;

.sectionHeader {
  @include headingStyle5;
  width: 100%;
  padding-bottom: 1rem;
  margin: 0;
  box-sizing: inherit;
  padding-top: 1rem;
}

.filtersContainer {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;

  @media screen and (max-width: $breakpoint-xl) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.publishDate {
  margin-bottom: 1rem;

  // will probably move this styling to the actual datepicker component
  border: 1px solid $light-grey-border;
  height: 2.5rem;
  width: 263px;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.reportsTip {
  display: flex;
  margin-top: 1rem;
  font-size: $font-size-14;
  .note {
    font-weight: $semi-bold-weight;
    padding-right: 0.25rem;
  }
}

.button {
  color: $content-section-background;
  font-weight: $semi-bold-weight;
  background-color: $primary;
  border: 1px solid $primary;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
  padding: 0.5rem 1.5rem;
  display: block;
  width: 11.125rem;
  margin-left: auto;

  @media screen and (max-width: $breakpoint-xl) {
    margin: 0.5rem 0 0 0;
  }
}
