@import '../../../variables.module.scss';

$buttonWidth: 57px;

.button {
  position: absolute;
  left: -$buttonWidth;
  top: 0;
  width: $buttonWidth;
  background-color: white;
  border: none;
  padding: 0.3rem 0.5rem 0;
  cursor: pointer;
  color: #666666;
}

.buttonActivated {
  top: 0;
  width: $buttonWidth;
  background-color: white;
  border: none;
  padding: 0 0.5rem 0.625rem;
  cursor: pointer;
  color: #666666;
  font-size: 18px;
  margin-left: 1rem;
}

.menuText {
  @include bodySmallStyle;
  color: #666666;
}



