@use 'src/variables.module' as *;

$buttonWidth: 57px;

.button {
  position: absolute;
  left: -$buttonWidth;
  top: -0.5rem;
  width: $buttonWidth;
  background-color: white;
  border: none;
  padding: 0.3rem 0.5rem 0;
  cursor: pointer;
  color: $font-body-copy;
}

.buttonActivated {
  top: 0;
  width: $buttonWidth;
  background-color: white;
  border: none;
  padding: 0 0.5rem 0.625rem;
  cursor: pointer;
  color: $font-body-copy;
  font-size: 18px;
  margin-left: 1rem;
}

.menuText {
  @include bodySmallStyle;
  color: $font-body-copy;
}
