@import '../../../../variables.module.scss';

.fileDescription {
  border: 1px solid $light-grey-border;

  td:first-child {
    padding: 1rem;
  }

  td:last-child {
    padding: 1rem;
  }

  td {
    //border: 1px solid pink;
  }

  .downloadName {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
      padding-right: 1rem;
    }
  }

  .downloadIcon {
    color: $primary;
    //text-align: center;
    //width: 10%;
    display: flex;
    justify-content: flex-end;
  }

  .center{
    text-align: center;
  }
}
