@use 'src/variables.module' as *;

$surplus-primary: #e5a000;

.deficitChart {
  font-size: $font-size-14;
  color: $font-body-copy;
  margin: 0;
  .chartTitle {
    font-weight: $semi-bold-weight;
    margin-bottom: 1rem;
  }

  .chartContainer {
    max-width: 396px;

    tspan {
      color: $font-body-copy;
    }
  }
}

.toolTip {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  font-size: $font-size-14;
  color: $font-body-copy;
  border: none;
  padding: 0.75rem 1rem;
  border-radius: 0.125rem;
  opacity: 0.95;
  background: #fff;
  box-shadow: 0.125rem 0.125rem 0.125rem 0.125rem rgba(0, 0, 0, 0.25);

  .tooltipLabel {
    font-weight: $semi-bold-weight;
    margin-bottom: 0.5rem;
  }

  .tooltipRow:not(:last-child) {
    margin-bottom: 0.25rem;
  }

  .tooltipRow {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .value {
      display: flex;

      .title {
        font-weight: $semi-bold-weight;
        margin-right: 0.75rem;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .deficitChart {
    min-width: 24.75rem;
  }
}
@media screen and (max-width: $breakpoint-lg - 1) {
  .deficitChart {
    max-width: 24.75rem;
    margin: auto;
  }
}

:export {
  surplusPrimary: $surplus-primary;
}
