@use 'src/variables.module' as *;

.mainContent {
  max-width: 820px;
  margin-bottom: 27px;
  .sectionHeader {
    color: $font-title;
    font-size: $font-size-16;
    font-weight: $semi-bold-weight;
    margin-bottom: 0.5rem;
  }

  h5 {
    color: $primary;
    font-size: $font-size-24;
    font-weight: $semi-bold-weight;
    border: 0;
    margin: 0 0 1rem;
  }

  p {
    font-size: $font-size-16;
    margin-top: 0;
  }

  .highlightCardsHeader {
    display: flex;
    align-items: center;
    color: $primary;
    font-size: $font-size-24;

    svg {
      margin-right: 0.5rem;
    }
  }
}

.mainContentButton {
  display: block;
  @include primaryButton;
  box-sizing: border-box;
  margin-bottom: 5rem;
}

@media screen and (min-width: $breakpoint-md) {
  .mainContentButton {
    width: 49%;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .mainContentButton {
    width: 32%;
    margin-bottom: 9rem;
  }
}

@media screen and (max-width: $breakpoint-md) {
  .mainContentButton {
    max-width: 328px;
  }
}
