@import 'src/variables.module.scss';

.generativeReportsFooter {
  margin-top: 1rem;

  .footerMessageLabel {
    font-weight: $semi-bold-weight;
  }

  .footerEmphasis {
    font-style: italic;
  }
}
