@use 'src/variables.module' as *;

.table {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;

  &.bottomBorder {
    border-bottom: 1px solid $light-grey-border;
  }

  thead {
    border: 1px solid $light-grey-border;
    background-color: $api-header;
    text-align: left;
    position: sticky;
    top: 0;
  }

  th {
    font-weight: $semi-bold-weight;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  td {
    border-top: 1px solid $light-grey-border;
  }

  th:first-child {
    padding-left: 1rem;
  }

  th:last-child {
    padding-right: 1rem;
  }

  .headerRow {
    display: flex;
  }
  .name {
    width: 57%;
  }
  .date {
    width: 21%;
  }
}

.loadingIcon {
  @include blueMediumLoadingIcon;
  z-index: $above;
}

.overlay {
  z-index: $dtg-table-overlay;
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.85);
  transition: opacity 0.5s 0.5s, left 0.5s ease-in-out;
  display: block;
  animation: fadeIn 1s;
  overflow: hidden;
}

.container {
  position: relative;
  overflow-y: auto;

  &.minimalView {
    max-height: 421px;
  }

  &:not(.minimalView) {
    height: 421px;
  }
}

.tableBorder {
  margin-top: 1rem;
  border-radius: 3px;
  border: 1px solid $light-grey-border;
}

.tableFooter {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;

  .range {
    font-weight: $semi-bold-weight;
  }
}
