@use 'src/variables.module' as *;
@use "sass:color";

.columnButtonContainer {
  height: 100%;
}

.checkbox_wrapper {
  position: relative;
}

.checkbox_label {
  display: flex;
  margin: 1rem 1rem 0;
  color: $font-body-copy;
  transition: color ease 0.2s;

  &:hover {
    color: color.adjust($font-body-copy, $lightness: -40%);
  }
}

.checkbox_label,
input.optionCheckbox {
  cursor: pointer;
}

.disabledField {
  cursor: default;
  opacity: 0.5;
}

.label {
  max-width: 95%;
  font-size: $font-size-14;

  &:focus-within .optionCheckbox + span {
    border: 1px solid $primary;
  }
}

.optionCheckbox[type='checkbox'] {
  position: absolute;
  display: inline-block;
  min-width: 1rem;
  min-height: 1rem;
  right: 0.375rem;
  overflow: hidden;
}

.optionCheckbox[type='checkbox']:checked + span {
  background: $primary -19px top no-repeat;
  border: 1px solid $primary;
}

.optionCheckbox[type='checkbox'] + span {
  display: inline-block;
  position: relative;
  top: -1px;
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
  background: white left top no-repeat;
  border: 1px solid #ccc;
  cursor: pointer;
  margin-right: 0.5rem;
  border-radius: 0.125rem;

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
}

.label_checkmark_container {
  position: relative;
  color: white;
}

.label_checkmark_text {
  position: absolute;
  bottom: -0.125rem;
  left: 0.125rem;
  font-size: 0.9rem;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
}

.sectionHeading {
  font-size: $font-size-14;
  color: $font-title;
  font-weight: $semi-bold-weight;
  margin: 1rem 1rem 0;
}

.additionalSection {
  padding-top: 0;
  padding-bottom: 1rem;
}

@media screen and (min-width: $breakpoint-lg) {
  .columnSelectContainer {
    max-height: 15.75rem;
  }
}
