@import '../../../variables.module.scss';


.monthYearContainer{
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
}

.filterLabel {
  font-size: $font-size-18;
  font-weight: $semi-bold-weight;
  margin-bottom: 1rem;
  padding: 0;
  min-width: 20rem;
}

.filterContainer {
  z-index: $month-year-dropdown;
  position: relative;
}

@media screen and (max-width: $breakpoint-lg - 1) {
  .monthYearContainer{
    flex-direction: column;
  }
}
