@use 'src/variables.module' as *;

.glow {
  box-shadow: 0 0 0 0.25rem #e8f5ff;
  border-radius: 0.125rem;

  .dateEntryBox {
    border: 1px solid $primary;
  }
}

.dateTextEnd {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10.5px;
  margin-top: 10.5px;
  margin-right: 5px;
}

.dateTextBegin {
  margin-left: 10px;
  margin-bottom: 10.5px;
  margin-top: 10.5px;
}

.dateDivider {
  padding-left: 2.5px;
  padding-right: 2.5px;
}
.disableDisplay {
  background-color: #f1f1f1;
  pointer-events: none;
}

.dateEntryBox {
  border: 1px solid $light-grey-border;
  min-width: 146px;
  height: 26.4px;
  border-radius: 0.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: $font-size-14;
  font-weight: normal;
  white-space: nowrap;
  margin-top: 0.25rem;
  color: $font-body-copy;

  .calendarIcon {
    font-size: $font-size-16;
    margin-right: 0.5rem;
  }

  .xIcon {
    font-size: $font-size-16;
    margin-right: 0.5rem;
    margin-top: 0.25rem;
    cursor: pointer;
  }
}

.datePickerSelected {
  background-color: $primary;
  color: white;
}

.datePickerSelected:hover {
  color: #666666;
}

.datePickerRangeMiddle {
  background-color: #e8f5ff;
  color: $font-title;
  border-radius: 0;
}

.dropdown {
  position: absolute;
  overflow: hidden;
  box-shadow: 0.25rem 0.25rem #f1f1f1;
  font-size: 14px;
  font-weight: normal;
  background-color: white;
  border-radius: 4px;
  padding: 0.5rem 0 1rem;
  margin-top: 0.5rem;

  &.invalidDateText {
    margin-top: 0;
    padding: 1rem;
    text-align: start;
  }

  .datePickerContainer {
    td,
    th {
      padding: 0;
    }
  }

  .buttonContainer {
    display: flex;
    justify-content: center;

    :first-child {
      margin-right: 2rem;
    }

    .datePickerButton {
      color: $primary;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.lastColumn {
  left: -80px;
}
