@import 'src/variables.module.scss';

.glow {
  box-shadow: 0 0 0 0.25rem #e8f5ff;
  border-radius: 0.125rem;
  .dateEntryBox {
    border: 1px solid $primary;
  }
}


.dateEntryBox {
  border: 1px solid #d9d9d9;
  min-width: 146px;
  height: 26.4px;
  border-radius: 0.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: $font-size-14;
  font-weight: normal;
  white-space: nowrap;
  margin-top: 0.25rem;

  .dateTextEnd {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10.5px;
    margin-top: 10.5px;
  }

  .dateTextBegin {
    margin-left: 10px;
    margin-bottom: 10.5px;
    margin-top: 10.5px;
  }

  .dateDivider {
    padding-left: 2.5px;
    padding-right: 2.5px;
  }

  .calendarIcon {
    font-size: $font-size-16;
    margin-right: 0.5rem;
  }

  .xIcon {
    font-size: $font-size-16;
    margin-right: 0.5rem;
    margin-top: 0.25rem;
  }

}

.datePickerSelected {
  background-color: $primary;
  color: white;
  :hover {
    color: #666666;
  }
}


.datePickerRangeMiddle {
  background-color: #e8f5ff;
  color: #555555;
  border-radius: 0;
}


.datePickerHover {
  background-color: #e8f5ff;
}

.datePickerToday {
  border-style: solid;
  border-color: #0071BC;
}

.dropdown {
  position: absolute;
  overflow: hidden;
  box-shadow: 0.25rem 0.25rem #f1f1f1;
  font-size: 14px;
  font-weight: normal;
  background-color: white;
  border-radius: 4px;
  padding: 0.5rem 0 1rem;
  margin-top: 0.5rem;

  .datePickerContainer {
    td,
    th {
      padding: 0;
    }
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
    :first-child {
      margin-right: 2rem;
    }
    .datePickerButton {
      color: $primary;
      text-decoration: underline;
    }
  }
}
