.rdp-cell:has(.rdp-day_range_start:not(.rdp-day_range_end)) {
  background: linear-gradient(to left, #e8f5ff 0%, white 65%);
}

.rdp-cell:has(.rdp-day_range_end:not(.rdp-day_range_start)) {
  background: linear-gradient(to right, #e8f5ff 0%, white 65%);
}

.rdp:not([dir='rtl']) .rdp-day_range_start:not(.rdp-day_range_end) {
  border-bottom-right-radius: 100%;
  border-top-right-radius: 100%;
}

.rdp:not([dir='rtl']) .rdp-day_range_end:not(.rdp-day_range_start) {
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
}
