@import '../../variables.module.scss';

.topicsHeading {
  font-size: $font-size-14;
  font-weight: $semi-bold-weight;
  color: $font-title;
  height: 1rem;
}

.topics {
  color: $font-title;
  font-size: $font-size-14;
  height: 1rem;
  margin: 0 0 0.875rem 0;
}

.emptyDiv {
  height: 2.875rem;
}
