@import '../../../variables.module.scss';
@import '../../../zIndex.module.scss';

.titleContainer {
  border: 1px solid $dd-border-color;
  position: relative;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  z-index: $published-reports-preview;
}

.textReportContainer {
  max-height: 70vh;
  overflow-y: auto;
}


.textReportPreview {
  font-size: $font-size-14;
}

@media screen and (max-width: $breakpoint-xl) {
  .textReportPreview {
    font-size: 1.15vw;
  }
}

@media screen and (max-width: $breakpoint-md) {
  .textReportPreview {
    font-size: 1.2vw;
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .textReportPreview {
    font-size: 1vw;
  }
}

.headerWrapper {
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding: 1rem 1rem 0.5rem;
  & > * {
    margin-bottom: 0.5rem;
  }
}

.header {
  @include headingStyle6;
  margin-left: 0.5rem;
  margin-right: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-grow: 1;
}

.previewContent {
  position: relative;
  border: 1px solid $dd-border-color;
  border-top: 0;
  padding: 1rem;
  text-align: center;
  border-radius: 0 0 5px 5px;

  embed {
    width: 100%;
    height: 600px;
  }
}

@media (min-width: $breakpoint-md){
  .headerWrapper {
    padding: 0.5rem 1rem 0;
  }
}
