@use 'src/variables.module' as *;

$treasury-fraud-spending-explainer-primary: #555555;
$treasury-fraud-spending-explainer-secondary: #555555;
$treasury-fraud-spending-explainer-light-secondary: #555555;
$treasury-fraud-spending-explainer-hero: #555555;

:export {
  treasuryFraudSpendingExplainerPrimary: $treasury-fraud-spending-explainer-primary;
  treasuryFraudSpendingExplainerSecondary: $treasury-fraud-spending-explainer-secondary;
  treasuryFraudSpendingExplainerLightSecondary: $treasury-fraud-spending-explainer-light-secondary;
  treasuryFraudSpendingExplainerHero: $treasury-fraud-spending-explainer-hero;
}
