@use 'src/variables.module' as *;

.chartContainer {
  margin: 1rem 0 0 0;
  border: 1px solid #d9d9d9;
  border-radius: 0.25rem;
  width: 100%;

  .infoTipContainer {
    height: 2.375rem;
    display: flex;
    align-items: center;
  }

  .chartTitleHeaderContainer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  .chartTitle {
    font-weight: $semi-bold-weight;
    color: $font-title;
    font-size: $font-size-16;
    align-content: center;
  }

  .chartSubTitle {
    margin-top: 0;
    color: $font-title;
    font-size: $font-size-16;
  }

  .chartTable {
    width: calc(100% - 4px);
    margin: 0 auto;
    justify-content: center;
  }

  .footerContainer {
    margin-bottom: 0;
    font-size: $font-size-14;
    padding: 0.5rem 1rem;
  }
}
.downloaderContainer {
  display: flex;
  justify-content: right;
  padding: 0 1rem 0.5rem 0;
}
.headerContainer {
  div {
    text-align: center;

    .header {
      font-weight: bold;
    }

    .subHeader {
      font-weight: $semi-bold-weight;
    }
  }
}

.tableBoarder {
  border-bottom: 1px solid #d9d9d9;
}

.downloadLabelContainer {
  display: flex;
  align-items: center;
  color: $hero-primary-link;
}
.clickedLabel {
  color: $dark-slate-blue;
  display: flex;
  align-items: center;
}
.downloadCSV {
  font-weight: $semi-bold-weight;
  font-size: $font-size-12;
}
.icon {
  margin-left: 0.5rem;
  width: 0.875rem;
  height: 17px;
}

.dateRangeContainer {
  display: flex;
  align-items: flex-start;
  padding-bottom: 1rem;
}

@media screen and (max-width: $breakpoint-lg - 1) {
  .chartContainer {
    .chartTitle {
      font-size: $font-size-16;
    }

    .chartSubTitle {
      font-size: $font-size-14;
    }
  }
  .headerContainer {
    gap: 2rem;
  }
}
