@import '../../../variables.module';

.chartContainer {
  margin-top: 1rem;
  border: 1px solid #d9d9d9;
  border-radius: 0.25rem;
  width: 100%;

  .chartTitleHeaderContainer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  .chartTitle {
    font-weight: 600;
    color: $font-title;
    font-size: $font-size-16;
    align-content: center;
  }

  .chartSubTitle {
    margin-top: 0;
    color: $font-title;
    font-size: $font-size-16;
  }

  .chart {
    width: calc(100% - 4px);
    margin: 0 auto;
    justify-content: center;
  }

  .footerContainer {
    margin-bottom: 0;
    font-size: $font-size-14;
    padding: 1rem;
  }
}
.downloaderContainer {
  display: flex;
  justify-content: right;
  padding-right: 1rem;
}
.headerContainer {
  div {
    text-align: center;

    .header {
      font-weight: bold;
    }

    .subHeader {
      font-weight: $semi-bold-weight;
    }
  }
}

@media screen and (max-width: $breakpoint-lg - 1) {
  .chartContainer {
    .chartTitle {
      font-size: $font-size-16;
    }

    .chartSubTitle {
      font-size: $font-size-14;
    }
  }
  .headerContainer {
    gap: 2rem;
  }
}
