@use 'src/variables.module' as *;

.container {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);

  .content {
    display: flex;

    .fileContent {
      width: 100%;

      .mobileContentContainer {
        display: flex;

        .fileDetails {
          display: flex;
          justify-content: space-between;
          padding-bottom: 19px;
          text-transform: uppercase;

          .fileInfo {
            display: flex;

            .fileNameStyle {
              word-break: break-word;
            }

            .pill {
              font-size: $font-size-12;
              padding: 4px 8px;
              border-radius: 13px;
              color: white;
              background-color: $primary;
            }
          }

          .cancelDownloadButton {
            height: 40px;
            border-radius: 3px;
            cursor: pointer;
          }

          .downloadButton {
            @include primaryButton;
            text-transform: none;
            border-radius: 3px;
          }
        }
      }

      .downloadLink {
        padding-top: 15px;
        border-top: solid 1px $dark-grey-border;

        .copyLink {
          display: flex;
          justify-content: space-between;
          margin-top: 10px;

          .downloadLinkName {
            position: relative;
            height: 20px;
            padding: 10px;
            background-color: #fff;
            border: solid 1px #ddd;
            border-radius: 3px;
            font-size: $font-size-16;
            font-family: 'Source Sans Pro', sans-serif;
            color: $font-body-copy;
            overflow: hidden;

            &:after {
              content: '';
              position: absolute;
              height: 100%;
              top: 0;
              right: 0;
              width: 20px;
              background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
              pointer-events: none;
            }
          }

          .copyLinkButton > button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
          }
        }
      }
    }
  }
}

.resumedSpinner {
  font-size: 3rem;
  color: $dark-green;
  &.queuedSpinner {
    color: rgba(85, 85, 85, 0.3);
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .container {
    margin: 1rem 2rem;
    padding: 20px 30px 50px;

    .title {
      @include headingStyle5;
      margin-bottom: 26px;
    }

    .content {
      .progressIndicator {
        width: 150px;
        min-width: 150px;
        margin-right: 48px;

        &.resumedStyle {
          width: 3rem;
          min-width: 3rem;
          margin-right: 2rem;
        }
      }

      .mobileProgressIndicator {
        display: none;
      }

      .fileContent {
        &:not(.readyForDownload) {
          max-width: calc(100% - 198px);
        }

        .fileDetails {
          width: 100%;
          justify-content: space-between;
          align-items: center;

          .fileInfo {
            align-items: center;

            .fileNameStyle {
              @include headingStyle6;
            }

            .pill {
              margin-left: 8px;
            }
          }

          .cancelDownloadButton {
            margin-left: 8px;
            padding: 0.5rem 0 0.5rem 1.5rem;
          }
        }
      }

      .downloadLink {
        font-size: $font-size-18;

        .copyLink {
          .downloadLinkName {
            width: calc(100% - 140px);
          }

          .copyLinkButton > button {
            width: 130px;
            margin-left: 8px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $breakpoint-lg - 1) {
  .container {
    margin: 1rem 0;
    padding: 12px 12px 20px;

    .title {
      @include headingStyle6;
      margin-bottom: 18px;
    }

    .content {
      .progressIndicator {
        display: none;
      }

      .mobileProgressIndicator {
        height: 50px;
        width: 50px;
        min-width: 50px;
        margin: 0 10px;
        &.resumedStyle {
          margin-right: 1.5rem;
        }
      }

      .fileContent {
        .fileDetails {
          flex-direction: column;

          .fileInfo {
            flex-direction: column;
            align-items: flex-start;

            .fileNameStyle {
              font-size: $font-size-14;
              color: $font-title;
              font-weight: 600;
            }

            .pill {
              margin: 8px 0 5px;
            }
          }

          .cancelDownloadButton {
            margin-top: 3px;
          }
        }
      }

      .downloadLink {
        font-size: $font-size-14;

        .copyLink {
          flex-direction: column;

          .downloadLinkName {
            margin-bottom: 0.5rem;
          }

          .copyLinkButton > button {
            width: 100%;
          }
        }
      }
    }
  }
}
