@import '../../variables.module.scss';

.templateContainer {
  position: relative;
  margin: 0 auto;
}

.templateContent {

  position: relative;
  margin: 0 auto 2.5rem;

  h1, h2 {
    font-size: 3rem;
    font-weight: bold;
    color: $info-header-focal;
    line-height: 1.25;
    margin: .75rem 0 1rem;
  }

  h3 {
    font-size: 2.25rem;
    margin: 4rem 0 1rem;
  }

  h4 {
    font-size: 1.75rem;
    margin: 1rem 0;
  }

  h5 {
    margin: 2rem 0 1rem;
    font-size: 1.5rem;
    line-height: 1.5;
  }

  h6 {
    margin: 2.5rem 0 0.75rem;
    font-size: 1.25rem;
    line-height: 1.5;
    letter-spacing: normal;
  }

  h3, h4, h5, h6 {
    font-weight: $semi-bold-weight;
    color: #555555;
  }

  p {
    color: #666666;
    font-size: 1rem;
    line-height: 1.5;
    margin: 1.5rem auto 1.5rem;
  }

  blockquote {
    margin: 1rem 0 1.5rem;
    p {
      font-size: 1.75rem;
      font-weight: $semi-bold-weight;
      line-height: 1.5;
      font-style: oblique;
      letter-spacing: normal;
      color: $info-header-focal;
      margin: 0 auto;
    }
  }

  a {
    color: $primary;
  }

  .byLine {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    line-height: 1.5;
    margin: 1rem 0;
    font-weight: $semi-bold-weight;
    padding: 1rem 0;
    .by {
      display: inline-block;
      color: $info-header-focal;
      padding-right: 1.25rem;
    }
    .dateStamp {
      display: inline-block;
      color: #666666;

      .dateValue {
        font-weight: normal;
      }
    }
    .heroSocialShare{
      height: 2rem;
    }
  }

  .mainVis {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin: 1rem -2rem 2.5rem -2rem;
    height: 27rem;
  }

  img {
    width: 100%;
  }

  hr {
    border-top: 1px solid #eaeaea;
    margin: 4rem 0 2rem;
  }

  font {
    font-size: 0.75rem;
    line-height: 1.5;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  :global(.socialShareContent) {
    padding-right: 0 !important;
  }
}

@media screen and (min-width: $breakpoint-md) {

  .templateContainer .templateContent {
    width: 83%;

    h1, h2, h3, h4, h5, h6, p, .vis, blockquote, .byLine {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }

    blockquote p {
      width: 100%;
    }

    .mainVis {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
@media screen and (max-width: $breakpoint-lg - 1) {
  .templateContent {
    .byLine {
      flex-direction: column;
      justify-content: normal;
      .heroSocialShare {
        display: flex;
        align-items: center;
        height: 3rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-md - 1px) {

  .templateContainer .templateContent {
    width: 100%;
    h1, h2 {
      margin: 2rem 0 1rem;
    }
    h6 {
      font-size: $font-size-18;
      margin: 2rem 0;
    }
    .mainVis {
      height: 21.25rem;
      margin-left: -0.75rem;
      margin-right: -0.75rem;
    }
    .byLine {
      padding: 0;
      .by {
        display: block;
        padding-right: 0;
      }
      .dateStamp {
        display: inline-block;
      }
    }

    p {
      margin: 0.75rem auto 1.25rem;
    }

    hr {
      margin: 4rem 0 2rem;
    }
  }
}
