@import '../../variables.module.scss';

.pageTitle {
  @include pageTitle;
  margin: 0 0 0.5rem;
}

.tagLine {
  font-size: $font-size-16;
  max-width: 856px;
  margin: 0;
  line-height: normal;
  color: $font-title;
}

.releaseCalendarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: $breakpoint-lg) {
  .tagLine {
    font-size: $font-size-20;
    line-height: 1.5;
  }
}
