@import "src/variables.module";

:global(.chartContainerHeader) {
  font-size: $font-size-14 !important;
  align-items: center;
}

:global(.chartContainerChart) {
  margin: 0 !important;
}

.chartHeaderContainer {
    display: flex;
    flex-direction: column;

  .toggle {
    border-style: solid;
    height: 2rem;
    width:450px;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: .25rem;
  }

  .dataHeaderContainer {
    margin-bottom: .75rem;
    .header {
      font-size: $font-size-24;
      font-weight: bold;
    }
    .category {
      color: #5b616b;
      font-size: $font-size-14;
      font-weight: $semi-bold-weight;
      margin: .625rem 0;
    }
    .dataLabels {
      display: flex;
      flex-direction: row;
      justify-content: center;

      .headerTitle {
        font-weight: bold;
        font-size: $font-size-36;
        width: 128px;
      }

      .subHeader {
        color: #5b616b;
        font-size: $font-size-14;
        font-weight: $semi-bold-weight;
        margin: 0 1.25rem;
      }
    }
  }
}


@media screen and (max-width: $breakpoint-lg - 1) {
  :global(.chartContainerFooter) {
    font-size: $font-size-14 !important;
  }
  .chartHeaderContainer {
    .toggle {
      height: 1.5rem;
      width: 300px;
      margin-bottom: 2rem;
      margin-top: .25rem;
    }

  .dataHeaderContainer {
    margin-bottom: .75rem;
    .dataLabels {
      .headerTitle {
        font-weight: bold;
        font-size: $font-size-24;
        width: 80px;
      }

      .subHeader {
        color: #5b616b;
        font-size: $font-size-10;
        font-weight: $semi-bold-weight;
        margin: 0 1.25rem;
      }
    }
  }
  }
}
