@use 'src/variables.module' as *;

.yearButton {
  font-size: $font-size-16;
  background: none;
  border: none;
  color: $font-body-copy;
  font-weight: $semi-bold-weight;
  padding: 0.625rem 1rem 0.625rem 0;
  margin-top: 1rem;
  width: 100%;
  cursor: pointer;

  .arrowIcon {
    padding-left: 0.5rem;
  }
}

.dropdownList {
  overflow-y: auto;
  margin-top: -1.5rem;

  ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 12.375rem;
  }

  li {
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100%;

    button {
      font-size: $font-size-16;
      background: none;
      border: none;
      color: $font-body-copy;
      padding: 0.5rem 0.75rem;
      width: 100%;
      border-radius: 3px;
      cursor: pointer;

      &.selected {
        background-color: $primary-blue !important;
        color: $primary;
      }

      &:disabled {
        cursor: default;
        opacity: 0.5;
      }

      &:hover:not([disabled]) {
        background-color: $body-background;
        transition: background-color 0.2s ease;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .yearButton {
    padding-right: 0;
  }
}
