@import '../../variables.module.scss';

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: $main-width;
  align-items: center;
  margin: 4rem auto 6rem;
  color: $card-body;

  > * {
    margin: 2rem 2rem 0 2rem;
  }
}

.logo {
  width: 11rem;
  height: 4rem;
  background-image: url('/logos/fd-logo-mobile.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.graphic {
  width: 100%;
  height: 125px;
  background-image: url('/download-images/mobile.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.errorGraphic {
  background-image: url('/download-images/broken-mobile.png');
}

.textContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  h1 {
    margin: 0 0 1.45rem 0;
    font-size: $font-size-20;
    font-weight: 600;
    text-align: center;
    max-width: 20rem;
  }
}

.error {
  max-width: 25rem;
}

.text {
  max-width: 39.19rem;
  font-size: $font-size-20;
  font-weight: 300;
  text-align: center;
}

@media screen and (min-width: $breakpoint-sm) {
  .logo {
    width: 19.125rem;
    height: 5.31rem;
  }
  .text {
    font-size: $font-size-32;
  }
  .header {
    h1 {
      max-width: 50rem;
      font-size: $font-size-32;
    }
  }
  .graphic {
    max-width: 814px;
    width: 100%;
    max-height: 322px;
    height: 322px;
    background-image: url('/download-images/desktop.png');
    background-size: contain;
  }
  .errorGraphic {
    background-image: url('/download-images/download-error.gif');
  }
}
