@import '../../../variables.module.scss';

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 50px 15px;
  color:#666666;
  text-align: center;

  .heroImageHeading {
    margin: 0;
    font-size: $font-size-48;
    font-weight: 600;
  }

  .heroImageSubHeading {
    margin: 0;
    max-width: 554px;
    font-size: $font-size-16;
  }

  .counterContainer {
    text-align: center;
    padding: 1rem 0 2rem 0;
  }
  .counterSourceInfo {
    padding-top: 1rem;
    font-size: $font-size-14;
    > a {
      color: $hero-primary-link;
    }
  }
}

.bottomBorder {
  width: 100%;
}

@media screen and (min-width: $breakpoint-lg) {
  .mainContainer {
    .heroImageSubHeading {
      text-align: center;
    }
  }
  .bottomBorder {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: $breakpoint-lg - 1) {
  .mainContainer {
    margin-bottom: 0;
    width: calc(100% - 30px);
  }
  .bottomBorder {
    margin-bottom: 0;
  }
}
