@import '../../../variables.module.scss';

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #666666;
  text-align: center;
  padding: 2.25rem .625rem 2.813rem;

  .heroImageHeading {
    margin: 0;
    padding-bottom: 1rem;
    font-size: $font-size-48;
    font-weight: 600;
    max-width: 47rem;
  }

  .heroImageSubHeading {
    margin: 0;
    padding-bottom: 1rem;
    max-width: 554px;
    font-size: $font-size-18;

    &.deficit {
      margin: 0 0 1rem 0;
    }
  }

  .calloutContainer {
    max-width: 71.25rem;
  }

  .heroImageCallout {
    margin-top: 1rem;
    display: flex;
    align-items: flex-start;
    border: solid .063rem #f1f1f1;
    box-shadow: .25rem .25rem #f1f1f1;
    padding: .7rem 2rem .7rem 2rem;
    max-width: 71.25rem;

    .icon {
      color: #0071bc;
      height: 2.5rem;
      width: 2.25rem;
      padding-right: 1rem;
      padding-top: .2rem;
    }

    p {
      margin: 0;
      font-size: $font-size-16;
      text-align: left;
    }
  }

  .counterContainer {
    text-align: center;
    padding: 1rem 0 2rem 0;
  }

  .counterContainerSpending {
    text-align: center;
    padding: 1rem 0 0 0;
  }

  .counterSourceInfo {
    padding-top: 1rem;

    &.deficit {
      padding-top: 0;
    }

    &.debt {
      margin-top: -1rem;
      padding-top: 0;
      padding-bottom: 2rem;
    }

    font-size: $font-size-14;

    >a {
      color: $hero-primary-link;
    }
  }


  .flapWrapper {
    text-align: center;
    padding: 1rem 0 0 0;
  }

  .footNotes {
    font-size: $font-size-14;
    margin-top: .25rem;

    .footNotesPillData {
      margin-top: 2rem;
    }
  }

  .deficitBoxContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    justify-content: center;
  }

  .explainerArrow {
    width: 1rem;
    height: 1.5rem;
    font-size: $font-size-18;
    padding-top: 0.25rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .pillDataContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    justify-content: center;
  }

  .pillDataValue {
    border-radius: 15px;
    height: 1.5rem;
    width: 4rem;
    font-size: $font-size-14;
    font-weight: 600;
    color: #666666;
    padding-top: 0.25rem;
  }

  .pillDataPercent {
    border-radius: 15px;
    height: 1.5rem;
    width: 4rem;
    font-size: $font-size-14;
    font-weight: 600;
    color: #666666;
    padding-top: 0.25rem;
  }

}

.heroBorder {
  width: 100%;
}

@media screen and (min-width: $breakpoint-lg) {
  .mainContainer {
    .heroImageSubHeading {
      text-align: center;
    }
  }

  .heroBorder {
    margin-bottom: 2rem;
  }

}

@media screen and (max-width: $breakpoint-lg - 1) {
  .mainContainer {
    padding: 1.188rem .625rem 1.75rem;
    margin-bottom: 0;
    width: calc(100% - 30px);

    .heroImageCallout {
      padding: .938rem .5rem .938rem .563rem;

      .icon {
        height: 1.5rem;
        padding-right: .875rem;
        padding-top: .5rem;
        padding-left: .281rem;
      }
    }

    .heroImageSubHeading {
      padding-bottom: 0;
    }

    .counterContainer {
      padding-top: 1.25rem;
    }

    .deficitBox {
      width: 5rem;
    }
  }

  .heroBorder {
    margin-bottom: 0;
  }

}
