@use 'src/variables.module' as *;

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $hero-primary-text;
  text-align: center;
  padding: 2.25rem 0.625rem 2.813rem;
  .heroImageHeading {
    margin: 0;
    padding-bottom: 1rem;
    font-size: $font-size-48;
    font-weight: 600;
    max-width: 47rem;
  }

  .heroImageSubHeading {
    margin: 0;
    padding-bottom: 1rem;
    max-width: 554px;
    font-size: $font-size-18;

    &.deficit {
      margin: 0 0 1rem 0;
    }
  }
  .calloutContainer {
    max-width: 71.25rem;
  }

  .heroImageCallout {
    margin-top: 1rem;
    display: flex;
    align-items: flex-start;
    border: solid 0.063rem $hero-split-flap-background;
    box-shadow: 0.25rem 0.25rem $hero-split-flap-background;
    padding: 0.7rem 2rem 0.7rem 2rem;
    max-width: 71.25rem;

    .icon {
      color: $primary;
      height: 2.5rem;
      width: 2.25rem;
      padding-right: 1rem;
      padding-top: 0.2rem;
    }

    p {
      margin: 0;
      font-size: $font-size-16;
      text-align: left;
    }
  }

  .counterContainer {
    text-align: center;
    padding: 1rem 0 2rem 0;
    min-height: 6.125rem;
  }

  .counterSourceInfo {
    padding-top: 1rem;

    &.deficit {
      padding-top: 0;
    }

    &.debt {
      margin-top: -1rem;
      padding-top: 0;
      padding-bottom: 2rem;
    }

    font-size: $font-size-14;

    > a {
      color: $hero-primary-link;
    }
  }

  .flapWrapper {
    text-align: center;
    padding: 1rem 0 0 0;
    height: 50px;
  }

  .footNotes {
    font-size: $font-size-14;
    margin-top: 0.25rem;

    .footNotesPillData {
      margin-top: 2rem;
    }
  }

  .deficitBoxContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    justify-content: center;
  }
  .doubleDashs {
    display: flex;
    justify-content: center;
  }
  .explainerArrow {
    width: 1rem;
    height: 1.5rem;
    font-size: $font-size-18;
    padding-top: 0.25rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    svg {
      width: fit-content;
    }
  }
  .dashes {
    position: relative;
    display: inline-flex;
    top: 2px;
    width: 1rem;
    height: 1rem;
  }

  .pillDataContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    justify-content: center;
  }

  .pillDataValue {
    border-radius: 15px;
    height: 1.5rem;
    width: 4rem;
    font-size: $font-size-14;
    font-weight: 600;
    color: $hero-primary-text;
    padding-top: 0.25rem;
  }

  .pillDataPercent {
    border-radius: 15px;
    height: 1.5rem;
    width: 4rem;
    font-size: $font-size-14;
    font-weight: 600;
    color: $hero-primary-text;
    padding-top: 0.25rem;
  }
}

.heroBorder {
  width: 100%;
}

@media screen and (min-width: $breakpoint-lg) {
  .mainContainer {
    .heroImageSubHeading {
      text-align: center;
    }
  }

  .heroBorder {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: $breakpoint-lg - 1) {
  .mainContainer {
    padding: 1.188rem 0.625rem 1.75rem;
    margin-bottom: 0;
    width: calc(100% - 30px);

    .heroImageCallout {
      padding: 0.938rem 0.5rem 0.938rem 0.563rem;

      .icon {
        height: 1.5rem;
        padding-right: 0.875rem;
        padding-top: 0.5rem;
        padding-left: 0.281rem;
      }
    }

    .heroImageSubHeading {
      padding-bottom: 0;
    }

    .counterContainer {
      padding-top: 1.25rem;
    }

    .deficitBox {
      width: 5rem;
    }
  }

  .heroBorder {
    margin-bottom: 0;
  }

  .flapWrapper {
    margin-bottom: 3.15rem;
  }
}
