@use 'src/variables.module' as *;

.sectionHeader {
  background-color: $body-background;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  font-size: $font-size-14;
  font-weight: $semi-bold-weight;
}

.linkContainer {
  a,
  button {
    display: block;
    text-decoration: none;
    padding: 0.875rem 0 0.875rem 2rem;
    color: $font-body-copy;
    white-space: nowrap;
    font-size: $font-size-16;
  }

  button {
    background-color: white;
    border: none;
  }
}

.mainHeader {
  padding: 0.875rem 0 0.875rem 1rem;
}

.headerExpanded {
  color: $primary;
  font-weight: $semi-bold-weight;
}

.caret {
  padding-left: 1rem;
  width: 0.625rem;
}
.resourcesDropDown {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 6rem;

  button {
    margin-bottom: 0.5rem;
    padding: 0;
  }
}
.resourceLink {
  color: $font-body-copy;
  font-weight: normal;
  &:hover {
    color: $primary;
    font-weight: $semi-bold-weight;
  }
}
