@import '../../../../variables.module.scss';


.sectionHeader {
  background-color: #f1f1f1;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  font-size: $font-size-14;
  font-weight: $semi-bold-weight;
}

.linkContainer {
  a, button{
    display: block;
    text-decoration: none;
    padding: 0.875rem 0 0.875rem 2rem;
    color: #666666;
    white-space: nowrap;
    font-size: $font-size-16;
  }
  
  button {
    background-color: white;
    border: none;
  }
}

.mainHeader {
  padding: .875rem 0 .875rem 1rem;
}

.headerExpanded {
  color: $primary;
  font-weight: $semi-bold-weight;
}

.caret {
  padding-left: 1rem;
  min-width: 10px;
}
