@use 'src/variables.module' as *;
@use '../../../../explainer.module' as *;
@use '../../treasury-savings-bonds.module' as *;

.container {
  --chart-height: 27.375rem;
}

.chartLegend {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0.75rem 0 1rem;

  .lengendItem {
    display: flex;

    .label {
      font-size: $font-size-14;
      font-weight: $semi-bold-weight;

      &.leftLabel {
        color: $hero-primary-text;
      }

      &.rightLabel {
      }
    }

    .line {
      height: 0.5rem;
      width: 24px;

      &.leftLine {
        border-bottom: 2px solid $treasury-savings-bonds-explainer-secondary;
        margin-left: 0.5rem;
      }

      &.rightLine {
        border-bottom: 2px dotted $font-body-copy;
        margin-right: 0.5rem;
      }
    }
  }
}

.headerContainer {
  margin-top: 2rem;
}

.loadingIcon {
  @include grayLargeLoadingIcon;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chartStyle {
  @include reChartsBaseStyle;
  margin-bottom: 2rem;
}

@media screen and (max-width: $breakpoint-lg - 1) {
  .chartLegend {
    margin-top: 1.25rem;
  }
  .chartLegend {
    margin-bottom: 1rem;
  }

  .headerContainer {
    margin-top: 1.875rem;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .container {
    --chart-height: 26.875rem;
  }
}
