@use 'src/variables.module' as *;
@use 'src/zIndex.module' as *;

$dropdown-width: 45rem;
$search-width: 20rem;
$filter-width: calc($dropdown-width - $search-width - 1px);

.dropdownContent {
  width: $dropdown-width;
  height: 27.125rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 0.25rem;
  box-shadow: 0 0.25rem 1rem 0 rgba(0, 0, 0, 0.15);
  z-index: $data-preview-filters-dropdown;
  margin-top: 0.25rem;

  .mainContainer {
    height: 22.875rem;
    display: flex;
    .search {
      width: $search-width;
      border-right: 1px solid $light-grey-border;
      overflow-y: auto;
    }

    .filter {
      width: $filter-width;
    }
  }

  .headerBox {
    margin: 1rem 1rem 0 1rem;
    font-weight: $semi-bold-weight;
  }

  .footer {
    border-top: 1px solid $light-grey-border;
  }
}
