@use 'src/variables.module' as *;

$dropdown-width: 13.5rem;

.header {
  display: flex;
  border-bottom: 1px solid #f1f1f1;
  justify-content: space-between;
  align-items: center;
}

.monthYearButton {
  border: none;
  background: none;
  color: $font-body-copy;
  font-size: $font-size-14;
  padding: 1rem 0.75rem;
  &.selectedDropdown {
    font-weight: $semi-bold-weight;
    color: $primary;
  }

  &.monthButton {
    width: 60%;
  }
  &.yearButton {
    width: 40%;
  }

  .icon {
    color: $font-body-copy;
    margin-left: 0.5rem;
  }
}

.dropdownButton {
  display: flex;
  padding: 0.5rem 1rem;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  border-radius: 3px;
  border: 1px solid $light-grey-border;
  background: #fff;
  width: $dropdown-width;
  color: $font-body-copy;
  font-size: $font-size-16;
  .label {
    font-weight: $semi-bold-weight;
  }
}

.dropdownContent {
  background-color: white;
  z-index: $dtg-table-loading-icon + 1;
  position: absolute;
  box-shadow: 0 0.25rem 1rem 0 rgba(0, 0, 0, 0.15);
  margin-top: 0.125rem;
  width: $dropdown-width;
  border: 1px solid #f1f1f1;
  border-radius: 0.25rem;
}

.dropdownList {
  overflow-y: auto;
  margin-top: -1.5rem;

  ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 12.375rem;
  }

  li {
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100%;

    button {
      font-size: $font-size-16;
      background: none;
      border: none;
      color: $font-body-copy;
      padding: 0.5rem 0.75rem;
      width: 100%;
      border-radius: 3px;
      cursor: pointer;

      &.selected {
        background-color: $primary-blue !important;
        color: $primary;
        font-weight: $semi-bold-weight;
      }

      &:disabled {
        cursor: default;
        opacity: 0.5;
      }

      &:hover:not([disabled]) {
        background-color: $body-background;
        transition: background-color 0.2s ease;
      }
    }
  }
}
