@use 'src/variables.module' as *;

$borderRadius: 5px;

.overlayContainerNoFooter {
  position: relative;
  //border: $table-border-style;
  border: 7px solid red;
  border-radius: $borderRadius;
}

.rawDataTableContainer {
  position: relative;
  box-sizing: border-box;
  background-color: white;
  overflow-y: auto;
  min-height: 4rem;
  table {
    border-spacing: 0;
    border: 0;
    height: fit-content;
  }
}

.downloadLinkContainer {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.downloadLinkIcon {
  color: $primary;
}

:export {
  tableBorderStyle: $table-border-style;
}
