@import '../../../variables.module.scss';

$borderRadius: 5px;

.tableStyle {
  overflow-x: auto;
  width: 100%;
  order: 1;

  .rawDataTableContainer,
  .nonRawDataTableContainer {
    position: relative;
    box-sizing: border-box;
    border-top: 0;
    background-color: white;
    overflow-y: auto;
  }

  .rawDataTableContainer {
    height: 521px;
  }
  .nonRawDataTableContainer {
    max-height: 521px;
  }

  table {
    margin-top: -3px;
  }

  table,
  .divTable {
    border-bottom: 1px solid lightgray;
    width: fit-content;
    border-collapse: separate;
    border-spacing: 0;
  }

  .tr {
    display: flex;
  }

  tr,
  .tr {
    width: fit-content;
    height: 1.875rem;
    border-bottom: 1px solid $light-grey-border;
  }

  td,
  .td {
    padding: 0.5rem 2rem;
    border-right: 1px solid $light-grey-border;
  }

  #th-parent {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  td,
  .td {
    height: 1.875rem;
  }
}
.range {
  font-weight: $semi-bold-weight;
}

.overlayContainer,
.overlayContainerNoFooter {
  position: relative;
}

.overlayContainerNoFooter {
  border: 1px solid $dd-border-color;
  border-top: 0;
  border-bottom-left-radius: $borderRadius;
  border-bottom-right-radius: $borderRadius;
}

.selectColumnsWrapper {
  display: flex;

  .selectColumnPanelInactive {
    display: none;
  }

  .selectColumnPanelActive {
    display: block;
    border-left: 1px solid $border-color;
    margin-top: -2.75rem;
  }

  .selectColumnPanelActive,
  .selectColumnPanelInactive {
    height: 565px;
    order: 2;
    width: 450px;
  }
}

.downloadLinkContainer {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.downloadLinkIcon {
  color: $primary;
}
