@import 'src/variables.module.scss';

.container {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.info {
  display: inline-flex;
  padding: 1.125rem 2.25rem;
  background-color: $table-notice-color;
  text-align: left;
  max-width: 47.5rem;
}

.icon {
  color: $primary;
  font-size: $font-size-16;
  margin-right: 0.75rem;
  margin-top: 0.125rem;
}

.notShownHeading {
  @include headingStyle6;
  font-size: $font-size-16;
  margin-bottom: 0.5rem;
}

.notShownBodyText {
  @include bodyStyleRegular;
  font-size: $font-size-14;
}

@media screen and (max-width: $breakpoint-lg - 1) {
  .container {
    text-align: center;
    position: absolute;
    top: 33%;
    left: 0;
    transform: unset;
  }

  .info {
    padding: 1rem;
  }
}
