@import '../../../../variables.module.scss';

.cardContainer {
    position: relative;
}

.cardPlacement {
    position: absolute;
    width: 100%;
    transition: top 0.7s ease, left 0.7s ease;
}

.hiddenCard {
  display: none;
}

@media screen and (min-width: $breakpoint-sm) {
    .cardPlacement {
        width: 49%;
    }
}

@media screen and (min-width: $breakpoint-lg) {
    .cardPlacement {
        width: 32%;
    }
}
