@use 'src/variables.module' as *;

.relatedResource {
  margin-bottom: 0.5rem;
  &:last-child {
    margin-bottom: 0;
  }
  .externalIcon {
    color: $primary;
    margin-right: 0.5rem;
    margin-top: 0.25rem;
    width: fit-content;
  }

  .linkText {
    display: flex;
    align-items: flex-start;
  }
}
.container {
  display: flex;
  flex-direction: column;
  margin: 0 1.25rem;
  max-width: 25.25rem;

  .title {
    margin: 1.5rem 0 0.5rem 0;
    font-size: $font-size-16;
    font-weight: $semi-bold-weight;
    text-align: left;
    color: $font-title;
  }
  .headTitle {
    margin: 0 0 0.5rem 0;
    font-size: $font-size-16;
    font-weight: $semi-bold-weight;
    text-align: left;
    color: $font-title;
    @media screen and (max-width: $breakpoint-lg - 1) {
      margin: 1.5rem 0 0.5rem 0;
    }
  }
  .exchangeRateFAQ {
    .containerClass:not(:last-child) {
      margin-bottom: 0.5rem;
    }
    :global(.accordionHeading) {
      font-size: $font-size-16;
      color: $primary;
      border: none;
      padding: 0.75rem 1rem;
    }

    :global(.accordionToggle) {
      svg path {
        color: $primary;
      }
    }

    :global(.accordionContent) {
      padding: 0 1.25rem 1.5rem;
      border: none;
    }

    :global(.accordionOpen),
    :global(.accordionClosed) {
      border: solid 0.06rem $light-grey-border;
      border-radius: 0.13rem;
    }
  }

  .footer {
    max-width: 34.563rem;
    margin: 2rem 0 5rem;
    font-size: $font-size-14;
  }
}

.resourceList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: $breakpoint-lg - 1) {
  .container {
    max-width: none;
  }
}
