@use 'src/variables.module' as *;
@use 'src/zIndex.module' as *;

.dropdownContainer {
  width: 20rem;
  background-color: white;
  z-index: $published-reports-date-picker + 5;
  position: absolute;
  box-shadow: 0 0.25rem 1rem 0 rgba(0, 0, 0, 0.15);
  padding-top: 1rem;
  margin-top: 0.5rem;

  .publishedDateLabel,
  .selectedDateDisplay {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

.buttonContainer {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #d9d9d9;

  .applyButton {
    background-color: $primary;
    border-radius: 3px;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    &:disabled {
      cursor: default;
      opacity: 50%;
    }
    .checkIcon {
      padding-right: 0.5rem;
      color: white;
    }
  }

  .cancelButton {
    margin-right: 1rem;
    align-self: center;
    text-decoration: underline;
    color: $font-body-copy;
    padding: 0;
    font-size: $font-size-16;
    background: none;
    border: none;
  }

  .applyButton,
  .cancelButton {
    font-weight: $semi-bold-weight;
    font-size: $font-size-16;
    cursor: pointer;
  }
}
