@import '../../../variables.module.scss';
@import '../../../zIndex.module.scss';

$flap-border-radius: 3px;
$flap-padding: .5rem;

@mixin mid-card-line($zIndex) {
  &:after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: $zIndex;
    opacity: 1;
    background: transparent;
    border-bottom: 1px $dark-grey-border solid;
  }
}

.split-flap-character {
  user-select: none;
  display: block;
  position: relative;
  margin: 0 .1875rem;

  font-size: $font-size-40;
  line-height: 1.25em;
  text-align: center;
  color: $hero-primary-text;

  .static-character {
    padding: 0;
    font-weight: 300;
    text-shadow: none;
    position: relative;
  }

  .split-flap {
    display: block;
    background: $hero-split-flap-background;

    perspective: 400px; // does not need to be relative to font-size
    min-width: $font-size-40;
    height: 1.25em;

    border-radius: $flap-border-radius;
    @include mid-card-line($mid-card-line);

    .half-panel {
      position: relative;
      background-clip: border-box;
      background-color: $hero-split-flap-background;

      &.top {
        border-radius: $flap-border-radius $flap-border-radius 0 0;
        height: .626em;
        overflow: hidden;
        z-index: $half-panel-top;
        transform-origin: bottom;

      }

      &.bottom {
        border-radius: 0 0 $flap-border-radius $flap-border-radius;
        top: .626em;
        height: .625em;
        margin-top: -.625em;
        z-index: $half-panel-bottom;
        transform-origin: top;
        overflow: hidden;

        > span {
          position: relative;
          top: -100%;
        }
      }

      &.flip {
        opacity: 1;

        &.flip-in {
          animation-fill-mode: forwards;
          z-index: $half-panel-flip-in;
        }

        &.flip-out {
          margin-top: -.625em;
          z-index: $half-panel-flip-out;
          background: linear-gradient(
              $hero-split-flap-background 50%,
              darken($hero-split-flap-background, 10%)
          );
          background-size: 200% 200%;
        }
      }
    }
  }
}

@keyframes FlipIn {
  0% {
    transform: rotateX(90deg);
  }
  50% {
    transform: rotateX(90deg);
    box-shadow: 0 5px 15px darken($hero-split-flap-background, 5%);
  }
  95% {
    box-shadow: 0 0 0 darken($hero-split-flap-background, 10%);
  }
  100% {
    transform: rotateX(0deg);
    box-shadow: 0 0 0 $hero-split-flap-background;
  }
}

@keyframes FlipOut {
  0% {
    transform: rotateX(0deg);
    background-position: 100% 5%;
  }
  50% {
    transform: rotateX(-90deg);
    background-position: 100% 125%;
  }
  100% {
    transform: rotateX(-90deg);
    background-position: 100% 100%;
  }
}


