@use 'src/variables.module.scss' as *;

.legendContainer {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.expenseLegend {
  display: flex;
}
.footerText {
  font-weight: 600;
}
.expenseText {
  color: $interest-expense-primary;
  font-weight: 600;
}

.line {
  margin-top: 0.5rem;
  margin-right: 0.2rem;
  display: inline-block;
  width: 20px;
  border-top: 2px solid $font-title;
}

.rectangle {
  width: 12px;
  height: 16px;
  background: $interest-expense-primary;
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.stripedRectangle {
  width: 12px;
  height: 16px;
  margin-top: 0.2rem;
  background-color: #fff;
  background-image: repeating-linear-gradient(135deg, transparent, transparent 2px, $interest-expense-primary 0, $interest-expense-primary 5px);
}

.rateLegend {
  display: flex;
}

.infoTipContainer {
  padding-left: 0.3125rem;
}

.chartTableBoarder {
  border: 1px;
  padding: 1rem 0.5rem;
}
