@use 'src/variables.module' as *;

.mainContent {
  color: $font-body-copy;

  .tileLayoutWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  // triggered in desktop form, where image/text is side by side
  &.twoColLayout {
    @media screen and (min-width: $breakpoint-lg) {
      .tileLayoutWrapper {
        flex-direction: row;
        flex-wrap: nowrap;
      }
      .imageSection {
        flex: 0 0 16.25rem;
      }

      .textSection {
        padding-left: 2rem;
      }
    }
  }

  .iconTitle {
    display: flex;
  }

  h5 {
    color: $font-title;
    font-weight: $semi-bold-weight;
    margin: 0;

    &.rightTileText {
      padding-top: 0.5rem;
    }

    &.mainTitle {
      font-size: $font-size-32;
      padding-top: 1rem;
      padding-bottom: 0.5rem;
      display: flex;
      align-items: flex-start;
    }

    &.secondaryTitle {
      font-size: $font-size-24;
      padding-bottom: 0.5rem;
    }

    @media screen and (max-width: $breakpoint-lg - 1) {
      &.secondaryTitle {
        padding-top: 0.5rem;
      }
    }
  }

  .comingSoon {
    width: 98.75%;
    margin-left: auto;
    margin-right: 0;
  }

  .afgBookIcon {
    width: 3rem;
    height: 2rem;
    padding: 1.4375rem 0.5rem 0.2rem 0;
    vertical-align: text-bottom;
  }
}

.showOnDesktop {
  display: block;
}
.showOnMobile {
  display: none;
}

@media screen and (min-width: $breakpoint-lg) {
  .mainContent {
    .explainerImage {
      width: 16.25rem;
      height: 10rem;
    }
  }
}

@media screen and (max-width: $breakpoint-lg - 1) {
  // image that displays changes in mobile view - only impacts afg overview
  .showOnDesktop {
    display: none;
  }
  .showOnMobile {
    display: block;
  }
  .mainContent {
    .explainerImageContainer {
      padding-top: 0;
    }
    .afgBookIcon {
      padding-top: 1.03125rem;
    }
  }
}
