@use 'src/variables.module' as *;

.mainContent {
  color: $font-body-copy;

  .grid {
    max-width: 16.25rem;
    max-height: 10rem;
  }

  .leftTile {
    padding-left: 2rem;
  }

  .iconTitle {
    display: flex;
  }

  h5 {
    color: $font-title;
    font-weight: $semi-bold-weight;
    margin: 0;

    &.mainTitle {
      font-size: $font-size-32;
      padding: 1rem 0 0.5rem;
      display: flex;
      align-items: flex-start;
    }

    &.secondaryTitle {
      font-size: $font-size-24;
      padding-bottom: 0.5rem;
    }

    &.rightTile {
      padding-top: 0.5rem;
    }
  }

  .comingSoon {
    width: 98.75%;
    margin-left: auto;
    margin-right: 0;
  }

  .tileContainer {
    padding-top: 0.5rem;
  }

  .afgBookIcon {
    width: 3rem;
    height: 2rem;
    padding: 1.4375rem 0.5rem 0.2rem 0;
    vertical-align: text-bottom;
  }
}
.showOnDesktop {
  display: block;
}
.showOnMobile {
  display: none;
}
@media screen and (min-width: $breakpoint-lg) {
  .mainContent {
    .explainerImageContainer {
      margin-right: 1rem;
    }
    .explainerImage {
      width: 16.25rem;
      height: 10rem;
    }
  }
}

@media screen and (max-width: $breakpoint-lg - 1) {
  .mainContent {
    .explainerImageContainer {
      padding-top: 0;
    }
    h5 {
      &.secondaryTitle,
      &.mainTitle {
        padding-top: 0.5rem;
      }
    }
    .afgBookIcon {
      padding-top: 1.03125rem;
    }
  }
  .showOnDesktop {
    display: none;
  }
  .showOnMobile {
    display: block;
  }
}
