@import 'src/variables.module';

$main-feature-title: $font-size-32;
$main-feature-body: $font-size-16;
$secondary-feature-title: $font-size-24;
$secondary-feature-body: $font-size-16;

.mainContent {
  color: #666666;

  .grid {
    max-width: 16.25rem;
    max-height: 10rem;
  }

  .leftTile {
    padding-left: 2rem;
  }

  .iconTitle {
    display: flex;
  }

  h5 {
    color: #555555;
    font-weight: $semi-bold-weight;
    margin: 0;

    &.mainTitle {
      font-size: $main-feature-title;
      padding: 1rem 0 .5rem;
      display: flex;
      align-items: flex-start;
    }

    &.secondaryTitle {
      font-size: $secondary-feature-title;
      padding-bottom: .5rem;
    }

    &.rightTile {
      padding-top: .5rem;
    }
  }

  .comingSoon {
    width: 98.75%;
    margin-left: auto;
    margin-right: 0;
  }

  .tileContainer {
    padding-top: .5rem;
  }

  .afgBookIcon{
    width: 3rem;
    height: 2rem;
    padding: 1.4375rem .5rem 0.2rem 0;
    vertical-align: text-bottom;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .mainContent {
    .explainerImageContainer {
      margin-right: 1rem;
    }
    .explainerImage {
      width: 16.25rem;
      height: 10rem;
    }
  }
}

@media screen and (max-width: $breakpoint-lg - 1) {
  .mainContent {
    .explainerImageContainer {
      padding-top: 0;
    }
    h5 {
      &.secondaryTitle, &.mainTitle {
        padding-top: .5rem;
      }
    }
    .afgBookIcon{
      padding-top: 1.03125rem;
    }
  }
}
