@import '../../variables.module.scss';
$SelectAllWidth: 261px;

.row {
  display: flex;
  margin-bottom: 0.5rem;
  justify-content: space-between;
  align-items: center;

  &:last-of-type {
    margin-bottom: 0;
  }

  label {
    display: block;
    cursor: pointer;
    font-size: $font-size-14;
    color: $font-body-copy;
    transition: color ease 0.2s;
    position: relative;
    
    &:hover {
      color: darken($font-body-copy, 40%);
    }
  }

  [type="checkbox"] {
    position: absolute;
    display: inline-block;
    min-width: 1rem;
    min-height: 1rem;
    margin-right: 1px;
    overflow: hidden;
  }
  
  [type="checkbox"]:checked + span {
    background: $primary -19px top no-repeat;
    border: 1px solid $primary;
  }
  
  [type="checkbox"] + span {
    display: inline-block;
    position: relative;
    top: -1px;
    width: 1rem;
    height: 1rem;
    right: -3.5px;
    vertical-align: middle;
    background: white left top no-repeat;
    border: 1px solid #ccc;
    cursor: pointer;
    margin-right: 0.5rem;
    border-radius: 2px;
  }

  .labelCheckmarkContainer {
    position: relative;
    color: white;
  }
  
  .labelCheckmarkText {
    position: absolute;
    bottom: -2px;
    left: 2px;
    font-size: 0.9rem;
  }

  [type="checkbox"]:indeterminate + span {
    background: $primary -19px top no-repeat;
    border: 1px solid $primary;
  }

  .checkmarkText {
    position: absolute;
    bottom: -3px;
    left: 2px;
    font-size: 0.9rem;
  }
}

.container {
  padding: 1rem;
}
