@use 'src/variables.module' as *;

.container {
  display: flex;
  flex-direction: column;
  margin: 0 2.75rem 0 1.25rem;

  .headTitle {
    margin: 0;
    font-size: $font-size-16;
    font-weight: $semi-bold-weight;
    text-align: left;
    color: $font-title;
  }
  .arrowsIcon {
    margin-right: 0.5rem;
    width: 1rem;
  }
  .conversionContainer {
    margin: 0 0 0.5rem 0;
    display: flex;
  }

  .currencyBoxContainer {
    display: flex;
    flex-direction: row;
    margin: 1.5rem 0 1.5rem 0;
  }

  .boxWidth {
    width: 100%;
  }

  .conversionTitle {
    font-size: $font-size-12;
    font-weight: 700;
    color: #555555;
  }
}

.selector {
  margin-right: 0.5rem;
  font-weight: 600;
  width: 47.5%;

  @media screen and (max-width: $breakpoint-lg - 1) {
    width: 100%;
  }
}

.box {
  width: 100%;
  height: 2.75rem;
}

@media screen and (max-width: $breakpoint-lg - 1) {
  .container {
    margin-right: 1.25rem;
    .currencyBoxContainer {
      flex-direction: column;
    }
  }
}
