@import '../../../variables.module.scss';

.iconContainer {
  margin-top: -2rem;
  .iconBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: calc(50%);

    .iconBackdrop {
      color: #fff;
    }

    .offsetIcon {
      position: absolute;
    }
  }
}

.quoteContainer {
  border-radius: 0.125rem;
  box-sizing: border-box;
  width: 100%;
  border-style: solid;
  border-width: 0.125rem;
  margin-right: 1.75rem;
  font-size: $font-size-20;
  line-height: 1.875rem;

  p {
    margin: 0;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .iconContainer {
    .iconBackground {
      height: 4rem;
      width: 4rem;
      min-width: 4rem;
      border-radius: 2rem;
      transform: translate(-50%, 2rem);

      .iconBackdrop,
      .offsetIcon {
        font-size: 2rem;
        transform: translate(1.125rem, -0.563rem);
      }

      .offsetIcon {
        transform: translate(1.313rem, -0.75rem);
      }
    }
  }

  .quoteContainer {
    p {
      padding: 3.188rem 1.25rem 2rem;
    }
  }
}

@media screen and (max-width: $breakpoint-lg - 1) {
  .iconContainer {
    .iconBackground {
      height: 3rem;
      width: 3rem;
      min-width: 3rem;
      border-radius: 1.5rem;
      transform: translate(-50%, 1.5rem);
      margin-top: 0.5rem;

      .iconBackdrop,
      .offsetIcon {
        font-size: 1.813rem;
        transform: translate(0.75rem, -0.375rem);
      }

      .offsetIcon {
        transform: translate(0.938rem, -0.563rem);
      }
    }
  }

  .quoteContainer {
    p {
      padding: 2.813rem 0.875rem 1.813rem 1.125rem;
    }
  }
}
