@use 'src/variables.module' as *;
@use '../../treasury-savings-bonds.module.scss' as *;
@use '../../../../explainer.module' as *;

.dataHeader {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  .inflationToggleContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 1.75rem 0 1rem;

    .inflationLabel {
      color: $treasury-savings-bonds-explainer-darker-secondary;
      font-size: $font-size-16;
      font-weight: $semi-bold-weight;
      margin-right: 0.5rem;
    }
    .infoTipContainer {
      padding-top: 0.25rem;
      margin-left: 0.25rem;
    }
  }
}

.container {
  --chart-height: 31.44rem;
}

.loadingIcon {
  @include grayLargeLoadingIcon;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chartStyle {
  @include reChartsBaseStyle;
}
.chartContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 1.125rem;
}
