@import 'src/variables.module.scss';
@import '../../treasury-savings-bonds.module.scss';

.dataHeader {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  .inflationToggleContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 1.75rem 0 1rem;

    .inflationLabel {
      color: $treasury-savings-bonds-explainer-secondary;
      font-size: $font-size-16;
      font-weight: $semi-bold-weight;
      margin-right: 0.5rem;
    }
  }
}

.chartStyle {
  width: 100%;

  tspan {
    color: $font-body-copy;
    font-size: $font-size-14;
  }
}
