@import 'src/variables.module';

.shareButtonContent {
  display: flex;
  align-items: center;
  font-size: $font-size-16;
  height: 1.25rem;

  .shareButtonText {
    color: #666;
    margin: 0 0 0 .5rem;
    height: 1.25rem;
  }

  .listShareButtonText {
    color: #666;
    margin: 0;
    height: 1.25rem;
  }

  .facebookIcon {
    color: #3a5997;
    width: 1.125rem;
    height: 1rem;
    margin: .125rem .5rem .125rem 0;
  }

  .twitterIcon {
    color: #54acee;
    width: 1.125rem;
    height: 1rem;
    margin: .125rem .5rem .125rem 0;
  }

  .linkedInIcon {
    color: #057ab5;
    width: 1.125rem;
    height: 1rem;
    margin: .125rem .5rem .125rem 0;
  }

  .redditIcon {
    color: #ff4500;
    width: 1.125rem;
    height: 1rem;
    margin: .125rem .5rem .125rem 0;
  }

  .emailIcon {
    color: #666;
    width: 1.125rem;
    height: 1rem;
    margin: .125rem .5rem .125rem 0;
  }
}



@media screen and (max-width: $breakpoint-lg - 1) {
  .shareButtonContent {
    .facebookIcon, .twitterIcon,
    .linkedInIcon, .redditIcon, .emailIcon {
      margin: 0;
    }
    .listShareButtonText {
      margin-left: .5rem;
    }
  }
}
