@use 'src/variables.module' as *;

.shareButtonContent {
  display: flex;
  align-items: center;
  font-size: $font-size-16;
  height: 1.25rem;

  .shareButtonText {
    color: #666;
    margin: 0 0 0 0.25rem;
    height: 1.25rem;
  }

  .listShareButtonText {
    color: #666;
    margin: 0;
    height: 1.25rem;
  }

  .facebookIcon {
    color: #1877f2;
  }

  .xTwitterIcon {
    color: #000000;
  }

  .linkedInIcon {
    color: #0077b5;
  }

  .redditIcon {
    color: #ff4500;
  }

  .emailIcon {
    color: #666;
  }

  .facebookIcon,
  .xTwitterIcon,
  .linkedInIcon,
  .redditIcon,
  .emailIcon {
    height: 1rem;
    margin: 0.125rem 0.25rem 0.125rem 0;
    &:hover {
      color: #555555;
    }
  }

  .listShareButtonText,
  .shareButtonText {
    &:hover {
      color: #555555;
    }
  }
}

@media screen and (max-width: $breakpoint-lg - 1) {
  .shareButtonContent {
    .facebookIcon,
    .xTwitterIcon,
    .linkedInIcon,
    .redditIcon,
    .emailIcon {
      margin: 0;
    }
    .listShareButtonText {
      margin-left: 0.5rem;
    }
  }

  .responsiveText {
    display: none;
  }
}
