@use 'src/variables.module' as *;

.filterContainer {
  display: flex;
  gap: 0.5rem;
}
.filterAndDownloadContainer {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}

@media screen and (max-width: $breakpoint-xl - 1) {
  .filterContainer {
    flex-direction: column;
    max-width: 30rem;
  }
  .filterAndDownloadContainer{
    display: block;
  }
}

.toggleDownloadContainer {
  display: flex;
  gap: 0.5rem;
}

.noFilterMatchContainer {
  padding: 1rem;

  .boldedSearchText {
    font-weight: $semi-bold-weight;
  }
}
