@import '../../../../variables.module.scss';
@import "../../../../styles";
@import '../../../../zIndex.module.scss';


.resetButton {
  @include primaryButton;
  border-radius: 3px;
  margin-right: 1rem;
  display: flex;
  align-items: center;

  .filterCount {
    margin-right: 3px;
    font-size: 1.25rem;
  }
}

.resetIcon {
    font-size: '1.25rem';
}

.floatingToggle {
  display: block;
  bottom: 25px;
  width: 100%;
  z-index: $toc-button;

  .container {
    box-sizing: border-box;
    max-width: calc(100% - 2rem);
    width: 450px;
    margin: 0 auto;
    display: flex;
  }

  .toggleButton {
    @include primaryButton;
    border-radius: 3px;
    width: 100%;
    line-height: 0.69;
    padding-top: 1rem;
    padding-bottom: 1rem;

    &.cancelButton, &.cancelButton:enabled:hover {
      background-color: white;
      color: $primary;
    }
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .floatingToggle {
    display: none;
  }
}

@media screen and (max-width: $breakpoint-lg - 1) {
  .floatingToggle {
    position: sticky;
  }
}
