@use 'src/variables.module' as *;

.dropdownButton {
  font-size: $font-size-16;
  background: none;
  border: 1px solid $light-grey-border;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $font-body-copy;
  height: 2.625rem;
  padding: 0 1rem;
  white-space: nowrap;

  svg {
    width: 0.625rem;
  }

  &.buttonEnabled {
    cursor: pointer;
  }
  &:disabled {
    opacity: 40%;
  }

  .buttonContent {
    overflow-x: hidden;
    text-overflow: ellipsis;
    margin-right: 0.25rem;
  }

  .muiButtonContent {
    display: flex;
    align-items: center;

    svg {
      padding-right: 14px;
    }
  }

  .publishedDateLabel {
    font-weight: $semi-bold-weight;
    white-space: pre;
  }

  .selectedOptionText {
    overflow-x: hidden;
    text-overflow: ellipsis;
  }

  @media screen and (max-width: $breakpoint-lg) {
    max-width: 30rem;
  }
}

.glow {
  border-radius: 0.125rem;
  .dropdownButton {
    border: 1px solid $primary;
    box-shadow: 0 0 0 0.25rem $primary-blue;
  }
}

.labelIcon {
  padding-right: 14px;
}

.backgroundHighlight {
  background: $table-notice-color;
}
