@import "src/variables.module";
.spendingChart {
  font-size: $font-size-14;
color: $font-body-copy;

.legend {
  display: flex;
  margin-bottom: 1rem;

  .legendItem {
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }
}

.chartTitle {
  font-weight: $semi-bold-weight;
  margin-bottom: 1rem;
}

.chartContainer {
  max-width: 396px;
  right: 36px;
  top: 16px;
  position: relative;
  tspan {
    color: $font-body-copy;
  }
}

}
.tooltip {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  font-size: $font-size-14;
  color: $font-body-copy;
  border: none;
  padding: 12px 16px;
  border-radius: 2px;
  opacity: 0.95;
  background: #FFF;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);

  .tooltipLabel {
    font-weight: $semi-bold-weight;
    margin-bottom: 0.5rem;
  }

  .tooltipRow:not(:last-child) {
    margin-bottom: .25rem;
  }

  .tooltipRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .value {
      display: flex;
      .title {
        font-weight: $semi-bold-weight;
        margin-right: .75rem;
      }
    }
  }
}

.dot {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  display: inline-block;
  margin-right: .5rem;
}
