@import 'src/variables.module';

.sectionContainer {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 1rem;
  .tableName {
    font-size: $font-size-16;
    font-weight: $semi-bold-weight;
  }
  .radioButton {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    cursor: pointer;
    input[type='radio'] {
      margin: 0 0.5rem 0 0;
      cursor: pointer;
      accent-color: $font-body-copy;
    }
  }

  .pivotSectionContainer {
    margin-left: 2rem;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .buttonContainer {
    display: flex;
    flex-direction: column;
    &.disabled {
      opacity: 40%;
    }

    .buttonLabel {
      font-size: $font-size-14;
      margin-bottom: 0.25rem;
    }
  }
}

@media screen and (max-width: $breakpoint-lg - 1) {
  .sectionContainer {
    padding: 0 1rem 1rem 1rem;

    .radioButton {
      margin-top: 0;
      margin-bottom: 1rem;
    }
    .tableName {
      display: none;
    }
    .pivotSectionContainer {
      margin-left: 1.25rem;
      margin-top: 0;
    }
    .DropdownContainer,
    .ComboSelectDropdown {
      width: 100%;
      max-width: 100%;
    }
  }
}
