@use 'src/variables.module' as *;

.pillWrapper {
  padding-bottom: 1rem;
}

.pill {
  display: inline-block;
  border-radius: 1rem;
  background-color: $primary-pale;
  color: $primary;
  border: none;
  padding: 0 0.75rem;
  margin-right: 0.625rem;
  font-size: $font-size-14;
  line-height: 2em;
  white-space: nowrap;
}

.icon,
.materialIcon {
  font-size: $font-size-14;
  transform: translateY(-2px);
  padding-right: 0.5rem;
  vertical-align: middle;
}

.materialIcon {
  width: 1.125rem !important;
  height: 1.125rem !important;
}

.icon {
  width: $font-size-14;
}

.futureDateIconStyle {
  width: $font-size-14;
  height: $font-size-15;
  object-fit: contain;
  padding-right: 0.5rem;
  transform: translateY(2px);
}

@media screen and (max-width: $breakpoint-lg - 1) {
  .pill {
    margin-bottom: 0.5rem;
  }
  .pillWrapper {
    padding-bottom: 0.5rem;
  }
}
