@import '../../../variables.module.scss';

.list {
  list-style: none;
  margin-top: 0.875rem;
  margin-bottom: 0;
  padding-left: 1rem;
  padding-bottom: 1rem;

  li {
    font-size: $font-size-14;
    svg.icon {
      font-size: $font-size-14;
      width: 14px;
      transform: translateY(-2px);
    }
    margin-top: 1rem;
  }
}

.statItem {
  display: flex;
  flex-direction: row;
}

.dataTableText {
  padding-top: 0.5rem;
  color: #2E2E2E;
}

.statHeaderText {
  color: #2E2E2E;
}

.stateSubHeaderText {
  color: #666;
}

.icon {
  padding-right: 1rem;
  vertical-align: middle;
  padding-top: 0.8rem;
  color: #2E2E2E;
}

.futureDateIcon {
  width: 14px;
  height: 15px;
  padding-right: 1rem;
  padding-top: 0.625rem;
  vertical-align: top;
  transform: translateY(1px);
}

.dictionary_yes {
  color: $dark-green;
}

.dictionary_no {
  color: #e21c3d;
}
