@import 'src/variables.module';

.container {
  overflow: hidden;
  :global(.chartContainerHeader) {
    align-items: center;
    margin-top: 1rem;
  }

  .lineChart {
    width: 100%;
    margin-top: 0.625rem;
  }
}

@media screen and (max-width: $breakpoint-lg - 1) {
  .container {
    :global(.chartContainerHeader) {
      margin-top: 0.125rem;
      margin-bottom: 0 !important;
    }

    :global(.chartContainerFooter) {
      p {
        margin-top: 0.75rem;
      }
    }
  }
}
