@import "src/variables.module";

:global(.chartContainerHeader) {
  font-size: $font-size-14 !important;
  align-items: center;
}

.container {
  overflow: hidden;

  .lineChart {
    width: 100%;
    margin-top: 0.625rem;
  }

  .chartToggle {
    display: flex;
    width: 100%;
    margin-bottom: 16px;
    border-radius: 8px;
    margin-top: 16px;
  }

  .toggleButton {
    width: 50%;
    margin-bottom: 2%;
    cursor: pointer;
    height: 32px;
    border: 2px solid #00766c;
  }

  .headerContainer {
    display: flex;
    flex-direction: column;

    .headerData {
      margin-bottom: 0.75rem;
      display: flex;
      flex-direction: row;
      min-width: 400px;

      .dataElement:not(:last-child) {
        padding-right: 1.5rem;
      }

      .dataElement {
        color: #666666;

        .dataValue {
          font-weight: bold;
          font-size: $font-size-36;
        }

        .dataLabel {
          font-size: $font-size-14;
          font-weight: $semi-bold-weight;
          margin: 0 1.25rem;
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-lg - 1) {
  :global(.chartContainerChart) {
    max-width: 484px !important;
  }
}

@media screen and (max-width: $breakpoint-lg - 1) {
  :global(.chartContainerFooter) {
    font-size: $font-size-14 !important;
  }

  :global(.chartContainerSubTitle) {
    font-size: $font-size-14 !important;
  }

  :global(.chartContainerFooter) {
    p {
      margin-top: 0.75rem;
    }
  }

  .container {
    .headerContainer {
      display: flex;
      justify-content: space-between;

      .headerData {
        margin-bottom: 0.75rem;
        display: flex;
        flex-direction: row;
        min-width: 400px;

        .dataElement:not(:last-child) {
          padding-right: 1.25rem;
        }

        .dataElement {
          .dataValue {
            font-size: $font-size-24;
            line-height: $font-size-24;
          }

          .dataLabel {
            font-size: $font-size-10;
            margin: 0 1rem;
          }
        }
      }
    }
  }
}
