@use 'src/variables.module' as *;

.container {
  overflow: hidden;

  & :global(.chartContainerChart) {
    min-height: 18.49rem;

    @media screen and (min-width: $breakpoint-lg - 1) {
      min-height: 26.06rem;
    }
  }

  .lineChart {
    width: 100%;
  }
}

@media screen and (max-width: $breakpoint-lg - 1) {
  :global(.chartContainerFooter) {
    p {
      margin-top: 0.75rem;
    }
  }
}

.loadingIcon {
  @include grayLargeLoadingIcon;
  display: flex;
  align-items: center;
  justify-content: center;
}
