@import 'src/variables.module';

.topicSection {
  margin-top: 1rem;
  margin-bottom: 2rem;

  img {
    width: 100%;
  }

  .topicHeading {
    @include headingStyle5;
    color: #555;
    margin-bottom: 1rem;
    margin-top: 0;
  }
  .body {
    @include bodyStyleRegular;
    margin: 0;
  }
  .link {
    @include columnLabelCopy7;
    display: block;
    margin-top: 1rem !important;
  }
  .arrow {
    margin-left: 1rem;
  }
  .textContainer {
    padding-right: 94px;
  }
}

@media screen and (max-width: $breakpoint-lg) {
  .imageContainer {
    order: 1;
    padding-bottom: 0 !important;
  }
  .textContainer {
    order: 2;
    padding: 0 !important;
  }
  .topicSection {
    margin-bottom: 2rem !important;
    flex-direction: column;
  }
}
