@import '../../variables.module.scss';

.columnSelectContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.headingWrapper {
    padding: 1rem 1rem;
    margin: 0;
    background: $pale-bg;
    border-bottom: 1px solid $border-color;

    .heading {
        display: flex;
        justify-content: space-between;
        .title {
            @include headingStyle6;
            padding-bottom: .25rem;
        }
        .closeButton {
            background: none;
            border: none;
            cursor: pointer;
            .closeIcon {
              color: $primary;
              :not(svg root) {
                width: 100%;
                height: 1.2rem;
              }
            }
            :hover {
              color: $slate-blue;
            }
        }
    }


    .selectedValues {
        font-size: $font-size-14;
        color: $font-title;
    }
}

.selectAllContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #d9d9d9;

    .selectAllColumns {
        border-bottom: 0;
    }

    .reset {
        background: none;
        border: none;
        cursor: pointer;
        color: $primary;
        font-size: $font-size-14;
        font-weight: $semi-bold-weight;
        margin-right: 1rem;

        .resetIcon {
            padding-right: 0.5rem;
            width: 14px !important;
        }
    }
    :hover {
        color: $slate-blue;
    }
}

.buttonContainer {
    padding: 1rem;
    overflow-y: auto;
}

.toggleButton {
    display: block;
    width: 100%;
}

@media screen and (max-width: $breakpoint-lg - 1){
    .selectAllContainer {
        .reset {
            margin-right: 0rem;
        }
    }
}
