@import '../../variables.module.scss';
@import '../../zIndex.module.scss';

$borderRadius: 5px;

@mixin side-padding {
  padding-right: 1rem;

  &:first-child {
    padding-left: 1rem;
  }
}

.overlayContainer, .overlayContainerNoFooter {
  position: relative;
}

.wrapper.noBorder {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.wrapper {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid $dd-border-color;
  border-radius: $borderRadius;
  background-color: white;
  overflow-x: auto;
  min-height: calc(64px + 8rem);

  table {
    width: 100%;
    font-size: 1rem;
    color: $font-title;
    border-collapse: collapse;
    z-index: $dtg-table;

    th {
      padding: 0.75rem 0 0.75rem 0;
      text-align: left;
      font-weight: $semi-bold-weight;
      vertical-align: top;

      @include side-padding
    }

    tbody {
      tr {
        border-top: 1px solid $dd-border-color;
        vertical-align: top;
      }

      tr:nth-child(odd) {
        background-color: $body-background;
      }

      tr:last-child {
        td:first-child {
          border-bottom-left-radius: $borderRadius;
        }

        td:last-child {
          border-bottom-right-radius: $borderRadius;
        }
      }
    }

    td {
      padding: 0.5rem 0;
      height: 1.5rem;
      @include side-padding;
    }
  }
}

.apiError {
  padding: 1.25rem;
  z-index: $dtg-api-error;
  position: absolute;
}

.formattedCell {
  text-align: right;
}

.tableFooter {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 1rem;
}

.rowsShowing {
  margin-bottom: .5rem;
}

.overlay {
  z-index: $dtg-table-overlay;
  min-height: calc(64px + 8rem); // height of icon + top and bottom margin
  height: 100%;
  width: calc(100% + .15rem);
  position: absolute;
  left: -.15rem;
  background-color: rgba(255, 255, 255, 0.85);
  transition: opacity 0.5s 0.5s, left 0.5s ease-in-out;
  display: block;
  animation: fadeIn 1s;
  overflow: hidden;
}

.loadingIcon {
  z-index: $dtg-table-loading-icon;
  color: $font-title;
  font-size: $font-size-18;
  width: 100%;
  top: 4rem;
  text-align: center;
  position: absolute;

  > * {
    vertical-align: middle;
    margin-right: 0.5rem;
    font-size: 64px;
    color: $loading-icon-color;
  }
}

.selectColumnsWrapper {
  display: flex;

  .selectColumnPanel {
    display: none;
  }

  .selectColumnPanelActive {
    display: block;
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
  }
}

@media screen and (max-width: $breakpoint-md) {
  .wrapper {
    table {
      -webkit-text-size-adjust: 100%;
    }
  }
}

@media screen and (min-width: $breakpoint-md) {
  .tableFooter {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .rowsShowing {
    margin-right: 2rem;
  }
}
