@use 'src/variables.module' as *;
@use '../../zIndex.module.scss' as *;

$borderRadius: 5px;

@mixin side-padding {
  padding-right: 1rem;

  &:first-child {
    padding-left: 1rem;
  }
}

.overlayContainer {
  background-color: white;
  margin: 0 -1px -2px;
}

.overlayContainer,
.overlayContainerNoFooter {
  position: relative;
}
.overlayContainerReactTableHeight {
  min-height: 521px;
}

.wrapper.noBorderStyle {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.wrapper {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid $dd-border-color;
  border-radius: $borderRadius;
  background-color: white;
  overflow-x: auto;
  min-width: 0;
  min-height: calc(64px + 8rem);

  table {
    width: 100%;
    font-size: 1rem;
    color: $font-title;
    border-collapse: collapse;
    z-index: $dtg-table;

    th {
      padding: 0.75rem 0 0.75rem 0;
      text-align: left;
      font-weight: $semi-bold-weight;
      vertical-align: top;

      @include side-padding;
    }

    tbody {
      tr {
        border-top: 1px solid $dd-border-color;
        vertical-align: top;
      }

      tr:nth-child(odd) {
        background-color: $body-background;
      }

      tr:last-child {
        td:first-child {
          border-bottom-left-radius: $borderRadius;
        }

        td:last-child {
          border-bottom-right-radius: $borderRadius;
        }
      }
    }

    td {
      padding: 0.5rem 0;
      height: 1.5rem;
      @include side-padding;
    }
  }
}

.apiErrorStyle {
  padding: 1.25rem;
  z-index: $dtg-api-error;
  position: absolute;
}

.formattedCell {
  text-align: right;
}

.tableFooter {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 1rem;
  margin-right: -1px;
  background-color: white;
}
.tableFooterChart {
  padding: 1rem;
}
.rowsShowingStyle {
  margin-bottom: 0.5rem;
}

.overlay {
  @include partialLengthOverlay;
}

.markdownRow {
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (max-width: $breakpoint-lg) {
  .loadingSection {
    height: calc(100% - 5.875rem);
    margin-top: 5.875rem;
  }
}

.loadingIcon {
  @include blueMediumLoadingIcon;
}

.selectColumnsWrapper {
  display: flex;

  .selectColumnPanel {
    display: none;
  }

  .selectColumnPanelActive {
    display: block;
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
  }
}

@media screen and (max-width: $breakpoint-md) {
  .wrapper {
    table {
      -webkit-text-size-adjust: 100%;
    }
  }
}

@media screen and (min-width: $breakpoint-md) {
  .tableFooter {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .rowsShowingStyle {
    margin-right: 2rem;
  }
}
