@use 'src/variables.module' as *;
@use '../../../../zIndex.module.scss' as *;

$overviewPrimary: #0071bc;
$revenuePrimary: #0a2f5a;
$spendingPrimary: #00766c;
$deficitPrimary: #b3532d;
$debtPrimary: #4a0072;
$chevronHeight: 1rem;
$chevronWidth: calc($chevronHeight / 3);

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.navContainer {
  width: 100%;
  color: #fff;
  max-width: $breakpoint-lg;
  display: flex;
  margin: 0 auto 0 auto;
  justify-content: center;
}

ul.navBlockHidden {
  display: none;
}

ul.navBlock,
ul.navBlockSticky {
  margin: 1.5rem 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  width: fit-content;
  padding: 0;
  font-size: $font-size-16;
}

ul.navBlock {
  padding-inline-start: 0;
}

ul.navBlockSticky {
  position: fixed;
  top: 3.25rem;
  z-index: $desktop-menu-sticky;
}

li.navItem {
  background-color: #767676;
  color: white;
  font-size: $font-size-16;
  display: flex;
  flex-grow: 1;
  max-width: 8rem;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  .navLink {
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 100%;

    .navIcon {
      margin-right: 0.625rem;
      color: #fff;
    }
  }
  .navLink.active {
    font-weight: bold;
  }

  .navLink:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

li.navItem:first-child {
  min-width: 9.125rem;
}

li.frontChevron {
  width: 0;
  height: 0;
  border-top: $chevronHeight solid white;
  border-bottom: $chevronHeight solid white;
  justify-items: end;
}

li.backChevron {
  width: 0;
  height: 0;
  border-left: $chevronWidth solid white;
}

li.navItem:last-child {
  border-start-end-radius: 1rem;
  border-end-end-radius: 1rem;
}

li.navItem:first-child {
  border-start-start-radius: 1rem;
  border-end-start-radius: 1rem;
  background-color: $overviewPrimary;
}

.navItem.overview {
  background-color: $overviewPrimary;
}

.frontChevron.overview {
  border-left: $chevronWidth solid $overviewPrimary;
}

.navItem.revenue {
  background-color: $revenuePrimary;
}

.backChevron.revenue {
  border-top: $chevronHeight solid $revenuePrimary;
  border-bottom: $chevronHeight solid $revenuePrimary;
}

.frontChevron.revenue {
  border-left: $chevronWidth solid $revenuePrimary;
}

.navItem.spending {
  background-color: $spendingPrimary;
}

.backChevron.spending {
  border-top: $chevronHeight solid $spendingPrimary;
  border-bottom: $chevronHeight solid $spendingPrimary;
}

.frontChevron.spending {
  border-left: $chevronWidth solid $spendingPrimary;
}

.navItem.deficit {
  background-color: $deficitPrimary;
}

.backChevron.deficit {
  border-top: $chevronHeight solid $deficitPrimary;
  border-bottom: $chevronHeight solid $deficitPrimary;
}

.frontChevron.deficit {
  border-left: $chevronWidth solid $deficitPrimary;
}

.navItem.debt {
  background-color: $debtPrimary;
}

.backChevron.debt {
  border-top: $chevronHeight solid $debtPrimary;
  border-bottom: $chevronHeight solid $debtPrimary;
}
