@import '../../../../variables.module.scss';
@import '../../../../zIndex.module.scss';

$overviewPrimary: #0071bc;
$revenuePrimary: #0a2f5a;
$spendingPrimary: #00766c;
$deficitPrimary: #b3532d;
$debtPrimary: #4a0072;
$chevronHeight: 1rem;
$chevronWidth: $chevronHeight/3;

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.navContainer {
  width: 100%;
  color: #fff;
  max-width: $breakpoint-lg;
  display: flex;
  margin: .5rem auto 1rem auto;
  justify-content: center;
}

ul.navBlockHidden{
  display: none;
}

ul.navBlock {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  font-size: 1rem;
  padding-inline-start: 0px;
}

ul.navBlockSticky {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  font-size: 1rem;
  position: fixed;
  top: 0;
  z-index: $desktop-menu-sticky;
}


  li.navItem {
    background-color: #767676;
    color: white;
    font-size: 1rem;
    display: flex;
    flex-grow: 1;
    max-width: 8rem;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;


    .navLink {
      display: flex;
      color: #fff;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      .navIcon {
        margin-right: 10px;
        color: #fff;
      }
    }
    .navLink.active {
      font-weight: bold;
    }

    .navLink:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  li.navItem:first-child {
    min-width: 9.125rem;
  }

  li.frontChevron {
    width: 0px;
    height: 0px;
    border-top: $chevronHeight solid white;
    border-bottom: $chevronHeight solid white;
    justify-items: end;
  }

  li.backChevron {
    width: 0px;
    height: 0px;
    border-left: $chevronWidth solid white;
  }

  li.navItem:last-child {
    border-start-end-radius: 1rem;
    border-end-end-radius: 1rem;
  }

  li.navItem:first-child {
    border-start-start-radius: 1rem;
    border-end-start-radius: 1rem;
    background-color: $overviewPrimary;
  }

  .navItem.overview {
    background-color: $overviewPrimary;
  }

  .frontChevron.overview {
    border-left: $chevronWidth solid $overviewPrimary;
  }

  .navItem.revenue {
    background-color: $revenuePrimary;
  }

  .backChevron.revenue {
    border-top: $chevronHeight solid $revenuePrimary;
    border-bottom: $chevronHeight solid $revenuePrimary;
  }

  .frontChevron.revenue {
    border-left: $chevronWidth solid $revenuePrimary;
  }

  .navItem.spending {
    background-color: $spendingPrimary;
  }

  .backChevron.spending {
    border-top: $chevronHeight solid $spendingPrimary;
    border-bottom: $chevronHeight solid $spendingPrimary;
  }

  .frontChevron.spending {
    border-left: $chevronWidth solid $spendingPrimary;
  }

  .navItem.deficit {
    background-color: $deficitPrimary;
  }

  .backChevron.deficit {
    border-top: $chevronHeight solid $deficitPrimary;
    border-bottom: $chevronHeight solid $deficitPrimary;
  }

  .frontChevron.deficit {
    border-left: $chevronWidth solid $deficitPrimary;
  }

  .navItem.debt {
    background-color: $debtPrimary;
  }

  .backChevron.debt {
    border-top: $chevronHeight solid $debtPrimary;
    border-bottom: $chevronHeight solid $debtPrimary;
  }
