@use 'src/variables.module' as *;

.banner {
  max-width: $site-content-width;
  display: flex;
  align-items: stretch;
  padding-right: 2rem;
}

.sideTab {
  width: 0.5rem;
  height: inherit;
  margin-right: 2rem;
}

.infoBanner {
  background-color: #e0f3f8;
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
  box-sizing: border-box;

  .sideTab {
    background-color: #00bde3;
  }
}

.altInfoColor {
  background-color: $banner-background;
}

.altBannerHeader {
  margin-bottom: 4px;
}

.infoBannerYellow {
  width: fit-content;
  margin: 0;
}

.warningBanner,
.infoBannerYellow {
  background-color: #faf3d1;
  max-width: 1140px;
  box-sizing: border-box;
  .sideTab {
    background-color: #ffbe2e;
  }
}
.warningBanner {
  margin: 0 auto;
  width: 100%;
}

.warningBannerXR {
  background-color: #faf3d1;
  .sideTab {
    background-color: #ffbe2e;
  }
}

.calloutText {
  width: 100%;
  margin: 0.875rem 0.5rem 0.875rem 0;
  display: flex;
  flex-direction: row;
  .header {
    font-weight: $semi-bold-weight;
  }
  .suggestions {
    margin-top: 1rem;
    font-size: $font-size-14;

    ul {
      margin-top: 0.5rem;
      margin-bottom: 0.125rem;
      li {
        margin-bottom: 0.25rem;
      }
    }
  }
}

.altBannerText {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
}

.icon {
  width: 1rem;
  height: 1rem;
  padding-right: 0.5rem;
  padding-top: 0.125rem;
}

.updateList {
  padding-left: 1.25rem;
  margin: 0.5rem 0 0;
}

.columnFlex {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: $breakpoint-lg - 1) {
  .sideTab {
    margin-right: 0.875rem;
  }

  .infoBanner {
    margin-top: 1rem;
  }

  .warningBanner {
    margin-top: 1rem;
  }

  .calloutText {
    margin: 1.125rem 1.375rem 1.125rem 0;
  }

  .altBannerText {
    margin: 1rem 1rem 1rem 1rem;
  }
}
