@import '../../../styles';

.bottomMargin {
  margin-bottom: 1rem;
}

.relatedTopics {
  margin-top: 1rem;

  .title, .topic {
    display: inline-block;
    margin: 1rem 2rem 0 0;
  }
  .title {
    @include headingStyle6;
  }
  .topic {
    color: $primary;
  }
}
