.dateBox {
  max-width: 34.563rem;
  min-width: 20rem;
  width: 100%;
  height: 6rem;
  margin-bottom: 1.5rem;
  border-radius: .125rem;
  box-shadow: .25rem .25rem 0 0 rgba(0, 0, 0, 0.5);
  border: solid 1px #d6d7d9;
  background-color: #f1f1f1;
}
