@use 'src/variables.module' as *;

.chartTableToggleContainer {
  font-size: $font-size-16;
  display: flex;
  margin-left: 1rem;
}
.toggleButton {
  height: 2rem;
  cursor: pointer;
  border: 2px solid;
  width: 4px;

  &.toggleButtonLeft {
    width: 2rem;
    height: 2rem;
    border-bottom-right-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-left: none;
    border-color: #dfe1e2;
  }
  &.toggleButtonRight {
    width: 2rem;
    height: 2rem;
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    border-right: none;
    border-color: #dfe1e2;
  }
  &.selected {
    color: #ffffff;
    background: $body-background;
    box-shadow: 0 0.25rem 1rem 0 #00000026;
  }
}
.icon {
  width: 1rem;
  height: 1rem;
}
