@import 'src/variables.module';

.chartContainer {
  background-color: $body-background;
  margin-top: 1rem;
  padding: 1.75rem 1.5rem;

  .chartTitle {
    margin-top: 0;
    font-weight: 600;
    color: $font-title;
    font-size: $font-size-18;
  }

  .chartSubTitle {
    margin-top: 0;
    color: $font-body-copy;
    font-size: $font-size-16;
  }

  .chart {
    width: 100%;
    max-width: 464px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .footerContainer {
    margin-bottom: 0;
    font-size: $font-size-14;
  }
}

.headerContainer {
  display: flex;
  justify-content: center;
  gap: 5rem;

  div {
    text-align: center;

    .header {
      font-weight: bold;
    }

    .subHeader {
      font-weight: $semi-bold-weight;
    }
  }
}


@media screen and (max-width: $breakpoint-lg - 1) {
  .chartContainer {
    padding: 1.25rem 1.125rem;

    .chartTitle {
      font-size: $font-size-16;
    }

    .chartSubTitle {
      font-size: $font-size-14;
    }
  }
  .headerContainer {
    gap: 2rem;
  }
}

