@import 'src/variables.module';
// When inside the chart proper, element may have to be absolutely positioned
.downloadContainer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-right: 5.5rem;
}

.downloadIcon {
  margin-right: 8px;
}

.downloadButton {
  font-size: 14px;
  text-align: left;
  color: #0071BC;
  border: none;
  background-color: #FFFFFF;
  cursor:pointer;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: $breakpoint-md - 1) {
  .downloadContainer {
    margin-right: 0;
  }
}
