@use 'src/variables.module' as *;
// When inside the chart proper, element may have to be absolutely positioned
.downloadContainer {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1rem;
  padding-bottom: 0.5rem;
}

.downloadIcon {
  margin-right: 8px;
}

.downloadButton {
  font-size: 14px;
  text-align: left;
  color: $primary;
  border: none;
  background-color: $content-section-background;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: $breakpoint-md - 1) {
  .downloadContainer {
    margin-bottom: 1.25rem;
    width: 100%;
  }
}
