@import 'src/variables.module';
// When inside the chart proper, element may have to be absolutely positioned
.downloadContainer {
  display: flex;
  flex-direction: row;
  margin-left: 6rem;
  margin-top: -1rem;
  padding-bottom: 0.5rem;
}

.downloadIcon {
  margin-right: 8px;
}

.downloadButton {
  font-size: 14px;
  text-align: left;
  color: #0071BC;
  border: none;
  background-color: #FFFFFF;
  cursor:pointer;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: $breakpoint-lg - 1) {
  .downloadContainer {
    margin-left: 4.75rem;
  }
}

@media screen and (max-width: $breakpoint-md - 1) {
  .downloadContainer {
    margin-left: 0.25rem;
    padding-bottom: 1.5rem;
  }
}
