

.downloadContainer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-right: 5.5rem;
}

.downloadIcon {
  margin-right: 8px;
}

.downloadButton {
  font-size: 14px;
  text-align-last: left;
  color: #0071BC;
  border: none;
  background-color: #FFFFFF;
  cursor:pointer;
  display: flex;
  flex-direction: row;
}
