@use 'src/variables.module' as *;
@use '../../../../zIndex.module.scss' as *;

.MenuList {
  background-color: #0a2f5a;
  color: #0a2f5a;
  min-height: 2.25rem !important;
  width: 18rem;
  text-align: right;
  z-index: $mobile-menu-list;
  padding: 0 !important;
}

@mixin afg-menu-item($backgroundColor) {
  background-color: $backgroundColor !important;
  color: white;
  border-radius: 2px;
  padding-left: 2rem;
  min-height: 2.25rem;
  line-height: 0.5rem;
  margin-top: 0.063rem !important;
  margin-bottom: 0.063rem !important;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: left;

  span {
    line-height: 2.25rem !important;
    font-family: 'Source Sans Pro', sans-serif;
  }
}

.revenue {
  @include afg-menu-item(#0a2f5a);
}

.spending {
  @include afg-menu-item(#00766c);
}

.deficit {
  @include afg-menu-item(#b3532d);
}

.debt {
  @include afg-menu-item(#4a0072);
}

.buttonOverview {
  border-radius: 1rem;
  background-color: $primary;
  border-color: white;
  color: white;
  width: 21.25rem;
  height: 2rem;
  font-size: $font-size-16;
  text-align: left;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .overviewStyle {
    margin-left: 1.438rem;
  }
}
.activeMenu span {
  font-weight: $semi-bold-weight !important;
  font-family: 'Source Sans Pro', sans-serif;
}
.mainContainer {
  display: flex;
  justify-content: center;
}
.mainContainer,
.mainContainerSticky {
  margin-top: 2.5rem;
}
.mainContainerShow {
  display: flex;
  justify-content: center;
}
.mainContainerSticky {
  position: fixed;
  top: 3.25rem;
  z-index: $mobile-menu-sticky;
}
.mainContainerHidden {
  display: none;
}
.mainListSticky {
  position: fixed;
  top: 0;
  z-index: $mobile-menu-sticky;
  border-color: white;
  background-color: transparent !important;
  :global(.MuiList-padding) {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border: none;
  }
}
.carrot {
  padding-right: 1rem;
}

.faHouse {
  padding-right: 0.5rem;
}

.overview {
  margin: 1.5rem 0;
}
