@use 'src/variables.module' as *;

.button_container {
  border: none;
  background-color: white;
  padding: 0;
  margin-right: 0;
  outline: 0;
  cursor: pointer;
  transform: translateY(0);
  transition: transform 0.2s ease;

  .topicLabel {
    color: $font-title;
    outline: 1px transparent;
    transition: outline 0.2s ease, color 0.2s ease;
    font-size: 1rem;
    cursor: pointer;
  }

  &:focus label {
    outline: 1px solid $focus;
  }

  &:hover {
    transform: translateY(-3px);
  }
}

.button_contents {
  display: inline-block;
  vertical-align: top;
}

.oval {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  margin-bottom: 0.5rem;
  background-color: #f1f1f1;
  border-radius: 50%;
  .icon_image {
    width: 49px;
    margin: auto;
  }
  transition: 0.2s ease background-color;
}

.topicLabel {
  width: 90px;
  display: block;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 1rem;
  color: $font-title;
}

.icon_image {
  height: 100%;
}

.topicActive {
  background-color: $primary;

  .icon_image {
    filter: invert(1);
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .button_container {
    margin-right: 0;

    .topicLabel {
      font-weight: $semi-bold-weight;
      font-size: 1.125rem;
    }
  }
}

@media screen and (min-width: 440px) and (max-width: 640px) {
  .button_container {
    width: 33%;
  }
}
