@import 'src/variables.module';

  .image {
    max-width: 651px;
    margin-left: 10%;
    margin-right: auto;
    margin-top: -1.5rem;
  }

@media screen and (max-width: $breakpoint-md - 1) {
  .image {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

