@import 'src/variables.module';

.image {
  max-width: 44.75rem;
  margin-left: 4rem;
  margin-top: -1rem;
}

@media screen and (max-width: $breakpoint-lg - 1) {
  .image {
    max-width: 28rem;
  }
}

@media screen and (max-width: $breakpoint-md - 1) {
  .image {
    margin-left: -0.5rem;
  }
}
