@import '../../variables.module.scss';
@import '../../zIndex.module.scss';

.split-flap-container {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;

  .flap-container {
    display: flex;
    position: relative;
  }

  .selectable-digits {
    user-select: contain;
    z-index: $selectable-digits;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    color: #00000000;
    font-size: $font-size-40;
  }

  .punctuation {
    display: inline-block;
    width: 12px;
  }

  .spaced-digit {
    display: inline-block;
    width: 47px;
    text-align: center;
  }

  .row-break {
    flex-basis: 100%;
    height: 0;
  }

  .currency, .magnitude {
    color: $hero-primary-text;
    font-size: $font-size-40;
    margin-right: .25rem;
    font-weight: 300;
    text-shadow: none;
  }

  .currency, .blank {
    width: 1rem;
    user-select: none;
  }

  > .magnitude {
    text-transform: uppercase;
    margin-right: 0;
  }
}

