@import '../../../variables.module.scss';

.nationalDebtActive {
  border-left-color: $debt-explainer-secondary !important;
  color: $debt-explainer-primary !important;
  font-weight: bold;
}

.nationalDebtHover {
  color: $debt-explainer-secondary !important;
  font-weight: bold;
  text-decoration: none;
}
