@import '../../../variables.module.scss';

.nationalDebtActive {
  border-left-color: $debt-explainer-secondary !important;
  color: $debt-explainer-primary !important;
  text-shadow: 0 0 .01px $debt-explainer-primary, 0 0 .01px $debt-explainer-primary, 0 0 .01px $debt-explainer-primary;
}

.nationalDebtHover {
  color: $debt-explainer-secondary !important;
  text-decoration: none;
  text-shadow: 0 0 .01px $debt-explainer-primary, 0 0 .01px $debt-explainer-primary, 0 0 .01px $debt-explainer-primary;
}


