@import '../../../variables.module.scss';
@import '../sections/national-deficit/national-deficit.module';
@import '../sections/federal-spending/federal-spending.module';
@import '../sections/revenue/revenue.module';

.nationalDebtActive {
  border-left-color: $debt-explainer-secondary !important;
  color: $debt-explainer-primary !important;
  font-weight: bold;
}

.nationalDebtHover {
  color: $debt-explainer-secondary !important;
  font-weight: bold;
}

.nationalDeficitActive {
  border-left-color: $deficit-explainer-secondary !important;
  color: $deficit-explainer-primary !important;
  font-weight: bold;
  padding-right:0 !important;
}

.nationalDeficitHover{
  color: $deficit-explainer-secondary !important;
  font-weight: bold;
 }

.federalSpendingActive {
  border-left-color: $spending-explainer-secondary !important;
  color: $spending-explainer-primary !important;
  font-weight: bold;
  padding-right:0 !important;
}

.federalSpendingHover{
  color: $spending-explainer-secondary !important;
  font-weight: bold;
 }

 .revenueActive {
  border-left-color: $revenue-explainer-secondary !important;
  color: $revenue-explainer-primary !important;
  font-weight: bold;
  padding-right:0 !important;
}

.revenueHover {
  color: $revenue-explainer-secondary !important;
  font-weight: bold;
 }


