@use 'src/variables.module' as *;
@use '../sections/national-deficit/national-deficit.module' as *;
@use '../sections/federal-spending/federal-spending.module' as *;
@use 'src/layouts/explainer/sections/government-revenue/revenue.module' as *;
@use '../sections/treasury-savings-bonds/treasury-savings-bonds.module.scss' as *;

.nationalDebtActive {
  border-left-color: $debt-explainer-secondary !important;
  color: $debt-explainer-primary !important;
  font-weight: bold;
}

.nationalDebtHover {
  color: $debt-explainer-secondary !important;
  font-weight: bold;
}

.nationalDeficitActive {
  border-left-color: $deficit-explainer-secondary !important;
  color: $deficit-explainer-primary !important;
  font-weight: bold;
  padding-right: 0 !important;
}

.nationalDeficitHover {
  color: $deficit-explainer-secondary !important;
  font-weight: bold;
}

.federalSpendingActive {
  border-left-color: $spending-explainer-secondary !important;
  color: $spending-explainer-primary !important;
  font-weight: bold;
  padding-right: 0 !important;
}

.federalSpendingHover {
  color: $spending-explainer-secondary !important;
  font-weight: bold;
}

.revenueActive {
  border-left-color: $revenue-explainer-secondary !important;
  color: $revenue-explainer-primary !important;
  font-weight: bold;
  padding-right: 0 !important;
}

.revenueHover {
  color: $revenue-explainer-secondary !important;
  font-weight: bold;
}

.treasurySavingsBondsActive {
  border-left-color: $treasury-savings-bonds-explainer-secondary !important;
  color: $treasury-savings-bonds-explainer-primary !important;
  font-weight: bold;
  padding-right: 0 !important;
}

.treasurySavingsBondsHover {
  color: $treasury-savings-bonds-explainer-secondary !important;
  font-weight: bold;
}
