@import 'src/variables.module';

.container {
  overflow:hidden;
}

.barChart {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
}

.headerTitle {
  font-weight: bold;
  font-size: 36px;
}

.subHeader {
  font-size: 14px;
  font-weight: $semi-bold-weight;
}

@media screen and (max-width: $breakpoint-lg - 1) {
  .barChart{
    margin: 2rem 0;
  }
  .headerTitle {
    font-size: 24px;
  }
  .subHeader {
    font-size: 10px;
  }
}
