@import 'src/variables.module';

.container {
  overflow:hidden;
}

.barChart {
  margin: 2rem 8rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.headerTitle {
  font-weight: bold;
  font-size: 36px;
}

.subHeader {
  font-size: 14px;
  font-weight: $semi-bold-weight;
}

@media screen and (max-width: $breakpoint-lg - 1) {
  .barChart{
    margin: 2rem 0;
  }
  .headerTitle {
    font-size: 24px;
  }
  .subHeader {
    font-size: 10px;
  }
}
