@import 'src/variables.module.scss';

.inputDisplayContainer {
  position: relative;
  display: flex;
  align-items: flex-start;
  width: 100%;
  font-size: $font-size-14;
  color: $font-body-copy;

  input::-webkit-calendar-picker-indicator {
    display: none;
  }

  input[type='date']::-webkit-input-placeholder {
    visibility: hidden !important;
  }

  input {
    border: none;
    height: 100%;
    width: 96%;
    padding: 0 0 0 0.5rem;
    background: transparent;
    font-size: $font-size-14;
    letter-spacing: normal;
    line-height: $font-size-16;

    &:focus {
      border: 0;
      outline: none;
    }
  }

  .inputTextDisplay {
    pointer-events: none;
    margin-left: 0.5rem;
    font-size: $font-size-14;
    line-height: $font-size-16;
    padding: 0.375rem 0;
    letter-spacing: normal;
    color: transparent;
  }

  .inputBox {
    color: $font-body-copy;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .currentDate {
    background: $primary-blue;
  }
}
