@use 'src/variables.module' as *;
@use '../../../../zIndex.module' as *;

.dropdownContainer {
  position: absolute;
  box-shadow: 0 0.25rem 1rem 0 rgba(0, 0, 0, 0.15);
  border-radius: 0.125rem;
  background-color: white;
  margin-top: 0.25rem;
  z-index: $combo-select-dropdown;
  width: inherit;

  .searchBarContainer {
    margin: 0.75rem 1rem 1rem;
  }

  .dropdownList {
    padding: 0;
    margin: 0;
    max-height: 11.875rem;

    .sectionLabel {
      margin: 0.5rem 1rem;
      font-size: $font-size-14;
      font-weight: $semi-bold-weight;
      text-transform: uppercase;
    }

    .dropdownListItem {
      display: block;
      color: $font-body-copy;

      &:hover {
        background-color: $body-background;
        transition: background-color 0.2s ease;
      }

      &.dropdownListItem_Selected {
        background-color: $primary-blue;
        color: $primary;
      }

      &.dropdownFilterListItem_Selected {
        border-left: 0.25rem solid $primary;
        font-weight: $semi-bold-weight;
      }

      .secondaryLabel {
        font-size: $font-size-14;
        font-weight: 400;
        display: block;
        padding-top: 0.25rem;
      }

      &.dropdownListItem_child {
        padding-left: 2rem;
      }

      .dropdownListItem_Button {
        color: inherit;
        padding: 0.5rem 1rem;
        background-color: transparent;
        font-weight: inherit;
        font-size: $font-size-16;
        line-height: unset;
        width: 100%;
        border: none;
        text-align: left;
        cursor: pointer;

        &:disabled {
          cursor: default;
          opacity: 0.5;
        }
      }
    }
  }
}

.unmatchedTerm {
  font-weight: 600;
}

.noMatch {
  margin: 0 1rem;
}
