@import 'src/variables.module';

$border-color: #D9D9D9;

.currencyBox {
  width: 20rem;
  margin: 0 1rem 0 0;
  border-radius: 2px;
  border: solid 1px $border-color;

  button:disabled {
    opacity: 0.5;
  }

  .currencyHeader {
    background-color: #f1f1f1;
    border-bottom: solid 1px $border-color;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      font-weight: $semi-bold-weight;
      color: #555555;
      margin-left: .75rem
    }

    .icon {
      color: $font-body-copy;
      height: 1rem;
      width: 0.75rem;
      margin-right: 0.75rem;
    }
  }

  .currencyBody {
    height: 2.5rem;
  }

  .currencyText {
    margin-left: 0.625rem;
    padding-top: 0.5rem;
  }

}

input[type=number]
{
  border:none;
  font-size: 1rem;
  color: $font-body-copy;
  width: 95%;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

@media screen and (max-width: $breakpoint-lg - 1) {
  .currencyBox {
    margin: 1rem 0 0;
    width: 100%;
  }
}
