@import '../../variables.module.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 16px 10px 12px;
  border-radius: 3px;
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.15);

  .title {
    width: 100%;
  }

  .downloadItemsContainer {
    width: 100%;
    overflow-y: auto;
    margin: 3px 0 1rem;
  }

  .closeButton {
    height: 40px;
    min-height: 40px;
    width: 192px;
    background-color: #fff;
    border: solid 1px $primary;
    border-radius: 2px;
    color: $primary;
    font-size: $font-size-16;
    font-weight: 600;
    cursor: pointer;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .title {
    @include headingStyle2-1;
  }

  .closeButton {
    margin-bottom: 1.25rem;
  }
}

@media screen and (max-width: $breakpoint-lg - 1) {
  .title {
    @include headingStyle5;
  }

  .closeButton {
    margin-bottom: 0.625rem;
  }

  .subText {
    text-align: center;
  }
}
