@import '../../../../variables.module.scss';
@import '../../../../zIndex.module.scss';

.containerBar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  box-sizing: border-box;
  background-color: $body-background;
  padding: 0.5rem;
}

.selectLabel {
  margin-right: 0.5rem;
}

.dropdownContainer {
  min-width: 9rem;
}

.formControl {
  display: flex;
  align-items: center;
  white-space: nowrap;
  &:first-child {
    z-index: $pivot-options-form-first-child;
    margin-right: 0.75rem;
  }
}

// stack controls into separate rows
@media screen and (max-width: $breakpoint-md) {
  .containerBar {
    flex-direction: column;
    align-items: flex-start;
  }
  .formControl {
    &:first-child {
      margin: 0 0 0.75rem 0;
    }
  }
}

// stack labels in to separate rows and make dropdowns full width
@media screen and (max-width: $breakpoint-sm) {
  .formControl {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    & > * {
      width: 100%;
    }

    .selectLabel {
      margin-bottom: 0.5rem;
    }
  }
}

