@use 'src/variables.module' as *;

.container {
  padding: 0.36rem;
  background-color: $banner-background;
}

.content {
  display: flex;
  align-items: center;
  font-size: $font-size-14;
  max-width: $main-width;
  margin: 0 auto;
}

.infoIcon {
  font-size: 1rem;
  align-self: flex-start;
  margin-top: 0.65rem;
  padding: 5px 0px;
}

.closeButton {
  font-size: 1rem;
  align-self: flex-start;
  background: none;
  border: none;
  cursor: pointer;
  .closeIcon {
    color: $primary;
    :not(svg root) {
      width: 0.75rem;
      height: 1.25rem;
    }
  }
  :hover {
    color: $slate-blue;
  }
}

@media screen and (max-width: $breakpoint-lg - 1) {
  .content {
    align-items: normal;
  }

  .closeIcon {
    margin-left: 0.25rem;
  }

  .infoIcon {
    margin-right: 0.5rem;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .infoIcon,
  .closeIcon {
    margin-right: 0.5rem;
  }

  .closeIcon {
    margin-left: 0.5rem;
  }
}
