@import '../../variables.module.scss';

.container {
  padding: 1rem;
  background-color: #fff1d2;
  color: #444444;
}

.content {
  display: flex;
  align-items: center;
  font-size: $font-size-14;
  max-width: $main-width;
  margin: 0 auto;
}

.infoIcon{
  font-size: 1rem;
  align-self: flex-start;
  padding: 5px 0px;
}

.closeButton {
  font-size: 1rem;
  align-self: flex-start;
  background: none;
  border: none;
  cursor: pointer;
  .closeIcon {
    color: $primary;
    :not(svg root) {
      width: 0.75rem;
      height: 1.25rem;
    }
  }
  :hover {
    color: $slate-blue;
  }
}

@media screen and (max-width: $breakpoint-lg - 1) {
  .content {
    align-items: normal;
  }

  .closeIcon {
    margin-left: .25rem;
  }

  .infoIcon {
    margin-right: .5rem;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .infoIcon, .closeIcon {
    margin-right: .5rem;
  }

  .closeIcon {
    margin-left: .5rem;
  }
}
