@import '../../variables.module.scss';

.container {
  display: flex;
  justify-content: center;
  padding: 0.875rem 2rem 1rem 2rem;
  background-color: #fff1d2;
  color: #444444;
}

.content {
  display: flex;
  align-items: center;
  font-size: $font-size-14;
  max-width: 62.5rem;
}

.infoIcon{
  font-size: 1rem;
  align-self: flex-start;
  padding: 5px 0px;

}

.closeButton {
  font-size: 1rem;
  align-self: flex-start;
  background: none;
  border: none;
  cursor: pointer;
  .closeIcon {
    color: $primary;
    :not(svg root) {
      width: 0.75rem;
      height: 1.25rem;
    }
  }
  :hover {
    color: $slate-blue;
  }
}

@media screen and (max-width: $breakpoint-lg - 1) {
  .container {
    padding: 1rem 1.875rem 1rem;
  }

  .content {
    align-items: normal;
    margin-right: 1.375rem;
  }

  .closeIcon {
    margin-left: .25rem;
  }

  .infoIcon {
    margin-right: 1.375rem;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .infoIcon, .closeIcon {
    margin: 0 1rem;
  }
}
