@use 'src/variables.module' as *;

.listHeader {
  color: $font-body-copy;
  font-weight: $semi-bold-weight;
  font-size: $font-size-16;
  margin: 1.5rem 0 0.5rem;
}

.citationContainer {
  margin-bottom: 0.5rem;
  width: fit-content;
  &:last-child {
    margin-bottom: 0;
  }
}

.citationText {
  display: flex;
  align-items: flex-start;
}

.iconContainer {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.5rem;
  color: $primary;
  display: flex;
  align-items: center;
}

.citationList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
