@import '../../variables.module.scss';
@import '../../zIndex.module.scss';

#container {
  height: 3rem;
  background-color: $dark-slate-blue;
  color: #FFFFFF;
  padding: 0.75rem 1rem;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: $dataset-detail-nav;
}

.content {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  white-space: nowrap;
}

.title {
  font-size: $font-size-18;
  font-weight: $semi-bold-weight;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 2;
}

.menu {
  text-align: right;
  flex: 2;
  transition: flex 0.2s ease;

  &.mobile > :first-child {
      margin-right: 0.5rem;
  }

  a {
    color: #FFFFFF;
    text-decoration: none;
  }
}

.desktopLinks {
  display: none;
}

.mobileLinks {
  display: inline;
}

.mobileIcon {
  border: 2px solid #FFFFFF;
  border-radius: 100px;
  padding: 0.2rem 0.285rem;
}

.disabledLink {
  opacity: 0.3;
}

@media screen and (min-width: $breakpoint-lg){

  #container {
    padding: 0 1rem 0 0;
  }

  .content {
    height: 100%;
  }

  .title {
    padding: 0.75rem 1rem;
  }

  .menu {
    flex: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
      color: #FFFFFF;
      text-decoration: none;
      overflow-x: hidden;
      padding: 0.8125rem 0.75rem 0.75rem 0.75rem;
      font-size: $font-size-16;
      font-weight: $semi-bold-weight;
      border-bottom: 3px solid transparent;

      &:last-of-type {
        margin-right: 0;
      }

      &:hover {
        background-color: #1f5593;
      }
      &:focus {
        border-bottom: 3px solid white;
      }
    }
  }

  .desktopLinks {
    display: inline;
  }

  .mobileIcon {
    display: none;
  }
}
