@use 'src/variables.module' as *;
@use '../../zIndex.module.scss' as *;

#container {
  background-color: $dark-slate-blue;
  color: $content-section-background;
  box-sizing: border-box;
  position: sticky;
  top: 5.5rem;
  z-index: $dataset-detail-nav;
  -webkit-tap-highlight-color: transparent;
}

.content {
  max-width: 71.25rem;
  margin: 0 auto;
  display: flex;
  white-space: nowrap;
  overflow-x: auto;
  height: 100%;
}

.activeMenu {
  background-color: $primary;
}

.menu {
  text-align: right;
  flex: 3;
  transition: flex 0.2s ease;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  a {
    color: $content-section-background;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    overflow-x: hidden;
    font-size: $font-size-16;
    font-weight: $semi-bold-weight;
    &:last-of-type {
      margin-right: 0;
    }
  }

  .hoverMenu {
    background-color: $light-grey-border;
    color: $font-title;
  }
}
.desktopLinks {
  display: inline;
}

.mobileIcon {
  border: 0.125rem solid $content-section-background;
  border-radius: 6.25rem;
  padding: 0.2rem 0.285rem;
}

.disabledLink {
  opacity: 0.3;
}
