@use 'src/variables.module' as *;

.glossaryText {
  color: $font-body-copy;
  font-size: $font-size-16;
  .header {
    font-style: italic;
    margin-bottom: 0.625rem;
    font-size: $font-size-14;
  }

  .termNameText {
    font-size: $font-size-20;
    font-weight: $semi-bold-weight;
    margin-bottom: 0.25rem;
  }

  .glossaryButton {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: $primary;
    font-weight: $semi-bold-weight;
    margin-top: 1.5rem;
    &:hover {
      color: $slate-blue;
    }
    .arrowIcon {
      margin-left: 0.5rem;
      height: 0.833rem;
    }
  }
}
.popupContainerStyle {
  color: $font-body-copy;
  padding: 1rem;
}
.popoverContents {
  p:last-child,
  ul:last-child {
    margin-bottom: 0;
  }
}

.glossaryLink,
.glossaryHover {
  padding: 0 0.25rem;
  border-radius: 0.25rem;
  white-space: nowrap;
  .bookIcon {
    width: 12.25px;
    height: 0.875rem;
    padding-left: 0.25rem;
  }
}

.glossaryLink {
  background-color: #eff6fb;
  cursor: pointer;
  &:hover {
    color: $primary;
    background-color: #d9e8f6;
  }
  .bookIcon {
    color: $primary;
  }
}

.glossaryHover {
  background-color: $primary;
  color: white;
  .bookIcon {
    color: white;
  }
}

.mobileFA {
  float: right;
  color: $primary;
  height: 1.2rem;
  cursor: pointer;
  &:hover {
    color: $slate-blue;
  }
}
