@import '../../../../variables.module.scss';

.keyTakeawaysContent {
  display: flex;
  align-items: center;

  &:not(.noMarginBottom) {
    margin-bottom: 2rem;
  }

  .iconBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $debt-explainer-light-secondary;
    position: relative;

    .icon {
      color: #fff;
    }

    .offsetIcon {
      color: $debt-explainer-primary;
      position: absolute;
    }
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.postGraphAccordionContainer {
  margin-top: 1rem;
}

.DebtOverLast100yContainer{
  margin-bottom: 1rem;
}

.growingNationalDebtSectionGraphContainer {
  background-color: $body-background;
  margin-top: 1rem;
  margin-bottom: 1rem;

  .title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    color: $font-title;

    &.simple {
      margin-bottom: 1rem;
    }
  }

  .titleBreakdown {
    margin-top: 0;
    font-weight: 600;
    color: $font-title;
  }

  .subTitle {
    margin-top: 0;
  }

  .headerContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;

    div {
      text-align: center;

      .header {
        font-weight: bold;
      }

      .subHeader {
        font-weight: $semi-bold-weight;
      }
    }
  }

  .growingNationalDebtSectionGraph {
    margin: 0;
  }

  .footerContainer {
    p {
      margin-bottom: 0;
    }
  }
}

.postGraphContent {
  margin-top: 3rem;
  h3 {
    font-size: $font-size-24;
    padding-bottom: 1rem;
  }
}

.debtAccordion {
  :global(.accordionHeading) {
    font-size: $font-size-18;
    color: $debt-explainer-primary;
    border: none;
    padding: .75rem 1rem;
  }

  :global(.accordionToggle) {
    svg path {
      color: $debt-explainer-primary;
    }
  }

  @media screen and (max-width: $breakpoint-sm - 1) {
    :global(.accordionToggle) {
      padding-left: 1.5rem;
    }
  }

  :global(.accordionContent) {
    padding-right:1.25rem;
    padding-left:1.25rem;
    padding-bottom:1.5rem;
    border: none;
  }

  :global(.accordionOpen), :global(.accordionClosed) {
    border: solid 0.06rem $debt-explainer-primary;
    border-radius: 0.13rem;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .keyTakeawaysContent {
    .iconBackground {
      height: 4rem;
      width: 4rem;
      min-width: 4rem;
      border-radius: 2rem;

      .icon, .offsetIcon {
        font-size: 2.313rem;
        transform: translate(1.125rem, -0.563rem);
      }

      .offsetIcon {
        transform: translate(1.313rem, -0.75rem);
      }
    }

    p {
      margin-left: 2rem;
    }
  }

  .growingNationalDebtSectionGraphContainer {
    padding-top: 22px;
    padding-left: 22px;
    padding-right: 22px;

    .title {
      font-size: $font-size-18;
    }

    .titleBreakdown {
      font-size: $font-size-18;
    }

    .header {
      font-size: $font-size-36;
      min-width: 140px;
    }

    .subHeader {
      font-size: $font-size-14;
    }

    .footerContainer {
      padding-top: 1rem;
      padding-bottom: 2rem;
      font-size: $font-size-14;
    }
  }

  .debtAccordion {
    min-width: 508px;
  }
}

@media screen and (max-width: $breakpoint-lg - 1) {
  .keyTakeawaysContent {
    .iconBackground {
      height: 52px;
      width: 52px;
      min-width: 52px;
      border-radius: 26px;

      .icon, .offsetIcon {
        font-size: 1.813rem;
        transform: translate(0.75rem, -0.563rem);

      }

      .offsetIcon {
        transform: translate(0.938rem, -0.75rem);

      }
    }

    p {
      margin-left: 1rem;
    }
  }

  .postGraphContent {
    h3 {
      font-size: $font-size-24;
      padding-bottom: .5rem;
    }
  }

  .growingNationalDebtSectionGraphContainer {
    font-size: $font-size-10;
    padding: 14px;

    .headerContainer {
      margin-bottom: 1.25rem;
    }

    .title {
      font-size: $font-size-12;
    }

    .subTitle {
      font-size: $font-size-12;
    }

    .titleBreakdown {
      font-size: $font-size-12;
    }

    .header {
      font-size: $font-size-24;
    }

    .subHeader {
      font-size: $font-size-10;
    }

    .footerContainer {
      padding-top: 15px;
      font-size: $font-size-12;
    }
  }

  .growingNationalDebtSectionGraphContainer {
    .header {
      font-size: $font-size-24;
      min-width: 110px;
    }
  }

  .debtAccordion {
    margin-top: 2rem;
  }
}

@media screen and (max-width: $breakpoint-lg - 1) {
  :global(#interestToDebt .tick text) {
    font-size: $font-size-10;
  }
}
