@import '../../../../variables.module.scss';

.keyTakeawaysContent {
  display: flex;
  align-items: center;

  &:not(.noMarginBottom) {
    margin-bottom: 25px;
  }

  .iconBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99e7e7;
    position: relative;

    .icon {
      color: #fff;
    }

    .offsetIcon {
      color: $deep-blue;
      position: absolute;
    }
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.fundingProgramsBox {
  border: solid 1px #d6d7d9;
  border-radius: 3px;
  width: 100%;
  font-size: $font-size-18;
  box-shadow: 0 2px 4px 0px #a9add1;
  p {
    padding: 1rem 1rem .75rem;
  }
}

.spendingCategoriesTable {
  .row {
    display: flex;

    .firstColumn {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 72px;
      min-width: 50px;
    }

    .secondColumn {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }


  }
  .row:first-child {
    padding-top: 3.25rem;
  }

  p {
    margin: 0;
  }

  .icon {
    font-size: $font-size-36;
    color: #a9add1;
  }
}

.nationalDebtExplainedTable {
  display: flex;
  justify-content: center;
  align-items: center;

  table {
    border-collapse: collapse;

    .tableIcon {
      color: #a9add1;
    }

    td {
      text-align: center;

      &.borderBottom {
        border-bottom: solid 1px $deep-blue;
      }
    }
  }
}

.growingNationalDebtSectionAccordion {
  .accordionHeader {
    display: flex;
    flex-direction: column;

    p {
      margin: 8px 0;
      font-size: $font-size-16;
      color: $font-body-copy;
    }
  }

  .rectangle {
    background-color: $font-title;
    position: relative;
    height: 0;
  }

  .accordionTable {
    width: 100%;
    border-spacing: 1px;
  }

  .accordionFooter {
    font-size: $font-size-16;
    text-align: center;
  }
}

.growingNationalDebtSectionGraphContainer, .debtBreakdownSectionGraphContainer {
  background-color: $body-background;

  .title {
    margin-top: 0;
    font-weight: 600;
    color: $font-title;
  }

  .headerContainer {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2.5rem;

    div {
      text-align: center;

      .header {
        font-weight: bold;
      }

      .subHeader {
        font-weight: $semi-bold-weight;
      }
    }
  }

  .growingNationalDebtSectionGraph {
    margin: 0;
  }

  .footerContainer {
    p {
      margin-bottom: 0;
    }
  }
}

.debtBreakdownSectionGraphContainer {

  .barChartContainer {
    width: 100%;
    max-width: 524px;
    margin: 0 auto;
  }
}
.postGraphContent {
  margin-top: 3rem;
}

.diveDeeperQuoteLeft {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
  img {
    height: 4rem;
  }
}

.diveDeeperQuoteRight {
  display: flex;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  img {
    height: 4rem;
  }
}

.diveDeeperAccordion {
  background-color: $body-background;
}

.diveDeeperLink {
  p {
    margin-top:0;
  }
}
.debtAccordion {
  :global(.accordionHeading) {
    font-size: $font-size-18;
    color: $debt-explainer-primary;
    border: none;
    padding: .75rem 1rem;
  }

  :global(.accordionToggle) {
    svg path {
      color: $debt-explainer-primary;
    }
  }

  :global(.accordionContent) {
    padding-right:1.25rem;
    padding-left:1.25rem;
    padding-bottom:1.5rem;
    border: none;
  }

  :global(.accordionOpen), :global(.accordionClosed) {
    border: solid 0.06rem $debt-explainer-primary;
    border-radius: 0.13rem;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .keyTakeawaysContent {
    .iconBackground {
      height: 4rem;
      width: 4rem;
      min-width: 4rem;
      border-radius: 2rem;

      .icon, .offsetIcon {
        font-size: 1.75rem;
        transform: translate(5px, -5px);
      }

      .offsetIcon {
        transform: translate(8px, -8px);
      }
    }

    p {
      margin-left: 34px;
    }
  }

  .spendingCategoriesTable {

    .firstColumn {
      padding-right: 31px;
    }

    .row:not(:last-child) {
      padding-bottom: 10px;
    }
  }

  .nationalDebtExplainedTable {
    padding: 20px;

    th {
      font-size: $font-size-48;
      padding-bottom: 8px;
    }

    td {
      width: 80px;
      padding: 12px 20px;
    }
  }

  .growingNationalDebt {
    :global(.vis-callout) {
      margin-top: calc(20% + 4rem);
      margin-bottom: calc(20% + 4rem);
    }
  }

  .growingNationalDebtSectionGraphContainer, .debtBreakdownSectionGraphContainer {
    padding: 22px;

    .title {
      font-size: $font-size-18;
    }

    .header {
      font-size: $font-size-36;
      min-width: 140px;
    }

    .subHeader {
      font-size: $font-size-14;
    }

    .footerContainer {
      padding-top: 26px;

      p {
        font-size: $font-size-14;
      }
    }
  }

  .diveDeeperQuoteLeft {
    p {
      margin-right: 2.125rem;
    }
  }

  .diveDeeperQuoteRight {
    p {
      margin-left: 2.125rem;
    }
  }
}

@media screen and (max-width: $breakpoint-lg - 1) {
  .keyTakeawaysContent {
    .iconBackground {
      height: 52px;
      width: 52px;
      min-width: 52px;
      border-radius: 26px;

      .icon, .offsetIcon {
        font-size: 1.5rem;
        transform: translate(3px, -3px);
      }

      .offsetIcon {
        transform: translate(6px, -6px);
      }
    }

    p {
      margin-left: 15px;
    }
  }

  .spendingCategoriesTable {
    .firstColumn {
      padding-right: 21px;
    }

    .row:not(:last-child) {
      padding-bottom: 30px;
    }
  }

  .nationalDebtExplainedTable {
    padding: 15px;
    font-size: $font-size-14;

    th {
      font-size: $font-size-36;
    }

    td {
      padding: 8px 15px;

      &:first-of-type {
        min-width: 40px;
        padding-right: 10px;
      }
    }

    .paddingTop {
      td {
        padding-top: 14px;
      }
    }

    tfoot {
      td {
        padding-top: 0;
      }

      img {
        width: 64px;
        padding-left: 10px;
      }
    }
    .diveDeeperContent {
      p {
        margin-left: 15px;
      }
    }
  }

  .growingNationalDebtSectionGraphContainer, .debtBreakdownSectionGraphContainer {
    font-size: $font-size-10;
    padding: 14px;

    .headerContainer {
      margin-bottom: 1.25rem;
    }

    .title {
      font-size: $font-size-12;
    }

    .header {
      font-size: $font-size-22;
      min-width: 110px;
    }

    .subHeader {
      font-size: $font-size-10;
    }

    .footerContainer {
      padding-top: 15px;

      p {
        font-size: $font-size-10;
      }
    }
  }

  .diveDeeperQuoteLeft {
    p {
      margin-right: 1rem;
    }
  }

  .diveDeeperQuoteRight {
    p {
      margin-left: 1rem;
    }
  }
}

@media screen and (min-width: $breakpoint-sm) {
  .growingNationalDebtSectionAccordion {
    .rectangle {
      width: calc(2% - 1px);
      padding-bottom: calc(2% - 1px);
    }
  }
}

@media screen and (max-width: $breakpoint-sm - 1) {
  .growingNationalDebtSectionAccordion {
    .rectangle {
      width: calc(5% - 1px);
      padding-bottom: calc(5% - 1px);
    }
  }
}
