@import '../../../variables.module.scss';
@import '../../../zIndex.module.scss';

$table-container-margin: 8rem;

.titleContainer {
  border: 1px solid $dd-border-color;
  position: relative;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  z-index: $table-title;
}

.tableContainer {
  min-height: calc(#{$loading-icon-size} + #{$table-container-margin}); // height of icon + top and bottom margin
  position: relative;
}

.loadingSection {
  z-index: $table-loading-section;
  min-height: calc(#{$loading-icon-size} + #{$table-container-margin});
  height: 100%;
  width: calc(100% + .15rem);
  position: absolute;
  left: -.15rem;
  background-color: rgba(255, 255, 255, 0.85);
  transition: opacity 0.5s 0.5s, left 0.5s ease-in-out;
  display: block;
  animation: fadeIn 1s;
  overflow: hidden;
}

.loadingIcon {
  z-index: $table-loading-icon;
  color: $font-title;
  font-size: $font-size-18;
  width: 100%;
  top: 4rem;
  text-align: center;
  position: absolute;
  > * {
    vertical-align: middle;
    margin-right: 0.5rem;
    font-size: $loading-icon-size;
    color: $loading-icon-color;
  }
}

.headerWrapper {
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding: 1rem 1rem 0.5rem;
  & > * {
    margin-bottom: 0.5rem;
  }
}

.header {
  @include headingStyle6;
  margin-left: 0.5rem;
  margin-right: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-grow: 1;
}

@media screen and (min-width: $breakpoint-md){
  .headerWrapper {
    padding: 0.5rem 1rem 0;
  }
}

.barContainer {
  background-color: $body-background;
}

.noticeContainer {
  padding: 0.5rem;
  background-color: $body-background;
}

.barExpander {
  max-height: 0;
  transform: scaleY(-0);
  transition: transform 0.2s ease, max-height 0.2s ease;
  &.active {
    transform: scaleY(1);
    max-height: 60px;
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .barExpander.active {
    max-height: 92px;
  }
  .headerWrapper {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: $breakpoint-md) {
  .barExpander.active {
    max-height: 170px;
  }
}
