@import '../../variables.module.scss';

.container {
  margin-bottom: 3rem;
}

.features {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
  margin-top: 2.25rem;
}

.feature {
  width: calc(50vw - 2rem);
  text-align: center;
  
  img {
    max-width: 143px;
    width: inherit;
  }
}

.content {
  h2 {
    margin: 0 0 .5rem;
    @include headingStyle2-1;
  }
}

.contentDesc {
  margin-top: 0;
  @include bodyStyleRegular;
}

.label {
  padding: 0 .75rem;
  @include headingStyle6;
}

@media screen and (min-width: $breakpoint-sm) {
  .features {
    margin-top: 3rem;
  }

  .feature {
    width: calc(32vw - 2rem);
    &:nth-child(-n +3) { margin-bottom: 2.5rem; }
  }

  .content {
    h2 {
      font-size: $font-size-48;
    }
  }
}

//
@media screen and (min-width: $breakpoint-lg) {
  .container {
    display: flex;
    margin-bottom: 6.125rem;
    align-items: center;
    justify-content: space-between;
  }

  .content {
    max-width: 360px;
  }

  .features {
    margin-top: 0;
    max-width: 640px;
  }

  .feature {
    width: 150px;
    margin-right: 50px;

    &:nth-child(3n) {
      margin-right: 0;
    }

    img {
      width: 100%;
    }
  }
}
