@import '../../variables.module.scss';

.dataTableSelectWrapper {
  width: 100%;
  max-width: 430px;
  margin-bottom: 0.75rem;
  > div > button {
    white-space: nowrap;
  }
}
.dropdownDisplay {
  min-width: 250px;
  @media screen and (min-width: $breakpoint-md) {
    display: inline-block;
  }
}

.header {
  @include headingStyle6;
}
