@use 'src/variables.module' as *;
@use 'src/zIndex.module' as *;

.dataTableSelectWrapper {
  width: 100%;
  margin-bottom: 0.75rem;
  > div > button {
    white-space: nowrap;
  }
}
.dropdownDisplay {
  position: relative;
  width: 100%;
  z-index: $dtg-table-dropdown;
  @media screen and (min-width: $breakpoint-md) {
    display: inline-block;
  }
}

.header {
  @include headingStyle6;
}
.placeholderText {
  font-size: $font-size-16;
  padding: 4.8px 0;
}

.placeholderDropdown {
  height: 3rem;
  width: 100%;
  background-color: $light-grey-border;
  border-radius: 0.125rem;
}
