@import '../../variables.module.scss';

.dataTableSelectWrapper {
  width: 100%;
  max-width: 250px;
  margin-bottom: 0.75rem;
  > div > button {
    white-space: nowrap;
  }
}

.header {
  @include headingStyle6;
}
