@use 'src/variables.module' as *;

.horizontalSocialShareContent {
  display: flex;
  max-width: 322.5rem;
  max-height: 3rem;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  padding-bottom: 0;
}

.horizontalShareButton {
  display: flex;
  text-align: justify;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 0;
  justify-content: center;
  height: 1rem;
}

.horizontalShareButtonContainer {
  display: flex;
  align-items: center;
  text-align: justify;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  margin-left: 3rem;
}

.socialShareContent,
.listSocialShareContent {
  .headerText {
    color: $font-body-copy;
    font-weight: $semi-bold-weight;
    font-size: $font-size-16;
    width: 6.875rem;
    margin: 0 0 0.75rem;
  }
}

.socialShareContent {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.shareButton,
.listShareButton {
  display: flex;
  align-items: center;
  margin-top: 0.75rem;
  margin-bottom: 0;
}

.listShareButton,
.listSocialShareContent {
  min-height: 1rem;
  .headerText {
    min-height: 1rem;
  }
}

.customShareButton {
  background: none;
  border: none;
  padding: 0;
  margin-top: 0.75rem;
  cursor: pointer;
}

@media screen and (max-width: $breakpoint-lg - 1) {
  .horizontalShareButtonContainer {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }

  .socialShareContent {
    height: 1.125rem;
  }

  .shareButton {
    display: flex;
    text-align: justify;
    margin-top: 0;
    margin-bottom: 2rem;
    justify-content: center;
  }

  .shareButtonContainer {
    display: inline-flex;
    text-align: justify;
    justify-content: center;
    width: 20%;
  }
}
