@import '../../variables.module.scss';
@import '../../zIndex.module.scss';

$menuWidth: 318px;

@keyframes fadeIn {
  0%   {opacity: 0;}
  100% {opacity: 0.75;}
}

.glossaryContainer {
  position: absolute;
  width: 0;
  right: 0;
  margin-top: -43px;
  transition: width 0.5s ease-in-out;
  z-index: $glossary;

  &.open {
    width: $menuWidth;
    margin
    .overlay {
      display: block;
      animation: fadeIn 1s;
      opacity: 0.75;
    }
  }
}

.tray {
  z-index: $glossary;
  background-color: white;
  height: 100vh;
  box-sizing: border-box;
  &.open {
    padding: 1.625rem 1rem 0.5rem 1rem;
    top: 0;
    position: fixed;
    border-left: 0.25rem solid #0071bc;
  }
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: #DDDDDD;
  opacity: 0;
  transition: opacity 0.5s 0.5s, left 0.5s ease-in-out;
  z-index: $glossary-overlay;
  display: none;
}

.glossaryHeaderContainer {
  display: flex;
  flex-direction: row;
  gap: 4.5rem;
}

:global(body) {
  max-width: 100%;
  overflow-x: hidden;
}
