@import '../../../../../../variables.module.scss';
@import '../../national-deficit.module';

.tabEdgeLeft {
  position: absolute;
  left: -11px;
  top: -2.5px;
  z-index: -1;
}

.tabEdgeRight {
  position: absolute;
  right: -21px;
  top: -2.5px;
  z-index: -1;
}

.selectedTab {
  font-weight: $semi-bold-weight;
}

:global(.bounce) {
  animation: bounce 3s ease 1;
}
:global(.bounceDeficit) {
  animation: bounce 3s ease 900ms 1;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-15px);}
}

[aria-selected="true"] .tabEdgeLeft, [aria-selected="true"] .tabEdgeRight {
  z-index: 1;
}

.tabBaselineWhiteout {
  display: none;
  position: absolute;
  min-height: 6px;
  min-width: 4px;
  bottom: -4.5px;
  left: -4.9px;
  right: -4.8px;
  border-radius: 4px;
  background-color: #ffffff;
  z-index: 100;
}

[aria-selected="true"] .tabBaselineWhiteout {
  display: block;
}

.folderWhiteOutLine {
  top: 2.25rem;
  position: absolute;
  max-width: 542px;
  background-color: #FFFFFF;
  z-index: 100;
  min-height: 1.5rem;
  min-width: 1rem;
  right: 3px;
  width: calc(100% - 10px);
}

.folderVisContainer {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;

  .title{
    display: flex;
    justify-content: center;
    padding: 0 1rem;
    color: $deficit-explainer-primary !important;
  }
}

.folderVis {
  display: flex;
  border: solid 0.125rem $deficit-explainer-light-secondary;
  box-shadow: .25rem .25rem $deficit-explainer-light-secondary;
  font-size: $font-size-16;
  border-radius: 0.125rem;
  max-width: 552px;

  .folderContent{
    margin-top: 0.5px;
    min-height: 272px;
    display: flex;
    align-items: center;
    padding: .5rem 4.25rem .625rem;
    background-color: white;
    border-top: solid 0.375rem white;
    transform: translateY(-1px);
    height: 100%;
    width: 100%;

    i {
      font-weight: $semi-bold-weight;
    }

    img {
      height: 155px;
      width: 158px;
    }
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .folderContent img {
    padding-right: 4rem;
  }
}

@media screen and (max-width: $breakpoint-lg - 1) {
  .folderVisContainer {
    margin-top: 2rem;

    .title {
      padding: 0 .1rem;
    }

    .folderVis {
      padding: 0;
      .folderContent{
        flex-direction: column;
        padding: 1.5rem 1.625rem .5rem;
        border-top: solid 0.375rem white;
        transform: translateY(-1px);

        img {
          padding-bottom: 1rem;
        }
      }
    }
  }
}

