@import '../../../variables.module.scss';

.calendarEntryStatus {
  .updateStatusIcon {
    color: $dark-green;
  }

  .notYetUpdated {
    background-color: #d8d8d8;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .calendarEntryStatus {
    span {
      display: none;
    }

    .updateStatusIcon,
    .notYetUpdated {
      height: $font-size-16 * 2;
      width: $font-size-16 * 2;
      margin-right: $font-size-24;
      border-radius: $font-size-16;
    }
  }
}
@media screen and (max-width: $breakpoint-lg - 1) {
  .calendarEntryStatus {
    display: flex;
    align-items: center;

    .updateStatusIcon,
    .notYetUpdated {
      height: $font-size-16;
      width: $font-size-16;
      margin-right: $font-size-16 / 2;
      border-radius: $font-size-16 / 2;
    }

    span {
      font-size: $font-size-16;
      color: $font-body-copy;
    }
  }
}
