@use '../../treasury-savings-bonds.module.scss' as *;

.tableContainer {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 2px;
}

.rowContainer {
  display: flex;
  gap: 2px;
}

.headerBox {
  font-size: 14px;
  min-width: 115px;
  max-width: 115px;
  background-color: #b04abd;
  padding: 8px 8px 12px 8px;
  color: white;
}

.contentBox {
  width: 50%;
  font-size: 14px;
  background-color: #f8f0f9;
  padding: 8px 8px 12px 8px;
}

.singular {
  width: 100%;
}

.bondTitle {
  color: $treasury-savings-bonds-explainer-darker-secondary;
  font-weight: 600;
}
