.fillCellGrey,
.fillCellWhite {
  color: #555555;
}

.fillCellGrey {
  background: #f1f1f1;
}

.fillCellWhite {
  background: white;
}

.cellBorder {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.rightAlignText {
  text-align: right;
}
