@use 'src/variables.module' as *;

.topicTitle {
  @include headingStyle5;
  margin: 0 0 0.5rem 0;
}

.topicFilterCount {
  margin-top: 0;
}

.topicsLayout {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
