@import 'src/variables.module';

.dateRangePicker {
  margin-left: 1rem;
}

.dateRangePickerPadded {
  margin-left: 1rem;
  padding-bottom: 1rem;
}

.dropdownButton {
  border-radius: 0.5rem;
  background: #eff6fb;
  border: 1.5px solid #eff6fb;
  box-shadow: 0 0 0 0 rgba(0, 113, 188, 0.5);
  padding: 5px 11px;
  display: flex;
  align-items: center;
  color: $font-body-copy;
  font-size: $font-size-14;
  justify-content: space-between;
  width: 100%;

  &.active {
    border: 1px solid #aacdec;
  }
  .selectedDateRange {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.dropdownContent {
  z-index: $published-reports-date-picker + 5;
}
.datePickers {
  display: flex;
  padding: 0 1rem 1rem 1rem;
  gap: 1rem;
}

.icon {
  font-size: $font-size-16;
  width: 1.5rem;
  height: 1rem;
}
