@use '../../../variables.module.scss' as *;

.image {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 4rem;
}

@media screen and (max-width: $breakpoint-lg - 1) {
  .image {
    margin-bottom: 3.1875rem;
  }
}
