@import '../variables.module.scss';

.siteHome {
  max-width: $main-width;
  margin: 0 auto 1rem;
  padding: 1rem 0.75rem 0;
}

@media screen and (min-width: $breakpoint-sm) {
  .siteHome {
    padding: 1rem 2rem 1.25rem;
  }
}

