@use '../variables.module.scss' as *;

.siteHome {
  max-width: $main-width;
  margin: 0 auto 1rem;
  padding: 1rem 0.625rem 0;
}

@media screen and (min-width: $breakpoint-sm) {
  .siteHome {
    padding: 1rem 2rem 1.25rem;
  }
}

.loadingIcon {
  z-index: $dtg-table-loading-icon;
  color: $font-title;
  font-size: $font-size-18;
  margin: 12rem 0;
  text-align: center;

  > * {
    vertical-align: middle;
    margin-right: 0.5rem;
    font-size: 64px;
    color: $loading-icon-color;
  }
}
