@import '../variables.module.scss';

.siteHome {
  max-width: $main-width;
  margin: 0 auto 1rem;
  padding: 0 0.75rem;
}

@media screen and (min-width: $breakpoint-sm) {
  .siteHome {
    padding: 1.25rem 2rem;
  }
}

