@import '../../../../variables.module.scss';

$deficit-explainer-primary: #b3532d;
$deficit-explainer-secondary: #9f4224;
$deficit-explainer-light-secondary: #e0baab;

.deficitAccordion {
  :global(.accordionHeading) {
    font-size: $font-size-18;
    color: $deficit-explainer-primary;
    border: none;
    padding: .563rem 1rem;
  }

  :global(.accordionToggle) {
    svg path {
      color: $deficit-explainer-primary;
    }
  }

  @media screen and (max-width: $breakpoint-sm - 1) {
    :global(.accordionToggle) {
      padding-left: 1.5rem;
    }
  }

  :global(.accordionContent) {
    padding-right:1.25rem;
    padding-left:1.25rem;
    padding-bottom:1.5rem;
    border: none;
  }

  :global(.accordionOpen), :global(.accordionClosed) {
    border: solid 0.06rem $deficit-explainer-primary;
    border-radius: 0.13rem;
  }
}

.understandingDeficitContainer {
  .textContent {
    p {
      margin-top: 0;
    }
  }

  .folderVisContainer {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .folderVis {
    display: flex;
    align-items: center;
    border: solid 1px #d6d7d9;
    width: 100%;
    font-size: $font-size-16;
    p {
      padding: 4.063rem 4.25rem 4.063rem 2rem;
      width: 55%;
    }
    img {
      padding: 4.063rem 2rem 4.063rem 4.188rem;
      width: 45%;
    }
  }

  .understandingVisContainer {
    margin-bottom: 0;
  }
}

.deficitDebtDifferenceContent {
  .deficitDebtDifferenceVisContainer {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
}

@media screen and (min-width: $breakpoint-lg) {

  .understandingDeficitContainer {
    :global(.vis-callout) {
      margin-top: calc(4rem);
    }
  }


  .debtAccordion {
    min-width: 508px;
  }
}

@media screen and (max-width: $breakpoint-lg - 1) {

  .understandingDeficitContainer {
    .folderVisContainer {
      margin-top: 2rem;
    }
  }

  .debtAccordion {
    margin-top: 2rem;
  }

}


:export {
  deficitExplainerPrimary: $deficit-explainer-primary;
  deficitExplainerSecondary: $deficit-explainer-secondary;
  deficitExplainerLightSecondary: $deficit-explainer-light-secondary;
}

