@use '../../variables.module.scss' as *;

div.aboutPageWrapper {
  margin-top: 2rem;
  padding-top: 0;
}

.content {
  max-width: 847px;
  margin-bottom: 3.75rem;
}

.activeLink {
  color: $primary;
  font-weight: $semi-bold-weight;
  border-left: 6px solid $primary !important;
  padding-left: calc(1rem - 6px);
}

.hoverLink {
  color: $primary;
  font-weight: $semi-bold-weight;
}

@media screen and (min-width: $breakpoint-lg) {
  .aboutPageWrapper {
    display: flex;
  }

  #content {
    max-width: 847px;
    width: calc(100% - 260px - 2rem);
    padding-bottom: 15rem;
  }
}
