@import '../../variables.module.scss';

div.aboutPageWrapper {
  margin-top: 2rem;
  padding-top: 0;
}

.section section {
  &.noBullets, .noBullets {
    list-style: none;
  }
  &:last-child, &.lastChild {
    padding-bottom: 7.25rem;
  }
}

.content {
  max-width: 847px;
  margin-bottom: 3.75rem;
}

.list {
  li {
    margin-bottom: 1.5rem;
  }
  &.noBullets {
    list-style: none;
  }
}

.title {
  &, h2 {
    margin-top: 0;
    @include headingStyle2-1;
  }
  h3 {
    margin-top: 0;
    @include headingStyle3;
  }
  margin-top: 0;
}

.activeLink {
  color: $primary;
  font-weight: $semi-bold-weight;
  border-left: 6px solid $primary !important;
  padding-left: calc(1rem - 6px);
}

.linkClass {
  display:block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.hoverLink {
  color: $primary;
  font-weight: $semi-bold-weight;
}

@media screen and (min-width: $breakpoint-lg) {
  .aboutPageWrapper {
    display: flex;
  }

  #content {
    max-width: 847px;
    width: calc(100% - 260px - 2rem);
    padding-bottom: 15rem;
  }
}
