@use 'src/variables.module' as *;

.tabIcon {
  margin-right: 0.5rem;
  font-size: $font-size-14;
  transform: translateY(2px);
}
.chartTableToggleContainer {
  border-bottom: 1px #ddd solid;
  display: flex;
}
