@use 'src/variables.module' as *;
@use '../../zIndex.module.scss' as *;

.selector_button {
  position: relative;
  display: inline-block;
  font-size: $font-size-15;
  width: 100%;
  height: 100%;
  background-color: $content-section-background;
  border: 1px solid $border-color;
  border-radius: 0.2rem;
  padding: 0.1875rem 2rem 0.1875rem 0.5rem;
  text-align: left;
  line-height: 2;
  color: $font-body-copy;
  cursor: pointer;

  .icon {
    display: block;
    position: absolute;
    right: 0.6rem;
    top: 0.7875rem;
  }
}

.nested_selector_button {
  position: relative;
  display: inline-block;
  font-size: $font-size-16;
  width: 100%;
  height: 100%;
  background-color: $content-section-background;
  border: 1px solid $border-color;
  border-radius: 0.125rem;
  padding: 0.75rem 1rem;
  text-align: left;
  line-height: unset;
  color: $font-body-copy;
  cursor: pointer;

  &.dropdown_open {
    border: 1px solid $primary;
    box-shadow: 0 0 0 4px $primary-blue;
  }

  &:hover {
    border: solid 1px $font-body-copy;
  }

  .icon {
    display: block;
    position: absolute;
    right: 1rem;
    top: 0.7875rem;
    width: 1rem;
    height: 1rem;
  }
}

.selector_label {
  display: inline-block;
  padding: 0.3rem 0;
}
.selector_container {
  position: relative;
  max-height: 400px;
}

.nested_selector_container {
  position: relative;
  max-height: 400px;
  border: 1px solid white;
  box-shadow: 0 0 0 4px white;
}

.nested_list_container {
  border: 0 solid #dddddd;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  border-radius: 0.125rem;
  margin-top: 0.33rem;
  position: absolute;
  z-index: $select-control;
  width: 100%;
  background-color: $content-section-background;
}

.nested_selector_list {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  max-height: 18.125rem;
  box-sizing: border-box;
  white-space: normal;
  .selector_option {
    font-weight: normal;
    display: block;

    + .selector_option {
      border-top: 1px solid $border-color;
    }

    .selector_optionButton {
      font-size: $font-size-15;
      width: 100%;
      background-color: transparent;
      border: none;
      text-align: left;
      line-height: 2;
      color: $font-body-copy;
      cursor: pointer;

      &:hover {
        background-color: $body-background;
      }

      &:disabled {
        cursor: default;
        &:hover {
          background-color: $content-section-background;
        }
      }

      &.selector_optionSelected {
        background-color: $dropdown-active-background;
      }
    }
  }
}

.selector_list {
  list-style: none;
  margin-top: 0.1rem;
  padding: 0 0.6rem;
  border: 1px solid $border-color;
  border-radius: 0.1rem;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  background-color: $content-section-background;
  white-space: normal;
  z-index: $select-control;
  &.scrollableList {
    max-height: 315px;
    overflow-y: scroll;
    box-shadow: 5px 5px 10px 0 #777777;
  }

  .selector_option {
    font-weight: normal;
    display: block;

    + .selector_option {
      border-top: 1px solid $border-color;
    }

    .selector_optionButton {
      font-size: $font-size-15;
      width: 100%;
      background-color: transparent;
      border: none;
      text-align: left;
      line-height: 2;
      color: $font-body-copy;
      cursor: pointer;

      &:hover {
        background-color: $body-background;
        transition: background-color 0.2s ease;
      }

      &:disabled {
        cursor: default;
        &:hover {
          background-color: $content-section-background;
        }
      }

      &.selector_optionSelected {
        background-color: $dropdown-active-background;
      }
    }
  }
}

.labels {
  width: 100%;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.yearTitle {
  margin: 0.5rem 1rem;
  font-size: $font-size-14;
  font-weight: $semi-bold-weight;
}

.selector_nestedOption {
  &:hover {
    background-color: $content-section-background;
  }
  font-size: $font-size-16;
  padding-left: 0;
  font-weight: normal;
  display: block;
  height: 2.25rem;
  &.highlighted {
    background-color: $primary-blue;
    transition: background-color 0.2s ease;
    .selector_optionButton {
      color: $primary;
    }
  }
  .selector_option {
    border-top: 1px solid $border-color;
  }

  .selector_optionButton {
    font-size: $font-size-16;
    background-color: transparent;
    border: none;
    width: 100%;
    padding-left: 2rem;
    text-align: left;
    line-height: 2;
    color: $font-body-copy;
    cursor: pointer;
    &.selector_optionSelected {
      color: $primary;
    }
  }

  &:hover {
    background-color: #f1f1f1;
  }

  &.selector_optionSelected {
    background-color: $dropdown-active-background;
  }

  &:disabled {
    cursor: default;
    &:hover {
      background-color: $content-section-background;
    }
  }
}

.comboSelectField {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  font-size: $font-size-15;
  width: 100%;
  background-color: $content-section-background;
  border: 1px solid $border-color;
  border-radius: 0.13rem;
  padding-left: 0.5rem;
  text-align: left;
  line-height: 2.125rem;
  color: $font-body-copy;
  margin-right: 1rem;

  &.textField {
    // prevents inconsistencies with iOS
    box-sizing: content-box;
    height: 29.81px; // to match mui input height
    line-height: unset;
    padding-bottom: 1px;
    padding-top: 1px;
    -webkit-appearance: none;
  }
}
