@use 'src/variables.module' as *;

.spendingAccordion {
  :global(.accordionHeading) {
    font-size: $font-size-18;
    color: $spending-explainer-primary;
    border: none;
    padding: 0.75rem 1rem;
  }

  :global(.accordionToggle) {
    svg path {
      color: $spending-explainer-primary;
    }
  }

  @media screen and (max-width: $breakpoint-sm - 1) {
    :global(.accordionToggle) {
      padding-left: 1.5rem;
    }
  }

  @media screen and (max-width: $breakpoint-lg - 1) {
    margin-top: 2rem;
  }

  :global(.accordionContent) {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    padding-bottom: 1.5rem;
    border: none;
  }

  :global(.accordionOpen),
  :global(.accordionClosed) {
    border: solid 0.06rem $spending-explainer-primary;
    border-radius: 0.13rem;
  }
}
