@use 'src/variables.module' as *;
@use 'src/zIndex.module' as *;

@keyframes slideIn {
  0% {
    margin-top: 100px;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes slideOut {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: 100px;
  }
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    z-index: $modal;
    background-color: white;
    padding: 20px;
    max-height: 95vh;

    &.slideIn {
      animation: slideIn 0.5s;
    }

    &.slideOut {
      animation: slideOut 0.5s;
    }
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .content {
    max-width: 90vw;
  }
}

@media screen and (max-width: $breakpoint-lg - 1) {
  .content {
    max-width: 80vw;
  }
}
