@import '../../../../../variables.module.scss';
@import '../federal-spending.module';

.spendingTrends {
}
  .comingSoon{

    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #444;
  }
  .rectangle {
    
    background-color: #fff1d2;
  }


