@import '../../../../../variables.module.scss';
@import '../federal-spending.module';

  .comingSoon{
    padding: 2px;
    font-size: .875rem;
    font-style: italic;
    font-size: $font-size-16;

  }


