@import '../../../../../variables.module.scss';
@import '../federal-spending.module';

  .comingSoon{
    width: 7rem;
    height: 1.25rem;
    font-family: "Source Sans Pro", sans-serif;
    font-size: .875rem;
    font-style: italic;
    line-height: 1.25rem;
    letter-spacing: normal;
    text-align: center;
    color: #444;
    background-color: #fff1d2;
  }

