@import '../../variables.module.scss';

.container {
  border-bottom: 2px solid $slate-blue;
  background-color: white;
  padding: 0.5rem 0.75rem;
}

.content {
  display: flex;
  justify-content: space-between;
  max-width: $main-width;
  align-items: center;
  margin: 0 auto;
}

.pageLinks {
  display: none;
}

.logo {
  width: 8.25rem;
  height: 35px;
}

@media screen and (min-width: $breakpoint-sm) {
  .container {
    padding: 0.5rem 2rem;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .container {
    padding: 0 2rem 0.5rem;
  }

  .logo {
    width: 12rem;
    height: 55px;
  }

  .dropdown .dropdownButton {
    margin-right: 3rem;
    border: none;
    outline: none;
    background-color: inherit;
    font-size: 1rem;
    color: $font-title;
    height: 55px;
  }

  .dropdown:hover .dropdownButton {
    color: $primary;
    font-weight: $semi-bold-weight;
  }

  .caret {
    padding-left: 1rem;
  }

  .dropdownContent {
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    //margin-top: 10px;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdownRow {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }

  .dropdownColumnOne {
    flex-flow: column nowrap;
    justify-content: center;
    margin: 2rem 0;
  }

  .dropdownColumnTwo {
    flex-flow: column nowrap;
    justify-content: center;
    margin: 2rem 0 2rem 20%;
  }

  .dropdown:hover .dropdownContent {
    display: flex;
    justify-content: center;
  }

  .dropdownTitle {
    font-weight: $semi-bold-weight;
    white-space: nowrap;
    margin-bottom: 1rem;
  }

  .dropdownListItem {
    margin-bottom: 0.4rem;
  }

  .pageLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      display: block;
      margin-right: 3rem;
      text-decoration: none;
      color: $card-body;
      white-space: nowrap;

      &:last-child {
        margin-right: 0;
      }
      &.activeLink {
        color: $primary;
        font-weight: $semi-bold-weight;
      }
    }
  }
}
