@import '../../variables.module.scss';

.container {
  border-bottom: 1px solid $slate-blue;
  background-color: white;
  padding: 0.5rem 0.75rem;
}

.content {
  display: flex;
  justify-content: space-between;
  max-width: $main-width;
  align-items: center;
  margin: 0 auto;
}

.pageLinks {
  display: none;
}

.pageLinkButton {
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom: 2px solid transparent;
}

.logo {
  width: 8.25rem;
  height: 35px;
}

@media screen and (min-width: $breakpoint-sm) {
  .container {
    padding: 0.5rem 2rem;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .content {
    height: 70px;
  }
  .container {
    padding: 0 2rem;
  }

  .logo {
    width: 12rem;
    height: 55px;
  }

  .pageLinkButtonContainer {
    padding-right: 1rem;
  }
  .pageLinkButtonContent {
    transform: translateX(2rem);
    .pageLinkButton {
      padding-top: 3px;
      background-color: inherit;
      font-size: 1rem;
      height: 55px;
      border-bottom: 2px solid transparent;

      &.pageLinkButtonActive {
        border-bottom: 2px solid #555555;
        color: #555555;
        font-weight: $semi-bold-weight;
        &:hover {
          border-bottom: 2px solid #555555;
        }
      }

      &:hover {
        a {
          color: $primary;
          font-weight: $semi-bold-weight;
        }
        border-bottom: 2px solid $primary;
      }
    }


  }

  .dropdown .dropdownButton {
    overflow: hidden;
    transform: translateX(2rem);
    padding-top: 3px;
    margin-right: 2rem;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    outline: none;
    background-color: inherit;
    border-bottom: 2px solid transparent;
    font-size: 1rem;
    color: #666666;
    height: 55px;
    min-width: 81px;
  }

  // todo - make this class nested under dropdownButton
  .dropdownButtonExpanded {
    overflow: hidden;
    transform: translateX(2rem);
    padding-top: 3px;
    margin-right: 2rem;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    background-color: inherit;
    font-size: 1rem;
    height: 55px;
    color: $primary;
    font-weight: $semi-bold-weight;
    border-bottom: 2px solid $primary;
  }

  .caret {
    padding-left: 1rem;
    min-width: 10px;
  }

  .dropdownContent {
    overflow: hidden;
    transition: opacity 500ms ease;
    justify-content: center;
    display: flex;
    position: absolute;
    background-color: white;
    width: 100%;
    margin-top: 1px;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

    link {
      color: #0071BC;
      &:hover{
        font-weight: $semi-bold-weight;
      }
    }

    &.dropdownHidden {
      opacity: 0;
    }
  }

  .dropdownRow {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }

  .dropdownColumnOne {
    flex-flow: column nowrap;
    justify-content: center;
    margin: 2rem 0;
  }

  .dropdownColumnTwo {
    flex-flow: column nowrap;
    justify-content: center;
    margin: 2rem 0 2rem 6rem;
  }

  .dropdownTitle {
    font-weight: $semi-bold-weight;
    white-space: nowrap;
    margin-bottom: 1rem;
    font-size: 14px;
  }

  .dropdownListItem {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    a {
      &:hover {
        color: $primary;
        font-weight: $semi-bold-weight;
      }

      &.activeTopicLink {
        font-weight: $semi-bold-weight;
      }
    }
  }

  .pageLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;

    a {
      display: block;
      margin-right: 3rem;
      text-decoration: none;
      color: #666666;
      white-space: nowrap;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        color: $primary;
        font-weight: $semi-bold-weight;
      }

      &.activeLink {
        color: #555555;
        font-weight: $semi-bold-weight;
      }
    }
    &.activeLink {
      border-bottom: 2px solid #555555;
    }
  }
}
