@import '../../variables.module.scss';

.bannerHeading {
  font-size: $font-size-16;
  font-weight: $semi-bold-weight;
  margin-bottom: .25rem;
}

.bannerContent {
  font-size: $font-size-14;
  font-weight: 400;
}

.container {
  border-bottom: 1px solid $slate-blue;
  background-color: white;
  padding: 0.5rem 0.75rem;
}

.content {
  display: flex;
  justify-content: space-between;
  max-width: $main-width;
  align-items: center;
  margin: 0 auto;
}

.logo {
  width: 8.25rem;
  height: 35px;
}

@media screen and (min-width: $breakpoint-sm) {
  .container {
    padding: 0.5rem 2rem;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .content {
    height: 70px;
  }
  .container {
    padding: 0 2rem;
  }

  .logo {
    width: 12rem;
    height: 55px;
  }
}
