@use 'src/variables.module' as *;
@use '../../zIndex.module' as *;

.stickyHeader {
  position: sticky;
  top: -0.75rem;
  z-index: $sticky-header;

  isolation: isolate;
}

.bannerHeading {
  font-size: $font-size-16;
  font-weight: $semi-bold-weight;
  margin-bottom: 0.25rem;
  color: $font-title;
}

.bannerContent {
  font-size: $font-size-14;
  font-weight: 400;
}

.container {
  border-bottom: 1px solid $slate-blue;
  background-color: white;
  padding: 0.25rem 0.75rem 0;
  margin-top: 0.5rem;
  height: 3.6875rem;

  position: relative;
  z-index: 1;
}

.content {
  display: flex;
  justify-content: space-between;
  max-width: $main-width;
  align-items: flex-end;
  margin: 0 auto;
  height: 100%;

  position: relative;
  z-index: 1;
}

.logo {
  transition: 0.125s;
  padding-bottom: 0.25rem;
}

@media screen and (max-width: $breakpoint-lg - 1) {
  .logo {
    width: 8.25rem;
    padding-bottom: 0.5rem;
  }

  .stickyHeader {
    top: 0;
  }

  .container {
    margin: 0;
    height: 100%;
    padding-top: 0.5rem;
  }
}
