@import '../../variables.module.scss';
@import '../../zIndex.module';

.stickyHeader {
  position: sticky;
  top: -3.25rem;
  z-index: $sticky-header;
}

.bannerHeading {
  font-size: $font-size-16;
  font-weight: $semi-bold-weight;
  margin-bottom: 0.25rem;
  color: $font-title;
}

.bannerContent {
  font-size: $font-size-14;
  font-weight: 400;
}

.container {
  border-bottom: 1px solid $slate-blue;
  background-color: white;
  padding: 0.25rem 0.75rem 0;
  margin-top: 0.5rem;
  height: 59px;
}

.content {
  display: flex;
  justify-content: space-between;
  max-width: $main-width;
  align-items: flex-end;
  margin: 0 auto;
  height: 100%;
}

.logo {
  transition: 0.5s;
  padding-bottom: 0.25rem;
}

@media screen and (min-width: $breakpoint-sm) {
  .container {
    //padding: 1rem 2rem 0;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .content {
    //height: 70px;
  }
  .container {
    //padding: 1rem 2rem 0;
  }
}
