@use 'src/variables.module' as *;

.descriptionsContainer {
  display: block;
  margin-bottom: 2.125rem;
}

.listContainer {
  display: flex;
  flex-direction: column;
  height: 519px;
  margin-right: 1rem;

  p {
    padding: 0;
  }

  .header {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    h5 {
      font-weight: $semi-bold-weight;
      font-size: $font-size-18;
      margin: 0 0.5rem;
    }

    .box {
      height: 1.125rem;
      width: 1.125rem;
      border-radius: 0.125rem;
    }
  }

  .description {
    padding-bottom: 1.5rem;
    margin: 0 0 1.5rem;
    font-size: $font-size-18;
    color: $font-title;
    &:not(:last-child) {
      border-bottom: 1px solid $light-grey-border;
    }
  }
}

@media screen and (max-width: $breakpoint-lg - 1) {
  .listContainer {
    display: flex;
    flex-direction: column;
    height: 376px;
  }
  .descriptionsContainer {
    margin-bottom: 1.25rem;
  }
}
