@import '../../../../../../variables.module.scss';

.container {
  :global(.chartContainerHeader) {
    margin-top: 1rem;
  }

  overflow: hidden;
  .lineChartContainer {
    width: 100%;
    margin: 0 auto;
    &.inAnimation > div > svg > g > line {
      opacity: 0;
      &.animationCrosshair {
        opacity: 0.75;
      }
    }
  }
  margin-bottom: 1rem;
}

@media screen and (min-width: $breakpoint-lg) {
  .container {
    margin-bottom: 2.75rem;

    .header {
      font-size: $font-size-36;
      min-width: 8.75rem;
    }

    .subHeader {
      font-size: $font-size-14;
    }
  }
}

@media screen and (max-width: $breakpoint-lg - 1) {
  .container {
    font-size: $font-size-10;
    padding: 0.875rem;
    margin-top: 2rem;
  }

  .lineChartContainer {
    max-width: 29rem;
  }
}
