@import '../../../../../../variables.module.scss';

.container {
  overflow: hidden;
  .lineChartContainer {
    width: 100%;
    margin: 0 auto;
    &.inAnimation > div > svg > g > line {
      opacity: 0;
      &.animationCrosshair {
        opacity: 0.75;
      }
    }
  }
  margin-bottom: 1rem;

  .title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    color: $font-title;

    &.simple {
      margin-bottom: 1rem;
    }
  }

  .titleBreakdown {
    margin-top: 0;
    font-weight: 600;
    color: $font-title;
  }

  .subTitle {
    margin-top: 0;
  }

  .headerContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;

    div {
      text-align: center;

      .header {
        font-weight: bold;
      }

      .subHeader {
        font-weight: $semi-bold-weight;
      }
    }
  }

  .growingNationalDebtSectionGraph {
    margin: 0;
  }

  .footerContainer {
    p {
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .container {
    margin-bottom: 2.75rem;

    .title {
      font-size: $font-size-18;
    }

    .titleBreakdown {
      font-size: $font-size-18;
    }

    .header {
      font-size: $font-size-36;
      min-width: 140px;
    }

    .subHeader {
      font-size: $font-size-14;
    }

    .footerContainer {
      padding-top: 1rem;
      padding-bottom: 2rem;
      font-size: $font-size-14;
    }
  }
}

@media screen and (max-width: $breakpoint-lg - 1) {
  .container {
    font-size: $font-size-10;
    padding: 14px;
    margin-top: 2rem;
  }

  .lineChartContainer {
    max-width: 464px;
  }

  .headerContainer {
    margin-bottom: 1.25rem;
  }

  .title {
    font-size: $font-size-12;
  }

  .subTitle {
    font-size: $font-size-12;
  }

  .titleBreakdown {
    font-size: $font-size-12;
  }

  .header {
    font-size: $font-size-24;
    min-width: 110px;
  }

  .subHeader {
    font-size: $font-size-10;
  }

  .footerContainer {
    padding-top: 0;

    p {
      font-size: $font-size-12;
    }
  }
}
