.testingGuide {
  margin: 2rem;
  .testingForm {
    display: flex;
  }

  h2 {
    margin-bottom: 1rem;
  }

  .datasetName {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 2rem;
  }
  .search {
    width: 20rem;
    :global(.dropdownContainerBorder) {
      box-shadow: none;
      border-radius: 0;
      margin-top: 0;
      position: inherit;
    }

    :global(.globalDropdownList) {
      max-height: 40rem;
    }
  }

  .results {
    width: 100%;
    margin-left: 1rem;
  }

  .search,
  .section {
    margin-bottom: 2rem;
    h3 {
      margin-bottom: 0.5rem;
    }

    .features {
      display: flex;
      gap: 1.5rem;
      margin-left: 0.5rem;
      border-bottom: 1px solid #666;
      .matchingSpec,
      .matchingDatasets {
        width: 50%;
        display: flex;
        flex-direction: column;
        margin-bottom: 0.5rem;
      }
    }
  }
}
