@use 'src/variables.module' as *;
@use "sass:color";

.row {
  display: flex;
  margin-bottom: 0.5rem;
  justify-content: space-between;
  align-items: center;

  &:last-of-type {
    margin-bottom: 0;
  }

  label {
    display: flex;
    cursor: pointer;
    font-size: $font-size-14;
    color: $font-body-copy;
    transition: color ease 0.2s;
    position: relative;

    &:hover {
      color: color.adjust($font-body-copy, $lightness: -40%);
    }
  }

  .checkbox_wrapper {
    position: relative;
  }

  [type='checkbox']:focus-visible + span {
    border: 1px solid black !important;
  }

  [type='checkbox'] {
    position: absolute;
    display: inline-block;
    max-width: 1px;
    max-height: 1px;
    opacity: 0;
    overflow: hidden;
  }

  [type='checkbox']:checked + span {
    background: $primary -19px top no-repeat;
    border: 1px solid $primary;
  }

  [type='checkbox'] + span {
    display: inline-block;
    position: relative;
    top: -1px;
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
    background: white left top no-repeat;
    border: 1px solid #ccc;
    cursor: pointer;
    margin-right: 0.5rem;
    border-radius: 2px;
  }

  .labelCheckmarkContainer {
    position: relative;
    color: white;
  }

  .labelCheckmarkText {
    position: absolute;
    bottom: -1px;
    left: 2px;
    font-size: 0.9rem;
  }
}
.labelContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.label_text {
  display: inline-block;
  position: absolute;
}
