@import 'src/variables.module';

.comment {
  height: 160px;
  overflow: hidden;
}

.textInput, .formElement div button {
  width: 100%;
  border: 1px solid #cacaca;
  min-height: 40px;
  box-sizing: border-box;
  border-radius: 0.2rem;
  font-family: "Source Sans Pro", sans-serif;
}

.label, .formElement label {
  padding-bottom: 0.5rem;
}

.error {
  border: 1px solid $help-text-color;
}

.errorIcon {
  display: inline-block;
  float: right;
  color: #e71436;
  svg {
    font-size: $font-size-12;
    vertical-align: bottom;
  }
}

.errorMsg {
  font-size: $font-size-12;
  margin-left: 0.625rem;
  margin-top: 5px;
}

.commentBoxSpacing {
  padding-bottom: 2.25rem;
}

.contactUsForm {
  max-width: 422px;
  overflow: hidden;
  padding-bottom: 2rem;
}

.formElement {
  padding-bottom: 1rem;
}

.label {
  display: inline-block;
}

.mainSection {
  overflow: hidden;
}

.submit {
  @include primaryButton;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
  float: right;
  width: 152px;
  height: 40px;
  &.loading {
    padding-top: 0.5rem;
  }
  &:disabled {
    @include inactiveButton;
  }
}

.textInput {
  font-size: $font-size-15;
  color: $font-body-copy;
  padding: 0.625rem;
}

.required {
  color: $help-text-color;
}

.responseMessage {
  height: 123px;
  margin-bottom: 1rem;
  padding: 1rem;
  &.error {
    @include errorMessage;
    .responseIcon {
      color: #e71436;
    }
  }
  &.success {
    @include successMessage;
    .responseIcon {
      color: #40a461;
    }
  }
}

.responseIcon {
  float: left;
  font-size: 20px;
  vertical-align: top;
  transform: translateY(6px)
}

.responseTitle {
  @include headingStyle5;
}

.responseTitle, .responseBody {
  margin-left: calc(1rem + 20px);
}

.recaptcha {
  margin-bottom: 2rem;
  text-align: -webkit-right;
  text-align: -moz-right;
}
