@import '../../variables.module.scss';

.inputContainer {
  position: relative;
  padding-right: 0.75rem;
}

.iconButton {
  font-size: 14px;
  border: none;
  background: none;
  color: rgba(0, 0, 0, 0.54);
  padding: 0.5rem 0.2rem;
  margin: 0.3rem 0;
  position: absolute;
  right: 0.5rem;
  top: -4px;

  &:enabled {
    cursor: pointer;
  }
}
