@import 'src/variables.module';
$border-color: #D9D9D9;

.dropdownIcon {
  font-size: 14px;
  border: none;
  background: none;
  color: rgba(0, 0, 0, 0.54);
}

.dropdownInputContainer {
  position: relative;
  border-bottom: solid 1px $border-color;
  padding: .75rem 1rem .75rem 1rem;
  cursor: pointer;
  border-radius: 2px;
}

.hoverContainer {
  &:hover {
    border: solid 1px $font-body-copy;
    margin: -1px -1px 0 -1px;
  }
}

.dropdownInput {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  color: $font-body-copy;
  border: none;
  font-size: $font-size-16;
  font-weight: $semi-bold-weight;
  line-height: unset;
  -webkit-appearance: none;
  padding: 0;
}

.activeDropdown {
  box-shadow: 0 0 0 4px #e8f5ff;
  border: solid 1px #0071bc;
  margin: -1px -1px 0 -1px;
}
