@import '../../variables.module.scss';
@import '../../zIndex.module.scss';

.container {
  @include datasetDetailContainerBorder;
  background-color: $body-background;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.downloadWrapper {
  background-color: #FFFFFF;
  height: calc(100% - 2rem);
  box-shadow: 0 -10px 13px -8px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 0 0 5px 5px;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
}

.leftContent {
  padding: 1rem 0.5rem;
  flex: 1;
  z-index: $published-reports-left-content;
}

.rightContent {
  flex: 1;
  border-radius: 0 4px 4px 0;
}

@media (min-width: $breakpoint-sm){
  .container {
    flex-direction: row;
  }
  .downloadWrapper {
    box-shadow: -10px 0 13px -8px rgba(0, 0, 0, 0.2);
    border-radius: 0 5px 5px 0;
  }
  .leftContent {
    padding: 1rem;
  }
  .rightContent {
    max-width: 273px;
  }
}
