@import '../../../variables.module.scss';

.title {
  font-weight: $semi-bold-weight;
  margin-bottom: 1.5rem;
}

.scrollGradient {
  height: 2.5rem;
  background: rgba(255,255,255,0);
  position: sticky;
  margin-top: 1.5rem;
  width: 94%;
  background: linear-gradient(white, rgba(255,255,255,0));
}

.scrollContainerTop {
  height: 2.5rem;
  background: rgba(255,255,255,0);
  position: sticky;
  margin-top: 1.5rem;
  width: 94%;
}

.listContainer {
  display: flex;
  flex-direction: column;
  height: 100%;

    .termContainer {
      overflow-y: auto;
      margin-bottom: 7.5rem;
      margin-top: -2.5rem;

      .sectionHeader {
        font-size: $font-size-20;
        font-weight: $semi-bold-weight;
        margin-bottom: .5rem;
      }

      .sectionTerms {
        margin-bottom: 1.25rem;

        .termText:not(:last-child) {
          margin-bottom: .25rem;
        }
      }
    }
  }


.listContainer > div {
  min-height: 0;
}
