@import '../../../variables.module.scss';

.title {
  font-weight: $semi-bold-weight;
  margin-bottom: 1.5rem;
}

.scrollGradient {
  height: 2.5rem;
  background: rgba(255,255,255,0);
  position: sticky;
  margin-top: 1.5rem;
  width: 94%;
  background: linear-gradient(white, rgba(255,255,255,0));
}

.scrollContainerTop {
  height: 2.5rem;
  background: rgba(255,255,255,0);
  position: sticky;
  margin-top: 1.5rem;
  width: 94%;
}

.listContainer {
  display: flex;
  flex-direction: column;
  height: 100%;

    .termContainer {
      overflow-y: auto;
      margin-bottom: 12.825rem;
      margin-top: -2.5rem;
      padding-right: 1rem;
    }
  }

.backToList {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  color: $primary;
  font-size: $font-size-16;
  font-weight: $semi-bold-weight;
  margin-bottom: 1.5rem;
  padding: 0;
  &:hover {
    color: $slate-blue;
  }
  .arrowIcon {
    margin-right: .5rem;
    height: 0.833rem;
  }
}

.listContainer > div {
  min-height: 0;
}
