@import '../../../variables.module.scss';
@import '../../../zIndex.module.scss';

.yearSelect {
  ul {
    z-index: $published-reports-year-select;
  }
}

.filterHeader {
  @include headingStyle6;
  margin-bottom: 1rem;
}

.comboContainer {
  position: relative;
}

.comboSelect {
  position: absolute;
  left: 0;
  top: 0;
}

.comboLabel {
  padding: 0.3rem 0;
}

.selectWrapper {
  padding-right: 1rem;
  margin-bottom: 0.5rem;
}

.hiddenFilters {
  display: none;
}
.publish-report-tip {
  display: flex;
  border: 1px solid $info-box-border;
  background-color: $info-box-background;
  border-radius: 5px;
  margin-top: .5rem;
  padding: .5rem 1rem 1rem 1rem;
  color: #555555;
  max-width: 100%;
  margin-right: 1rem;

  .iconContainer {
    height: 100%;
    padding-right: .75rem;

    .infoIcon {
      color: $info-icon;
      font-size: $font-size-20;
    }
  }
}

.extraMarginBottom {
  margin-bottom: 1rem;
}

@media screen and (min-width: $breakpoint-md){
  .filterContainer {
    display: flex;
  }

  .selectWrapper {
    min-width: 250px;
    padding-right: 1rem;
    margin-bottom: 0;
  }

  .dailyReport .selectWrapper {
    min-width: 156px;
  }

  .publish-report-tip {
    max-width: 30.1rem;
    margin-right: 0;
  }
}
