@import '../../variables.module.scss';

.siteUnavailable {
  max-width: $main-width;
  margin: 0 auto 1rem;
  padding: 2.75rem 0.75rem 0;
}
.unavailableWrapper {
  margin-bottom: 1rem;
}

@media screen and (min-width: $breakpoint-lg) and (max-width: 1204px) {
  .unavailableWrapper {
    display: flex;
  }
}

@media screen and (min-width: $breakpoint-xl) {
  .siteUnavailable {
    min-height: 34rem;
    height: calc(100vw - 550px);
    max-height: 48rem;
  }

  .unavailableWrapper {
    display: flex;
    align-items: stretch;
  }
}
