@use 'src/variables.module' as *;

.container {
  overflow: hidden;
  --chart-height: 35rem;

  .chartToggle {
    display: flex;
    width: 100%;
    border-radius: 8px;
    margin-top: 16px;
    justify-content: center;
  }

  .toggleButton {
    width: 50%;
    margin-bottom: 2%;
    cursor: pointer;
    height: 32px;
    border: 2px solid #0a2f5a;
  }

  .lineChart {
    width: 100%;
    margin-top: 0.625rem;
  }

  .headerContainer {
    display: flex;
    flex-direction: column;

    .toggle {
      border-style: solid;
      height: 2rem;
      width: 450px;
      justify-content: center;
      margin-bottom: 2rem;
      margin-top: 0.25rem;
    }
  }

  .loadingIcon {
    @include grayLargeLoadingIcon;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .container {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: $breakpoint-lg - 1) {
  :global(.chartContainerHeader) {
    margin-top: 0.125rem;
  }

  :global(.chartContainerFooter) {
    p {
      margin-top: 0.75rem;
    }
  }

  .container {
    .headerContainer {
      .toggle {
        height: 1.5rem;
        width: 300px;
        margin-bottom: 1rem;
        margin-top: 0;
      }
    }
  }
}
