@import "src/variables.module";

.container {
  overflow: hidden;

  .chartToggle {
    display: flex;
    width: 100%;
    border-radius: 8px;
    margin-top: 16px;
    justify-content: center;
  }

  .toggleButton {
    width: 50%;
    margin-bottom: 2%;
    cursor: pointer;
    height: 32px;
    border: 2px solid #0a2f5a;
  }

  .lineChart {
    width: 100%;
    margin-top: .625rem;
  }

  .headerContainer {
    display: flex;
    flex-direction: column;

    .toggle {
      border-style: solid;
      height: 2rem;
      width: 450px;
      justify-content: center;
      margin-bottom: 2rem;
      margin-top: .25rem;
    }

    .headerData {
      margin-bottom: .75rem;
      display: flex;
      flex-direction: row;
      justify-content: center;

      .dataElement:not(:last-child) {
        padding-right: 1.5rem;
      }

      .dataElement {
        color: #666666;

        .dataValue {
          font-weight: bold;
          font-size: $font-size-36;
        }

        .dataLabel {
          font-size: $font-size-14;
          font-weight: $semi-bold-weight;
          margin: 0 1.25rem;
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .container {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: $breakpoint-lg - 1) {
  :global(.chartContainerHeader) {
    margin-top: .125rem;
  }

  :global(.chartContainerFooter) {
    p {
      margin-top: .75rem;
    }
  }

  .container {
    .headerContainer {
      .toggle {
        height: 1.5rem;
        width: 300px;
        margin-bottom: 1rem;
        margin-top: 0;
      }

      .headerData {
        margin-bottom: .75rem;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .dataElement:not(:last-child) {
          padding-right: 1.25rem;
        }

        .dataElement {
          .dataValue {
            font-size: $font-size-24;
            line-height: $font-size-24;
          }

          .dataLabel {
            font-size: $font-size-10;
            margin: 0 1rem;
          }
        }
      }
    }
  }
}
