@import 'src/variables.module';

.mainContainer {
  display: flex;
  top: 0;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  background: white;
  height: 100%;
  width: 100%;
  overflow-y: hidden;

  .navContainer {
    top: 4rem;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding: 0 1rem 0 0;
    min-width: 250px;
  }

  .navigableContent {
    padding: 0 0 0 1rem;
  }
}

.bottomContainer {
  text-align: center;
  bottom: 0;
  padding: 1rem 1rem;
  box-shadow: 0 -0.25rem 1rem rgba(0, 0, 0, 0.15);
  background: white;

  .applyButton {
    color: $content-section-background;
    font-weight: $semi-bold-weight;
    background-color: $primary;
    border: 1px solid $primary;
    border-radius: 0.1875rem;
    text-decoration: none;
    text-align: center;
    padding: 0.5rem 1rem;
  }

  .cancelButton {
    font-size: 1rem;
    font-weight: 600;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .checkIcon {
    padding-right: 0.5rem;
  }
}

.previewCaret {
  padding-right: 0.40625rem;
}

.dataPreviewHeader {
  padding: 0 1.5rem;
  color: #0071bc;
  font-size: 1.125rem;
  font-weight: 600;
  display: inline-block;
  padding-top: 1rem;
  padding-bottom: 1rem;

  button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
}
.searchBar {
  p {
    font-size: 0.875rem;
    font-weight: 400;
    margin: 0;
    padding-bottom: 0.25rem;
  }
}

.topContainer {
  padding: 0 1rem;
  margin-bottom: 1rem;
  align-items: center;
  text-align: left;

  h3 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  label {
    font-size: 0.875rem;
  }
}

.filterContainer {
  border-top: 0.0625rem solid #d9d9d9;
  border-bottom: 0.0625rem solid #d9d9d9;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;

  .left {
    margin-right: auto;
    display: inline-block;
    align-items: center;

    .filterName {
      padding: 0 1rem;
      font-size: 1rem;
      margin-bottom: 0.25rem;
    }
    .isApplied {
      padding: 0 1rem;
      font-size: 0.875rem;
      margin-top: 0;
    }
  }

  .leftSelected {
    margin-right: auto;
    display: inline-block;
    align-items: center;
    border-left: 0.25rem solid #0071bc;

    .filterName {
      padding: 0 1rem;
      font-size: 1rem;
      margin-bottom: 0.25rem;
    }
    .isApplied {
      padding: 0 1rem;
      font-size: 0.875rem;
      margin-top: 0;
    }
  }
  .right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .navContainer {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    flex: 1;
    max-height: calc(100vh - 16px);
    overflow-y: auto;
    max-width: calc((#{$site-content-width} * 0.25) - 3rem);
  }

  .navigableContent {
    display: flex;
    flex: 3;
    max-width: $site-content-width;
  }
}

@media screen and (max-width: $breakpoint-lg - 1) {
  .mainContainer {
    flex-direction: column;

    .navContainer,
    .navigableContent {
      padding: 0;
      align-self: auto;
    }
  }
}
