@import 'src/variables.module';

.mainContainer {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: white;
  height: 100%;
  width: 100%;
}

.headerContainer {
}

.filtersScrollContainer {
  position: absolute;
  left: 0;
  right: 0;
  top: 183px;
  bottom: 60px;

  overflow-y: auto;
}

.bottomContainer {
  text-align: center;
  background-color: white;
  padding: 1rem;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  box-shadow: 0 -0.25rem 1rem rgba(0, 0, 0, 0.15);
}

.navigableContent {
  padding: 0 0 0 1rem;
}

.navClass {
  overflow-y: auto;
}

.button {
  color: $content-section-background;
  font-weight: $semi-bold-weight;
  height: 3rem;
  background-color: $primary;
  border: 1px solid $primary;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  display: block;
  align-content: center;
}

.previewCaret {
  padding-right: 0.40625rem;
}

.dataPreviewHeader {
  padding: 0 1.5rem;
  color: #0071bc;
  font-size: 1.125rem;
  font-weight: 600;
  display: inline-block;
  padding-top: 1rem;
  padding-bottom: 1rem;

  button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
}
.searchBar {
  p {
    font-size: 0.875rem;
    font-weight: 400;
    margin: 0;
    padding-bottom: 0.25rem;
  }
}

.topContainer {
  padding: 0 1rem;
  margin-bottom: 1rem;
  align-items: center;
  text-align: left;

  h3 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  label {
    font-size: 0.875rem;
  }
}
.cancelButton {
  padding-top: 1rem;
  color: $font-body-copy;
  border: none;
}
.checkIcon {
  padding-right: 0.5rem;
}

.filterContainer {
  border-top: 0.0625rem solid #d9d9d9;
  border-bottom: 0.0625rem solid #d9d9d9;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;

  .left {
    margin-right: auto;
    display: inline-block;
    align-items: center;

    .filterName {
      padding: 0 1rem;
      font-size: 1rem;
      margin-bottom: 0.25rem;
    }
    .isApplied {
      padding: 0 1rem;
      font-size: 0.875rem;
      margin-top: 0;
    }
  }

  .leftSelected {
    margin-right: auto;
    display: inline-block;
    align-items: center;
    border-left: 0.25rem solid #0071bc;

    .filterName {
      padding: 0 1rem;
      font-size: 1rem;
      margin-bottom: 0.25rem;
    }
    .isApplied {
      padding: 0 1rem;
      font-size: 0.875rem;
      margin-top: 0;
    }
  }
  .right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .navContainer {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    flex: 1;
    max-height: calc(100vh - 16px);
    overflow-y: auto;
    max-width: calc((#{$site-content-width} * 0.25) - 3rem);
  }

  .navigableContent {
    display: flex;
    flex: 3;
    max-width: $site-content-width;
  }
}

@media screen and (max-width: $breakpoint-lg - 1) {
  .mainContainer {
    flex-direction: column;

    .navContainer,
    .navigableContent {
      padding: 0;
      align-self: auto;
    }
  }
}
