@use '../../variables.module.scss' as *;

.mainContainer {
  max-width: $site-content-width;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.topContainer {
  max-width: 62rem;
}

.socialShare {
  display: flex;
  justify-content: center;
  padding: 0.5rem 0rem;
}

.debtText {
  color: $debt-explainer-primary;
}

.deficitText {
  color: $deficit-explainer-primary;
}

.middleHeader {
  margin: 3.75rem 0;

  .middleHeaderHeading {
    @include headingStyle4;

    margin-left: 1rem;
  }
}

.constitutionImg {
  overflow: hidden;
  max-width: 100%;
  max-height: 17.625rem;
  background-image: url('../../../static/images/constitution-background.png');

  .quoteContainer {
    display: flex;

    max-height: 17.625rem;
    max-width: 1000px;
    margin: 0 auto;

    .treasuryReportImg {
      position: relative;
      height: 100%;
    }

    .quoteIcon {
      font-size: 4rem;
      transform: scale(-1, 1);
      padding: 1rem;
    }

    .quoteSection {
      .quote {
        color: $font-body-copy;
        font-size: $font-size-20;
        line-height: 1.875rem;
        font-style: italic;
        margin-left: 1rem;
        margin-top: 0.5rem;
        max-width: 35rem;
      }

      .citation {
        font-size: $font-size-14;
        line-height: 1rem;
        margin-left: 1rem;
      }

      .quoteBar {
        width: 6rem;
        height: 0.5rem;
        background-color: $card-body;
        display: block;
        margin-left: 1rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
      }
    }
  }
}

.bottomContainer {
  max-width: $site-content-width;
  margin-top: 2rem;
  margin-bottom: 2rem;

  .bottomHeading {
    @include columnLabelCopy7;
    display: block;
    margin-top: 1rem !important;
  }

  .blueText {
    color: $primary;
  }

  img {
    margin: 2rem auto;
    display: block;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .constitutionImg {
    background-position-x: cover;
  }

  .quoteContainer {
    justify-content: end;
  }
  .quoteSection {
    min-width: 35.5rem;
    margin: 3.5rem 0;
    padding: 1rem 0 1rem 1rem;
  }

  .quoteIcon {
    margin-left: 3.5rem;
    margin-top: 3.5rem;
  }
}

@media screen and (max-width: $breakpoint-lg - 1) {
  .mainContainer {
    width: 100%;
  }
  .topContainer {
    overflow: hidden;
  }

  .topContainer {
    padding: 0 0.625rem !important;
    margin: 0 !important;
    left: 50%;
  }

  .middleHeader {
    margin: 4rem 0 4.25rem 0 !important;

    .middleHeaderIcon {
      margin: 0 auto !important;
      display: block;
    }

    .middleHeaderHeadingContainer {
      margin: 0 4.625rem 0 4.625rem !important;
      padding: 0 !important;
    }
    .middleHeaderHeading {
      font-size: $font-size-32 !important;
      margin-left: 0 !important;
    }
  }

  .constitutionImg {
    max-height: 35rem;
    background-position-x: center;
    background-position-y: top;
    .quoteContainer {
      max-height: 35rem;
      flex-direction: column-reverse;
      justify-content: flex-end;

      .quoteSection {
        margin: 0rem 4rem;
      }

      .quoteBar {
        width: 3.25rem !important;
      }

      .quoteIcon {
        align-self: center;
      }

      .treasuryReportImg {
        width: max-content;
        align-self: center;
      }
    }
  }

  .bottomContainer img {
    margin-top: 1rem !important;
  }
}
