@import '../../../../variables.module.scss';

.sectionHeader {
  font-size: $font-size-20;
  font-weight: $semi-bold-weight;
  margin-bottom: .5rem;
}

.sectionTerms {
  margin-bottom: 1.25rem;

  .termText:not(:last-child) {
    margin-bottom: .25rem;
  }
  .termText {
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }

  }
}
