@import '../../variables.module.scss';
@import '../../zIndex.module.scss';

.container {
  @include datasetDetailContainerBorder;
  background-color: $body-background;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.leftContent {
  padding: 0.5rem 0.5rem 1.5rem 0.5rem;
  flex: 1;
  z-index: $filter-download-left-content;
}

.rightContent {
  flex: 1;
  border-radius: 0 4px 4px 0;
}

@media (min-width: $breakpoint-sm){
  .container {
    flex-direction: row;
  }

  .leftContent {
    padding: 0.5rem;
  }

  .rightContent {
    max-width: 300px;
  }
}

@media (min-width: $breakpoint-md){
  .leftContent {
    padding: 1rem;
  }
}
