@import '../../variables.module.scss';

.pageNotice {
  border-top: 1px solid $info-box-border;
  border-bottom: 1px solid $info-box-border;
  background-color: $info-box-background;
  width: 100%;
  text-align: center;
  line-height: 175%;
  font-size: $font-size-14;
  transition: transform 0.3s 0.4s ease-in-out, max-height 0.4s 0.3s ease-out;
  color: $slate-blue;

  &.lowerEnv {
    transform: scaleY(0);
    max-height: 0;

    &.active {
      transform: scaleY(1);
      max-height: 28px;
    }
  }

  &.basicWarning {
    padding: 1rem 0;
    background-color: $basic-warning-background;
    border-top: 1px solid $basic-warning-border;
    border-bottom: 1px solid $basic-warning-border;

    & strong {
      font-size: $font-size-18;
    }
  }

  @media screen and (max-width: $breakpoint-lg) {
    &.lowerEnv.active {
      max-height: 54px;
    }
  }
}
