@import 'src/variables.module.scss';

.downloadOptionButton {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background: none;
  border: none;
  color: $font-body-copy;
  width: 100%;
  font-size: $font-size-16;
}

.downloadItemBtn {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background: none;
  border: none;
  color: $font-body-copy;
  font-size: $font-size-16;
  &.linkDisabled {
    background-color: $disabled-button-bg;
    border-color: $disabled-button-bg;
    cursor: default;
  }
}

.dictionary {
  width: 100%;
  border: none;
  background-color: #ffffff;
  color: $primary;
  font-size: $font-size-14;
  font-weight: normal;
  cursor: pointer;
}

.optionIcon {
  display: inline-block;
  //margin-right: 0.5rem;
}

.progressIcon {
  position: absolute;
  right: 1rem;
  top: 0.75rem;
}
