@use 'src/variables.module' as *;

@mixin downloadButton {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background: none;
  border: none;
  color: $font-body-copy;
  font-size: $font-size-16;
}

.downloadItemBtn {
  @include downloadButton;
  &.linkDisabled {
    cursor: default;
  }
}

.dictionary,
timestampDownloadButton {
  @include downloadButton;
  width: 100%;
}
