@import "../../../variables.module.scss";

.FilterGroup {
  background-color: $body-background;
  padding: 0.8rem;
  margin-top:0.5rem;
}

.FilterGroup_filter {
  display: inline-block;
}

.Filter_label {
  display: block;
}
