@import '../../variables.module.scss';

.breadCrumbsContainer {
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  min-height: 1000px;
  overflow: clip;

  .relatedDatasetsStyle {
    background-color: $body-background;
    min-height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contentContainer {
    display: flex;
    max-width: calc(#{$site-content-width} + 4rem);
    width: 100%;
    box-sizing: border-box;
    padding: 0 2rem;

    .mainContent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      > div {
        display: flex;
      }
    }

    :global(.secondaryNavContainer) {
      :global(.navSectionLink) {
        padding: 21px 21px;
        white-space: normal;
      }
    }

    :global(.secondaryNavContainer) {
      :global(.navSectionLink):hover {
        text-decoration: none;
        font-weight: bold;
        padding-right:0;

      }
    }


    .socialShare {
      text-align: center;
    }
  }
}

.sectionHeading {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: $font-size-32;
}

.sectionBorder {
  height: 5px;
  width: 100px;
  margin-bottom: 32px;
}

.section {
  width: 99%;
  position: relative;
}
.sourceURL {
  font-size: $font-size-16;
}

.mobileSubNav{
  display: none;
}
.desktopSubNav{
  display: block;
}

@media screen and (min-width: $breakpoint-lg) {



  .socialShareContainer {
    position: relative;
  }

  .socialShare {
    width: calc(33% - 2rem);
    margin-left: 2rem;
    float: right;
    padding-top: 1.25rem;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .breadCrumbsContainer {
    max-width: calc(#{$site-content-width} + 2rem);
    padding-left: 2rem;
  }

  .chartBackdrop {
    min-width: 464px;
  }

  .contentContainer {
    flex-direction: row;
  }

  .sectionBorder {
    margin-top: 64px;
  }

  .visWithCallout {
    display: flex;
    width: 146%;

    flex-direction: row;
    > :first-child {
      flex: 2.6 1 0;
    }

    > :last-child {
      flex: 1 1 0;
    }
  }

  .quoteBoxContent {
    font-size: $font-size-20;

    span {
      font-size: $font-size-16;
    }
  }

  .relatedDatasets {
    margin-top: 150px;
  }
}
.quoteBoxContent {
  font-size: $font-size-20;

  span {
    font-size: $font-size-16;
  }
}

@media screen and (max-width: $breakpoint-lg - 1) {
  .contentContainer {
    flex-direction: column;
    width: 100%;

    .sectionBorder {
      margin-top: 50px;
    }

    .sectionHeading {
      margin-bottom: 2rem;
    }

    section {
      width: 100%
    }
  }

  .relatedDatasets {
    margin-top: 100px;
  }

  .mobileSubNav{
    display: block;
    margin-top: 1rem;

  }
  .desktopSubNav{
    display: none;
  }
}

@media screen and (min-width: $breakpoint-sm) and (max-width: $breakpoint-lg - 1) {
  .breadCrumbsContainer {
    width: calc(100% - 2rem);
    padding-left: 2rem;
  }
}

@media screen and (max-width: $breakpoint-sm - 1) {
  .breadCrumbsContainer {
    width: calc(100% - 15px);
    padding-left: 15px;
  }

  .mainContainer {
    .contentContainer {
      padding: 0 0.75rem;
    }
  }
;
}
