@use '../../../../../variables.module.scss' as *;
@use '../national-deficit.module' as *;

.understandingDeficitContainer {
  .textContent {
    p {
      margin-top: 0;
    }
  }

  .understandingVisContainer {
    margin-bottom: 0;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .understandingDeficitContainer {
    :global(.vis-callout) {
      margin-top: calc(4rem);
    }
  }
}
