@import '../../../../../variables.module.scss';
@import '../national-deficit.module';

.understandingDeficitContainer {
  .textContent {
    p {
      margin-top: 0;
    }
  }

  .understandingVisContainer {
    margin-bottom: 0;
  }
}

@media screen and (min-width: $breakpoint-lg) {

  .understandingDeficitContainer {
    :global(.vis-callout) {
      margin-top: calc(4rem);
    }
  }
}



