@import '../../../../variables.module.scss';

.title {
  margin-top: 0;
  vertical-align: top;
}
.addFilterBtn {
  margin-left: 16rem;
  font-size: $font-size-14;
  vertical-align: top;
}
.icon {
  margin-right: 0.5rem;
}
