@use 'src/variables.module' as *;
@use 'src/zIndex.module' as *;

.date_picker_popper {
  z-index: $date-picker-popper !important;
}
.time_range_filter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .time_range_filter_datePicker {
    margin-top: 1rem;

    label > div {
      display: block;
      width: fit-content;

      > div {
        background-color: #fff;
        font-family: 'Source Sans Pro', sans-serif;
        margin-top: 0.5rem;
        > div {
          span {
            font-family: 'Source Sans Pro', sans-serif;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .time_range_filter {
    flex-direction: row;
  }
  .time_range_filter_datePicker {
    &:first-of-type {
      margin-right: 1rem;
    }
  }
}
