@use '../../../../variables.module' as *;

.apiErrorWrapper {
  min-height: 30rem;
  max-width: 36.75rem;
  background-color: #f1f1f1;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;

  // figure out long term what css to do for this
  @media screen and (max-width: $breakpoint-lg - 1) {
    margin: auto;
  }
}

.apiErrorStyle {
  text-align: center;
  padding: 2rem;
}
