@use 'src/variables.module' as *;

.headerContainer {
  display: flex;
  flex-direction: column;
  min-width: 25.5rem;
  white-space: nowrap;

  .headerData {
    margin-bottom: 0.75rem;
    display: flex;
    flex-direction: row;
    min-width: 400px;
    justify-content: center;

    .dataElement:not(:last-child) {
      padding-right: 1.5rem;
    }

    .dataElement {
      color: $font-body-copy;
      display: flex;
      flex-direction: column;
      align-items: center;

      .dataValue {
        display: flex;
        font-weight: bold;
        font-size: $font-size-36;
        justify-content: center;
      }

      .dataLabel {
        font-size: $font-size-14;
        font-weight: $semi-bold-weight;
        margin: 0 1.25rem;
      }

      .dateFieldLabel {
        font-size: $font-size-14;
        font-weight: $semi-bold-weight;
        margin: 0 1.25rem;
        display: flex;
        width: 63px;
        justify-content: center;
        padding-top: 2px;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-lg - 1) {
  .headerContainer {
    display: flex;
    justify-content: space-between;
    min-width: unset;

    .headerData {
      margin-bottom: 0.75rem;
      display: flex;
      flex-direction: row;
      min-width: unset;

      .dataElement:not(:last-child) {
        padding-right: 1rem;
      }

      .dataElement {
        .dataValue {
          font-size: $font-size-24;
          line-height: $font-size-24;
        }

        .dataLabel,
        .dateFieldLabel {
          font-size: $font-size-10;
          margin: 0 1rem;
        }
      }
    }
  }
}
