@import 'src/variables.module.scss';

.columnSelectContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.headingWrapper {
  padding: 1rem;
  margin: 0;
  background: $pale-bg;
  border-bottom: 1px solid $border-color;

  .heading {
    display: flex;
    justify-content: space-between;
    .title {
      @include headingStyle6;
      padding-bottom: .25rem;
    }
    .closeButton {
      background: none;
      border: none;
      cursor: pointer;
      .closePanelIcon {
        color: $primary;
        :not(svg root) {
          width: 0.9rem;
          height: 100%;
        }
      }
      :hover {
        color: $slate-blue;
      }
    }
  }


  .selectedValues {
    font-size: $font-size-14;
    color: $font-title;
  }
}


.selectAllContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #d9d9d9;

  .selectAllColumns {
    border-bottom: 0;
  }

  .reset {
    background: none;
    border: none;
    cursor: pointer;
    color: $primary;
    font-size: $font-size-14;
    font-weight: $semi-bold-weight;
    margin-right: 1rem;

    .resetIcon {
      padding-right: 0.5rem;
      width: 14px !important;
    }
  }
  :hover {
    color: $slate-blue;
  }

  [type="checkbox"] {
    position: absolute;
    display: inline-block;
    min-width: 1rem;
    min-height: 1rem;
    margin-right: 1px;
    overflow: hidden;
  }

  [type="checkbox"]:checked + span {
    background: $primary -19px top no-repeat;
    border: 1px solid $primary;
  }

  [type="checkbox"] + span {
    display: inline-block;
    position: relative;
    top: -1px;
    width: 1rem;
    height: 1rem;
    right: -3.5px;
    vertical-align: middle;
    background: white left top no-repeat;
    border: 1px solid #ccc;
    cursor: pointer;
    margin-right: 0.5rem;
    border-radius: 2px;
  }

  [type="checkbox"]:indeterminate + span {
    background: $primary -19px top no-repeat;
    border: 1px solid $primary;
  }

  .checkmarkText {
    position: absolute;
    bottom: -2px;
    left: 2px;
    font-size: 0.9rem;
  }
}


.buttonContainer {
  padding: 1rem;
  overflow-y: auto;
}

.toggleButton {
  display: block;
  width: 100%;
}


@media screen and (max-width: $breakpoint-lg - 1){
  .selectAllContainer {
    .reset {
      margin-right: 0;
    }
  }
}
