.deficitDebtDifferenceContent {
  .deficitDebtDifferenceVisContainer {
    margin-bottom: 2rem;
    margin-top: 2rem;
    width: 100%;

  }
  .deficitDebtdifferenceImg{
    padding-right: 0rem;
  }
}
