@use 'src/variables.module' as *;

.calendarEntry {
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  padding: 25px 94px 25px 24px;
  border-radius: 5px;
  background-color: #fff;
  border: solid 1px #d6d7d9;
  cursor: pointer;
  width: 100%;
  color: $card-body;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0);
  transform: translateY(0);
  transition: box-shadow 0.5s ease, translateY 0.5s ease;
  box-sizing: border-box;
  margin-bottom: 1rem;

  &:hover {
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px);
  }

  .titleAndIcon {
    display: flex;

    .title {
      text-align: left;
      font-size: 1.3125rem;
      color: $font-body-copy;
      font-weight: $semi-bold-weight;

      &:not(:hover) {
        text-decoration: none;
      }
    }
  }

  .dateStyle {
    color: $font-body-copy;
    font-size: 1.3125rem;

    .dateIcon {
      margin-right: 1.125rem;
      width: fit-content;
    }
  }

  .timeStyle {
    color: $font-body-copy;
    font-size: 1.3125rem;

    .timeIcon {
      margin-right: 1.125rem;
      width: fit-content;
    }
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .calendarEntry {
    align-items: center;

    .titleAndIcon {
      align-items: center;

      .title {
        width: 478px;
      }
    }

    .timeStyle {
      flex: 0 0 8rem;
      text-align: left;
    }
  }
}

@media screen and (max-width: $breakpoint-lg - 1) {
  .calendarEntry {
    flex-direction: column;
    padding: 18px 30px 18px 24px;

    .titleAndIcon {
      flex-direction: column-reverse;
      margin-bottom: 0.5rem;

      .title {
        font-size: $font-size-16;
        margin-bottom: 0.5rem;
      }
    }

    .dateStyle {
      font-size: $font-size-16;
      margin-bottom: 0.5rem;

      .dateIcon {
        margin-right: 0.5rem;
      }
    }

    .timeStyle {
      font-size: $font-size-16;

      .timeIcon {
        margin-right: 0.5rem;
      }
    }
  }
}
