@import '../../../variables.module.scss';
@import '../../../zIndex.module.scss';


@media screen and (min-width: $breakpoint-lg) {
  .dropdown .dropdownButton {
    display: flex;
    align-items: center;
    overflow: hidden;
    transform: translateX(2rem);
    padding: 3px 0 1px;
    margin-right: 2rem;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    outline: none;
    background-color: inherit;
    border-bottom: 2px solid transparent;
    font-size: 1rem;
    color: #666666;
    height: 55px;
  }

  .dropdown {
    transition: opacity 1s ease;
  }

  .dropdownButtonExpanded {
    color: $primary !important;
    font-weight: $semi-bold-weight;
    border-bottom: 2px solid $primary !important;
  }

  .caret {
    padding-left: 1rem;
    min-width: 10px;
  }

  .dropdownContent {
    overflow: hidden;
    transition: opacity 500ms ease;
    justify-content: center;
    display: flex;
    position: absolute;
    background-color: white;
    width: 100%;
    margin-top: 1px;
    left: 0;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: $menu-dropdown;

    link {
      color: #0071BC;
      &:hover{
        font-weight: $semi-bold-weight;
      }
    }

    &.dropdownHidden {
      opacity: 0;
    }

    a, button {
      &:hover {
        color: $primary;
        font-weight: $semi-bold-weight;
      }

      &.activeDropdownLink {
        font-weight: $semi-bold-weight;
      }
    }

    button {
      background-color: white;
      border: none;
      cursor: pointer;
      color: #666666;
      font-size: 1rem;
    }
  }

  .dropdownRow {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }

  .resourcesDropDown {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 6rem;
  }

  .resourcesDropDown {
  }

  .dropdownColumnOne {
    flex-flow: column nowrap;
    justify-content: center;
    margin: 2rem 0;
  }

  .dropdownColumnTwo {
    flex-flow: column nowrap;
    justify-content: center;
    margin: 2rem 0 2rem 20%;
  }

  .dropdownTitle {
    font-weight: $semi-bold-weight;
    white-space: nowrap;
    margin-bottom: 1rem;
    font-size: 14px;
  }

  .dropdownListItem {
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }
}
