@use 'src/variables.module' as *;
@use '../../../zIndex.module.scss' as *;

@media screen and (min-width: $breakpoint-lg) {
  .dropdown .dropdownButton {
    padding: 0;
    transform: translateX(2rem);
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-right: 2rem;
    margin-top: -0.125rem;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    outline: none;
    background-color: inherit;
    border-bottom: 0.125rem solid transparent;
    font-size: $font-size-16;
    color: $font-body-copy;
    height: 100%;
  }

  .dropdown {
    transition: opacity 1s ease;
    padding-top: 0.125rem;
  }

  .dropdownButtonExpanded {
    color: $primary !important;
    font-weight: $semi-bold-weight;
    border-bottom: 0.125rem solid $primary !important;
  }

  .caret {
    padding-left: 1rem;
    min-width: 0.625rem;
    width: fit-content;
  }

  .dropdownContent {
    gap: 4rem;
    overflow: hidden;
    transition: opacity 500ms ease;
    justify-content: center;
    display: flex;
    position: absolute;
    background-color: white;
    width: 100%;
    margin-top: 1px;
    left: 0;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
    z-index: $menu-dropdown;

    link {
      color: $primary;

      &:hover {
        font-weight: $semi-bold-weight;
      }
    }

    &.dropdownHidden {
      opacity: 0;
    }

    a,
    button {
      &:hover {
        color: $primary;
        font-weight: $semi-bold-weight;
      }

      &.activeDropdownLink {
        font-weight: $semi-bold-weight;
      }
    }

    button {
      background-color: white;
      border: none;
      cursor: pointer;
      color: #666666;
      font-size: $font-size-16;
    }
  }

  .dropdownRow {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }

  .resourcesDropDown {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 6rem;

    button {
      margin-bottom: 0.5rem;
      padding: 0;
    }
  }
  .resourcesDropDown .resourceLink {
    color: #666666;
    font-weight: normal;
    &:hover {
      color: $primary;
      font-weight: $semi-bold-weight;
    }
  }
  .dropdownColumnOne {
    flex-flow: column nowrap;
    justify-content: center;
    margin: 2rem 0;
  }

  .dropdownColumnTwo {
    flex-flow: column nowrap;
    justify-content: center;
    margin: 2rem 0 2rem 20%;
  }

  .dropdownTitle {
    font-weight: $semi-bold-weight;
    white-space: nowrap;
    margin-bottom: 1rem;
    font-size: $font-size-14;
  }

  .dropdownListItem {
    margin-bottom: 0.5rem;
    font-size: $font-size-16;
    display: flex;
    align-items: center;
  }
}
