@use 'src/variables.module' as *;

.mainContainer {
  display: flex;

  .navContainer {
    top: 4rem;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    min-width: 250px;

    .comingSoonContainer {
      padding: 16px 20px 0;

      .comingSoon {
        background-color: #fff1d2;
        color: #444444;
        font-size: $font-size-14;
        padding: 2px 0.75rem;
        margin-left: 0.25rem;
      }
    }

    .comingSoonLink {
      padding-top: 4px !important;
    }

    .linkContainer {
      border-bottom: solid 1px $dd-border-color;
      min-width: 220px;
    }

    .sectionLink {
      padding: 10px 0 10px 15px;
      cursor: pointer;
      white-space: nowrap;
      border-left: solid 5px transparent;

      &.defaultLink {
        display: flex;
      }

      &.headingLevel2 {
        padding-left: calc(1rem - 6px);
      }

      &.headingLevel3 {
        padding-left: calc(2rem - 6px);
      }
    }
  }

  .navigableContent {
    padding: 0 0 0 1rem;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .navContainer {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    flex: 1;
    max-height: calc(100vh - 16px);
    overflow-y: auto;
    max-width: calc((#{$site-content-width} * 0.25) - 1rem);

    .linkContainer {
      max-width: 270px;
    }
  }

  .navigableContent {
    display: flex;
    flex: 3;
    max-width: calc((#{$site-content-width} * 0.75) - 1rem);
  }
}

@media screen and (max-width: $breakpoint-lg - 1) {
  .mainContainer {
    flex-direction: column;

    .navContainer,
    .navigableContent {
      padding: 0;
      align-self: auto;
    }
  }
}

.sectionList {
  list-style-type: none;
  padding: 0 1rem 0 0;
  margin: 0;
}
