@import '../../../variables.module';
$border-color: #D9D9D9;

.dropdownIcon {
  border: none;
  background: none;
  color: rgba(0, 0, 0, 0.54);
}

.dropdownInputContainer {
  position: relative;
  border-radius: 0.125rem;
}

.fullBorderContainer {
  border: solid 1px $border-color;
}

.hoverContainer {
  &:hover {
    border: solid 1px $font-body-copy;
  }
}

.dropdownInput {
  padding: .75rem 1rem .75rem 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  color: $font-body-copy;
  border: none;
  font-size: $font-size-16;
  line-height: unset;
  -webkit-appearance: none;
}

.dropdownInputWeight {
  font-weight: $semi-bold-weight;
}

.activeDropdown {
  box-shadow: 0 0 0 .25rem #e8f5ff;
}

.activeSearchBar, .activeDropdown {
  border: solid 1px #0071bc;
}
