@use 'src/variables.module' as *;

.dropdownContainer {
  width: 100%;
}

.dropdownIcon {
  border: none;
  background: none;
  color: rgba(0, 0, 0, 0.54);
  width: 1rem;
}

.dropdownInputContainer {
  position: relative;
  border-radius: 0.125rem;
}
.icon {
  width: 1rem;
}

.fullBorderContainer {
  border: solid 1px $light-grey-border;
}

.hoverContainer {
  &:hover {
    border: solid 1px $font-body-copy;
  }
}

.selectedText {
  width: 100%;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.dropdownInput {
  padding: 0.75rem 1rem 0.75rem 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  color: $font-body-copy;
  border: none;
  font-size: $font-size-16;
  line-height: unset;
  -webkit-appearance: none;
  text-align: left;
  white-space: nowrap;
}

.dropdownInputWeight {
  font-weight: $semi-bold-weight;
}

.activeDropdown {
  box-shadow: 0 0 0 0.25rem $primary-blue;
}

.activeSearchBar,
.activeDropdown {
  border: solid 1px $primary;
}
