@import '../../../../variables.module.scss';

.container {
  text-align: center;
  padding: 1rem;
}

.info {
  display: inline-flex;
  padding: 1rem 1rem 2.25rem;
  background-color: $info-box-background;
  border: solid 1px $info-box-border;
  border-radius: 3px;
  text-align: left;
  max-width: 760px;
}

.icon {
  color: $info-icon;
  font-size: $font-size-20;
  margin-right: 1rem;
}

.heading {
  @include headingStyle5;
  line-height: 28px;
  margin-bottom: 0.5rem;
}

.bodyText {
  @include bodyStyleRegular;
}
