@use 'src/variables.module' as *;

.heroContainer {
  position: relative;
  margin: 0 auto;
  height: auto;

  .heroSkyImage {
    width: 100%;
    height: auto;
    background-image: url('/images/overview-sky.png');
    background-size: cover;
  }
}
.heroInfoContainer {
  max-width: $site-content-width;
  margin: 0 auto;
  height: auto;
  position: relative;
  .heroContextContainer {
    display: flex;
    justify-content: space-between;
    position: relative;
    box-sizing: border-box;
    padding: 0 1.5rem;
    max-width: 62rem;
    margin: 0 auto;
    height: auto;
  }

  .textContainer {
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
    max-width: 28.687rem;
    width: 100%;
    position: relative;
    color: $content-section-background;
    .heroMainText {
      font-size: $font-size-40;
      color: $content-section-background;
      font-weight: 400;
      width: 100%;
      line-height: normal;
      margin: 1rem 0;
    }
    .heroSubText h1 {
      font-style: italic;
      font-size: $font-size-20;
      font-weight: 400;
      color: $content-section-background;
      margin: 0;
    }
    .heroHeadText {
      font-weight: $semi-bold-weight;
      font-size: $font-size-16;
    }
    .heroAFG {
      display: flex;
      align-items: center;
    }
    .heroIcon {
      fill: $content-section-background !important;
      height: 1rem;
      width: 1rem;
      padding-right: 0.5rem;
      position: relative;
      top: 0.75px;
    }
  }
  .heroLibertyImage {
    height: 20.75rem;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    float: right;
  }
}
@media screen and (max-width: 1024px) {
  .heroLibertyImage {
    display: none;
  }
}

@media screen and (max-width: $breakpoint-lg) {
  .heroContainer {
    .heroContextContainer {
      padding-left: 0.625rem;
      padding-right: 0.625rem;
    }
  }
}
@media screen and (max-width: $breakpoint-md - 1) {
  .heroContainer {
    position: relative;
  }
}
@media screen and (max-width: $breakpoint-sm - 1) {
  .heroContainer {
    height: auto;
    .heroSkyImage {
      width: 100%;
      height: auto;
    }
    .heroInfoContainer {
      height: auto;
    }
    .heroContextContainer {
      height: auto;
    }
    .textContainer {
      width: 100%;
      height: auto;
      margin: 2.5rem 0;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      display: flex;
      .heroMainText {
        font-size: $font-size-32;
      }
      .heroSubText {
        font-style: italic;
        font-size: $font-size-20;
        font-weight: 400;
      }
      .heroHeadText {
        font-weight: $semi-bold-weight;
        font-size: $font-size-14;
      }
    }
  }
}
