@import 'src/variables.module';

.heroContainer {
  position: relative;
  min-height: 20.75rem;

  .heroSkyImage {
    width: 100%;
    height: 20.75rem;
    background-image: url('/images/overview-sky.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
  }
  .textContainer{
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
    margin-left: 15rem;
    max-width: 28.687rem;
    color:$content-section-background;
    .heroMainText{
      font-size: $font-size-40;
      color:$content-section-background;
      font-weight: 400;
      width: 100%;
      line-height: normal;
      margin: 1rem 0;
    }
    .heroSubText {
      font-style: italic;
      font-size:  $font-size-20;
      font-weight: 400;
    }
    .heroHeadText{
      font-weight: $semi-bold-weight;
      font-size: $font-size-16;
    }
    .heroAFG{
      display: flex;
    }
    .heroIcon{
      fill: $content-section-background;
      height: 1rem;
      width: 1rem;
      padding-right: .5rem;
    }

  }
  .heroLibertyImage {
    width: 42%;
    height: 20.75rem;
    background-image: url('/images/cutout-statue-of-liberty.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    float: right;
  }
}

@media screen and (max-width: $explainer-page-width){
  .heroLibertyImage {
    width: 43%;
    height: 20rem;
    background-image: url('/images/cutout-statue-of-liberty.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    float: right;
  }
  .textContainer{
    margin-left: 15;
  }
}

@media screen and (max-width: 1024px) {
  .heroLibertyImage {
      display: none;
  }
}
@media screen and (max-width: $breakpoint-xl) {
  .textContainer{
    margin-left: 10rem;
  }
}
@media screen and (max-width: $breakpoint-md - 1) {
  .heroContainer {
    position: relative;
    min-height: 20.75rem;
  
    .heroSkyImage {
      width: 100%;
      height: 20.75rem;
      background-image: url('/images/overview-sky.png');
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
    }
    .textContainer{
      margin: 2.5rem .5rem;
      color:$content-section-background;
      max-width: 20.75;
      width: 28.687rem;
      display: block;
      .heroMainText{
        font-size: $font-size-40;
        color:$content-section-background;
        font-weight: 400;
        line-height: normal;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
      .heroSubText {
        font-style: italic;
        font-size:  $font-size-20;
        font-weight: 400;
      }
      .heroHeadText{
        font-weight: $semi-bold-weight;
        font-size: $font-size-16;
      }
    }
  }
}
@media screen and (max-width: $breakpoint-sm - 1) {
  .heroContainer {
    position: relative;
    height: 22.8125;
    .heroSkyImage {
      width: 100%;
      height: 100%;
      background-image: url('/images/overview-sky.png');
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
    }
    .textContainer{
      width: 100%;
      height: 100%;
      margin: 2.5rem .5rem;
      .heroMainText{
        font-size: $font-size-32;
        color:$content-section-background;
        font-weight: 400;
        line-height: normal;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
      .heroSubText {
        font-style: italic;
        font-size:  $font-size-18;
        font-weight: 400;
      }
      .heroHeadText{
        font-weight: $semi-bold-weight;
        font-size: $font-size-14;
      }
    }

  }
}
@media screen and (min-width: 1600px) {
  .heroLibertyImage {
      width: 36%;
  }
  .textContainer{
    margin-left: 20rem;
  }
}
