@import 'src/variables.module';

// .heroContainer {
//   max-width: $site-content-width;
//   margin: 0 auto;
//   position: relative;
//   min-height: 47.875rem;

 

//   .heroWhiteBox {
//     max-width: 1072px;
//     width: calc(100% - 4rem);
//     background-color: #ffffff;
//     bottom: 0;
//     position: absolute;
//     left: 0;
//     right: 0;
//     margin-left: auto;
//     margin-right: auto;
//     padding-bottom: 2rem;

//     h4.heroGuideText {
//       font-size: $font-size-16;
//       color: $font-body-copy;
//       font-weight: $semi-bold-weight;
//       margin-left: 4rem;
//       margin-top: 2rem;
//       margin-bottom: 0;
//     }
//   }
// }

.heroContainer {
  position: relative;
  min-height: 20.75rem;
  margin: 0 auto;

  .heroSkyImage {
    width: 100%;
    height: 20.75rem;
    background-image: url('/images/overview-sky.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
  }
}
.heroInfoContainer{
  max-width: $site-content-width;
  margin: 0 auto;
  height: 20.75rem;
  .heroXContainer{
  padding-left: 24px;
  max-width: 62rem;
  margin: 0 auto;
  height: 20.75rem;
  }

  .textContainer{
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
    max-width: 28.687rem;
    width: 100%;
    color:$content-section-background;
    .heroMainText{
      font-size: $font-size-40;
      color:$content-section-background;
      font-weight: 400;
      width: 100%;
      line-height: normal;
      margin: 1rem 0;
    }
    .heroSubText {
      font-style: italic;
      font-size:  $font-size-20;
      font-weight: 400;
    }
    .heroHeadText{
      font-weight: $semi-bold-weight;
      font-size: $font-size-16;
      font-family: 'Source Sans Pro', sans-serif;
    }
    .heroAFG{
      display: flex;
    }
    .heroIcon{
      fill: $content-section-background !important;
      height: 1rem;
      width: 1rem;
      padding-right: .5rem;
    }

  }
  .heroLibertyImage {
    left: 10vw;
    width: 53%;
    height: 20.75rem;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    float: right;
    bottom: 2.5rem;
  }
}
@media screen and (max-width: 1024px) {
  .heroLibertyImage {
      display: none;
  }
}
@media screen and (min-width: 1600px) {
  .heroContainer{
    .heroLibertyImage {
      width: 36%;
  }
  }
}

@media screen and (max-width: $explainer-page-width){
  .heroContainer {
    .heroLibertyImage {
      left: 7.865vw;
      width: 53%;
      height: 20.75rem;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      float: right;
      bottom: 2.5rem;
    }
  }
}

@media screen and (max-width: $breakpoint-xl) {
  .heroContainer {
    .heroXContainer{
      padding-left: .625rem;
      }
      .heroLibertyImage {
        left: 1vw;
        width: 53%;
        height: 20.75rem;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        float: right;
        bottom: 2.5rem;
      }
  }

}
@media screen and (max-width: $breakpoint-md - 1) {
  .heroContainer {
    position: relative;
    min-height: 20.75rem;
    .heroXContainer{
      padding-left: .625rem;
      }
  }
}
@media screen and (max-width: $breakpoint-sm - 1) {
  .heroContainer {
    position: relative;
    height: 25.8125rem;
    .heroSkyImage {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
    }
    .heroXContainer{
      padding-left: .625rem;
      }
    .textContainer{
      width: 100%;
      height: 100%;
      margin: 2.5rem .625rem;
      .heroSubText {
        font-style: italic;
        font-size:  $font-size-18;
        font-weight: 400;
      }
      .heroHeadText{
        font-weight: $semi-bold-weight;
        font-size: $font-size-14;
      }
    }
  }
}
