
@import '../../../variables.module.scss';

.headerContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;

  .header {
    margin-bottom: 1.625rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title {
      font-weight: $semi-bold-weight;
      .bookIcon {
        width: 0.75rem;
        height: 0.875rem;
        color: #666;
        margin-right: 0.5rem;
      }
    }
    .closeButton {
      background: none;
      border: none;
      cursor: pointer;
      .closeIcon {
        color: $primary;
        :not(svg root) {
          width: 0.75rem;
          height: 1.25rem;
        }
      }
      :hover {
        color: $slate-blue;
      }
    }
  }

  .search {
    color: #666;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;

    .searchLabel {
      font-size: $font-size-12;
      margin-bottom: .25rem;
    }

    .searchIcon {
      width: 1rem;
      height: 1rem;
      color: #666;
    }
  }

}

