
@import '../../../variables.module.scss';

.headerContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;

  .header {
    margin-bottom: 26px;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title {

      .bookIcon {
        width: 12px;
        height: 14px;
        color: #666;
        margin-right: 0.5rem;
      }
    }
    .closeButton {
      background: none;
      border: none;
      cursor: pointer;
      .closeIcon {
        color: $primary;
        :not(svg root) {
          width: 12px;
          height: 20px;
        }
      }
      :hover {
        color: $slate-blue;
      }
    }

  }



  .search {
    font-size: $font-size-12;
    color: #666;
    margin-right: 1rem;

    .searchBar {
      height: 36px;
      border-radius: 8px;
      border: solid 1px #d9d9d9;
      width: 280px;
      margin-top: .25rem;

      .searchIcon {
        width: 1rem;
        height: 1rem;
        color: #666;
      }
    }
  }

}

