@import '../../../../variables.module.scss';

.dropdownContainer {
  height: 334px;
  width: 320px;
  background-color: white;
  z-index: 5;
  position: absolute;
  box-shadow: 0 0.25rem 1rem 0 rgba(0, 0, 0, 0.15);
  padding-top: 1rem;

  .publishedDateLabel {
    font-size: $font-size-14;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  .selectedDateDisplay {
    margin-bottom: 1rem;
    border: 1px solid $light-grey-border;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
  }

  .publishedDateLabel, .selectedDateDisplay {
    margin: 0 1.5rem;
  }

  .yearButton {
    font-size: $font-size-16;
    background: none;
    border: none;
    color: $font-body-copy;
    font-weight: $semi-bold-weight;
    padding: 10px 0;
    margin-top: 1rem;
    width: 100%;

    .arrowIcon {
      padding-left: 0.5rem;
    }
  }

  .dropdownList {
    overflow-y: auto;

    ul {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 0;
      margin: 0;
      height: 206px;
    }

    li {
      list-style: none;
      display: flex;
      justify-content: center;
      width: 100%;

      button {
        font-size: $font-size-16;
        background: none;
        border: none;
        color: $font-body-copy;
        padding: .5rem .75rem;
        width: 100%;
        border-radius: 3px;

        &.selected {
          background-color: #0071BC;
          color: white;
        }
      }
    }
  }
}


