@use 'src/variables.module' as *;

.highlightTextContainer {
  width: 7rem;
  height: 1.25rem;
  background-color: $banner-background;
  margin-bottom: 0.5625rem;
  .highlightText {
    font-style: italic;
    text-align: center;
    color: #444444;
    font-size: $font-size-14;
  }
  p {
    margin: 0;
  }
}
