@import '../../variables.module.scss';
.siteNotFound {
  max-width: $main-width;
  margin: 0 auto 1rem;
  padding: 0 0.75rem;
}
.notFoundWrapper {
  margin-bottom: 1rem;
}

@media screen and (min-width: $breakpoint-lg) and (max-width: 1204px) {
  .notFoundWrapper {
    display: flex;
  }
}

@media screen and (min-width: $breakpoint-sm) {
  .siteNotFound {
    padding: 1.25rem 2rem;
  }
}

@media screen and (min-width: $breakpoint-xl) {
  .siteNotFound {
    min-height: 34rem;
    height: calc(100vw - 550px);
    max-height: 48rem;
  }

  .notFoundWrapper {
    display: flex;
    align-items: stretch;
  }
}
