@import '../../../variables.module.scss';

.container {
  width: 80%;
  margin: 4rem auto 0 auto;
  p {
    font-size: $font-size-14;
    width: 100% !important;
    margin: 0;
  }
}
@media screen and (max-width: $breakpoint-lg - 1px) {
  .container {
    width: 100%;
    margin: 4rem auto;
  }
}
