@use 'src/variables.module' as *;

.mobileDownloadOptionsContainer {
  padding: 1rem;
  border-top: 0.0625rem solid $light-grey-border;
}

.mobileDownloadOptions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobileDownloadInput {
  accent-color: $font-body-copy;
}
.mobileDownloadLabel {
  margin: 0.5rem;
}
.mobileDropdownDisplayName {
  display: flex;
  align-items: center;
}
.mobileDropdownSize {
}
