@import '../../variables.module.scss';


.container {
  width: 14rem;
  position: absolute;
  right: 0;
  z-index: 3;
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
}

.item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}

.border {
  border-top: 1px solid #66666650;
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
}

@media screen and (max-width: $breakpoint-lg) {
  .container {
    width: 100%;
    right: 0;
    z-index: 5;
  }
}
