@import '../../../variables.module.scss';

.paddingAdjust {
  margin-bottom: -1em;
  padding-bottom: 2.375em;
  max-width: 75%;
}

.cardWrapper {
  margin-bottom: 1em;
}

@media screen and (min-width: $breakpoint-sm) and (max-width: $breakpoint-md - 1) {
  .paddingAdjust {
    max-width: 100%;
  }
}

@media screen and (min-width: $breakpoint-md) and (max-width: $breakpoint-lg - 1) {
  .cardWrapper {
    display: inline-flex;
    width: 48.5%;
    margin-right: 2%;
    &:nth-child(2n+1){margin-right: 0}
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .cardWrapper {
    display: inline-flex;
    width: 23.5%;
    margin-right: 2%;
    &:nth-child(4n+1){margin-right: 0}
  }
}
