@use 'src/variables.module' as *;

.container {
  overflow: hidden;

  & :global(.chartContainerTitle) {
    margin-bottom: 1rem;
  }

  & :global(.chartContainerChart) {
    min-height: 15.25rem;

    @media screen and (min-width: $breakpoint-lg - 1) {
      min-height: 20.25rem;
    }
  }
}

.barChart {
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.loadingIcon {
  @include grayLargeLoadingIcon;
  display: flex;
  align-items: center;
  justify-content: center;
}
