@use 'src/variables.module' as *;

.container {
  overflow: hidden;

  & :global(.chartContainerTitle) {
    margin-bottom: 1rem;
  }

  & :global(.chartContainerChart) {
    min-height: 15.25rem;

    @media screen and (min-width: $breakpoint-lg - 1) {
      min-height: 20.25rem;
    }
  }
}

.barChart {
  margin: 0 auto 2rem;
  width: 100%;
}

.barLabel {
  opacity: 0;
  animation: barLabelFadeIn 0.4s ease-in forwards;

  @media (prefers-reduced-motion: reduce) {
    animation: none;
    opacity: 1;
  }
}

@keyframes barLabelFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.loadingIcon {
  @include grayLargeLoadingIcon;
  display: flex;
  align-items: center;
  justify-content: center;
}
