@import '../../variables.module.scss';

$borderRadius: 5px;

.tableStyle {
  .tableContainer {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid $dd-border-color;
    border-radius: $borderRadius;
    background-color: white;
    overflow-x: auto;
  }

  table,
  .divTable {
    border: 1px solid lightgray;
    width: fit-content;
  }

  th, .th {
    cursor: default;
    background-color: white;
    position: relative;
    font-weight: bold;
    text-align: center;
    height: 30px;
    padding: 0.25rem 0.5rem 0.75rem;
    max-width: 160px;
  }

  .tr {
    display: flex;
  }

  tr, .tr {
    width: fit-content;
    height: 30px;
  }

  td, .td {
    padding: 0.25rem 0.5rem;
  }

  #th-parent{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  td,
  .td {
    height: 30px;
  }
}
