@import '../../variables.module.scss';

$borderRadius: 5px;

.tableStyle {
  overflow-x: auto;
  width: 100%;

  .tableContainer {
    position: relative;
    box-sizing: border-box;
    border-top: 0;
    background-color: white;
  }

  table,
  .divTable {
    border-bottom: 1px solid lightgray;
    width: fit-content;
  }

  th, .th {
    cursor: default;
    background-color: white;
    position: relative;
    font-weight: bold;
    text-align: center;
    height: 1.875rem;
    padding: 0.25rem 0.5rem 0.75rem;
    max-width: 10rem;
  }

  .tr {
    display: flex;
  }

  tr, .tr {
    width: fit-content;
    height: 1.875rem;
  }

  td, .td {
    padding: 0.25rem 0.5rem;
    white-space: nowrap;
  }

  #th-parent{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  td,
  .td {
    height: 1.875rem;
  }

  .range {
    font-weight: $semi-bold-weight;
  }
}

.overlayContainer, .overlayContainerNoFooter {
  position: relative;
}

.overlayContainerNoFooter {
  border: 1px solid $dd-border-color;
  border-top: 0;
  border-bottom-left-radius: $borderRadius;
  border-bottom-right-radius: $borderRadius;
}

.selectColumnsWrapper {
  display: flex;

  .selectColumnPanelInactive {
    display: none;
  }

  .selectColumnPanelActive {
    display: block;
    border-left: 1px solid $border-color;
    margin-top: -2.75rem;
  }

  .selectColumnPanelActive, .selectColumnPanelInactive {
    height: 565px;
  }
}

