@import '../../variables.module.scss';

$borderRadius: 5px;

.tableStyle {
  .tableContainer {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid $dd-border-color;
    border-radius: $borderRadius;
    background-color: white;
    overflow-x: auto;
  }

  table,
  .divTable {
    border: 1px solid lightgray;
    width: fit-content;
  }

  .tr {
    display: flex;
  }

  tr, .tr {
    width: fit-content;
    height: 30px;
  }

  td, .td {
    padding: 0.25rem 0.5rem;
  }

  #th-parent{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  th, .th {
    background-color: white;
    position: relative;
    font-weight: bold;
    text-align: center;
    height: 30px;
    max-width: 4rem;
    padding: 0.25rem 0.5rem 0.75rem;
  }

  td,
  .td {
    height: 30px;
  }

  .sortArrowPill, .defaultSortArrowPill {
    height: 20px;
    width: 28px;
    min-width: 28px;
    border-radius: 20px;
    display: flex;
    margin-left: 0.5rem;
  }

  .sortArrowPill {
    background-color: $primary;
  }

  .defaultSortArrowPill:hover {
    background-color: #CFE8FF;
  }

  .sortArrow {
    color: white;
    margin: auto;
  }

  .defaultSortArrow {
    color: $primary;
    margin: auto;
  }

  .colHeader{
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 8px 0;
    white-space: nowrap;
    &.rightAlignText {
      justify-content: flex-end;
    }
  }

  .colHeaderText {
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 20px; //TODO create variable for min width

  }

  .rightAlignText {
    display: flex;
    justify-content: flex-end;
  }


  .resizer {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background: $font-body-copy;
    cursor: col-resize;
    user-select: none;
    touch-action: none;
    border-radius: 20px;
  }

  .resizer.isResizing {
    //background: blue;
    //opacity: 1;
  }

  @media (hover: hover) {
    .resizer {
      opacity: 0;
    }

    *:hover > .resizer {
      opacity: 1;
    }
  }

}
