@use 'src/variables.module' as *;

.footnoteContainer {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 2rem;
  border-top: $body-background 4px solid;
  width: 100%;

  .footnoteHeading {
    @include headingStyle6;
    margin-top: 0;
    margin-bottom: 2rem;
  }

  .footnoteBody {
    font-size: $font-size-14;
    width: 80%;
    margin: 0 auto 1rem auto;
  }
  sup a {
    font-size: $font-size-14;
    color: $primary;
  }
  sup:not(:first-child) {
    margin-left: 5px;
  }
}

@media screen and (max-width: $breakpoint-md - 1px) {
  .footnoteBody {
    width: 100% !important;
  }
}
@media screen and (max-width: $breakpoint-lg - 1px) {
  .footnoteContainer {
    margin: 1.5rem 0 -0.5rem;
    padding-top: 1.5rem;
  }
}
