@import '../../variables.module.scss';

.container {
  display: flex;
  white-space: nowrap;
}

.linkDiv,
.linkSeparator {
  display: inline-block;
}

.linkSeparator {
  margin: 0 0.625rem;
}

.currentEvent {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
