@use 'src/variables.module' as *;

.buttonContainer {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #d9d9d9;

  .applyButton {
    background-color: $primary;
    border-radius: 3px;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    transition: background-color 0.25s ease-out;

    &:disabled {
      cursor: default;
      opacity: 50%;
    }
    .checkIcon {
      padding-right: 0.5rem;
      color: white;
    }
    &:hover {
      background-color: $slate-blue;
      cursor: pointer;
    }
  }

  .cancelButton {
    margin-right: 1rem;
    align-self: center;
    text-decoration: underline;
    color: $font-body-copy;
    padding: 0;
    font-size: $font-size-16;
    background: none;
    border: none;
  }

  .applyButton,
  .cancelButton {
    font-weight: $semi-bold-weight;
    font-size: $font-size-16;
    cursor: pointer;
  }
}
