@use 'src/variables.module' as *;
@use "sass:color";

.container {
  padding: 1rem 1rem 0;
  font-size: $font-size-16;

  .selectAll {
    min-width: 1rem;
    min-height: 1rem;
    margin-right: -19px;
    overflow: hidden;
    opacity: 0;
  }

  label {
    &:hover {
      color: color.adjust($font-body-copy, $lightness: -40%);
    }
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  [type='checkbox']:checked + span {
    background: $primary -19px top no-repeat;
    border: 1px solid $primary;
  }

  [type='checkbox'] + span {
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
    background: white left top no-repeat;
    border: 1px solid #ccc;
    cursor: pointer;
    margin-right: 0.5rem;
    border-radius: 0.125rem;
  }

  .labelCheckmarkContainer {
    position: relative;
    color: white;
  }

  .checkmarkText {
    position: absolute;
    bottom: -0.1875rem;
    left: 0.125rem;
    font-size: 0.9rem;
  }
}
