@use 'src/variables.module' as *;

.entriesGroup {
  margin-bottom: 1rem;

  .separatorStyle {
    margin-bottom: 0.5rem;
    font-size: $font-size-24;
    font-weight: 600;
  }
}

.dateContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.disclaimerNote {
  display: flex;
  align-items: center;
}

@media screen and (max-width: $breakpoint-lg) {
  .dateContainer {
    display: block;
  }
  .disclaimerNote {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
}
