@use 'src/variables.module' as *;

.fillCellGrey,
.fillCellWhite {
  color: $font-title;
}

.detailButton {
  background-color: transparent;
  border: none;
  color: $primary;
  text-decoration: underline;
  cursor: pointer;
  font-size: $font-size-16;
  font-weight: 400;
}

.tableRow {
  width: fit-content;
  height: 1.875rem;
}

.tableCell {
  padding: 0.5rem 2rem;
  border-right: $table-border-style;
  border-bottom: $table-border-style;
  vertical-align: top;

  &.filtersActive {
    background-color: #eff6fb;
  }

  &.rightAlignText {
    text-align: right;
  }
}

.hidden {
  overflow: hidden;
}
