@use 'src/variables.module' as *;

.detailViewNotice {
  display: flex;
  font-weight: $semi-bold-weight;
  font-size: $font-size-16;

  .lockIcon {
    padding-right: 0.5rem;
    height: 1rem;
    width: 0.875rem;
    padding-top: 0.125rem;
  }
}

.placeholderText {
  font-size: $font-size-18;
  padding: 4.8px 0;
}

.placeholderButton {
  height: 3rem;
  width: 70%;
  background-color: $light-grey-border;
  margin-top: 1rem;
  border-radius: 0.125rem;
}

.tableContainer {
  min-height: 44.125rem;
}

.bannerContainer {
  margin-top: 1.5rem;
}
