@use 'src/variables.module' as *;

.matchedSubstring {
  text-decoration: underline;
  font-weight: $semi-bold-weight;
}

.search {
  color: $font-body-copy;
  display: flex;
  flex-direction: column;

  .searchLabel {
    font-size: $font-size-12;
    margin-bottom: 0.25rem;
  }

  .clearButton {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  .searchIcon {
    width: 1rem;
    height: 1rem;
    color: #666;
    border: solid 0.375rem transparent;
    border-radius: 1rem;
    padding: 0;
    margin-right: 0.375rem;

    &.searchIconHover {
      cursor: pointer;
      &:hover {
        border-color: $light-grey-border;
      }
    }
  }
}

.glow {
  box-shadow: 0 0 0 0.25rem $primary-blue;
  border-radius: 0.125rem;
}

.disabledBackground {
  background-color: #f1f1f1;
}
