@import 'src/variables.module';

.sectionBorder {
  border-bottom: #dddddd solid 1px;
  border-right: #dddddd solid 1px;
  border-left: #dddddd solid 1px;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: flex-end;
}

.resetButton {
  height: 28px;
  width: 125px;
  padding: 0.25rem 0.5rem;
  font-size: $font-size-16;
  color: $font-body-copy;
  font-weight: $semi-bold-weight;
  background-color: #f1f1f1;
  border: none;
  display: flex;
  align-items: center;
  border-radius: 3px;
  &.activeButton {
    background-color: $primary;
    color: white;
    .arrowIcon {
      color: white;
    }
    &:hover {
      background-color: $slate-blue;
      cursor: pointer;
    }
  }
}

.arrowIcon {
  color: $font-body-copy;
  margin-right: 0.5rem;
}
