@import './variables.module.scss';

.sectionContainer {
  background-color: $content-section-background;
  padding: 1rem;
  border: 1px solid $border-color;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
  width: 75%;

  h1 {
    margin: 1rem 0 0.7rem;
  }
}
