$base: 0;
$above: 1;
$below: -1;
$backdrop: $base;
$panel: 10;

// home page
$sparkle: $above + $backdrop;

// explainer
// flip card
$half-panel-flip-out: $backdrop;
$half-panel-bottom: $below + $half-panel-flip-out;
$half-panel-top: $below + $half-panel-bottom;
$half-panel-flip-in: $above + $half-panel-flip-out;
$mid-card-line: $half-panel-flip-in;
$selectable-digits: $above + $half-panel-flip-in;
// surplus illustration
$tab-edge: $below + $backdrop;
$tab-edge-selected: $above + $backdrop;
$illustration-whiteout: $above + $tab-edge-selected;
// mobile sub nav
$mobile-menu-list: $above + $backdrop;
$mobile-menu-sticky: $above + $mobile-menu-list;
// desktop sub nav
$desktop-menu-sticky: $above + $illustration-whiteout;

//combo-select-dropdown
$combo-select-dropdown: $above + $backdrop;

// dataset detail
// table
$dtg-table: $backdrop;
$dtg-table-overlay: $above + $dtg-table;
$dtg-table-loading-icon: $above + $dtg-table-overlay;
$dtg-api-error: $dtg-table-loading-icon;
$dtg-table-dropdown: $above + $combo-select-dropdown;
$data-table-filters-dropdown: $above + $dtg-api-error;
$data-table-select-dropdown: $above + $data-table-filters-dropdown;
$date-picker-popper: $above + $data-table-select-dropdown;
// table container
$table-loading-section: $above + $backdrop;
$table-title: $above + $table-loading-section;
$table-loading-icon: $above + $table-title;
$dynamic-config-edit-pivot: $above + $backdrop;
$pivot-options-form-first-child: $above + $dynamic-config-edit-pivot;
// filter download
$filter-download-left-content: $above + $table-loading-icon; // parent of select-control dropdown
$data-preview-filters-dropdown: $above + $filter-download-left-content;
// table-loading-icon highest on table which select control must overlay
// published reports
$published-reports-preview: $above + $backdrop;
$published-reports-left-content: $above + $published-reports-preview;
$published-reports-year-select: $above + $published-reports-left-content;
$published-reports-date-picker: $above + $filter-download-left-content;
// api quick guide
$dataset-details-example-loading-icon: $above + $backdrop; // example request and response loading icon
// nav
$dataset-detail-nav: $above + $published-reports-date-picker; // $published-reports-date-picker is the highest in DDP
//user filter date dropdowns
$month-year-dropdown: $below + $combo-select-dropdown;

// download dataset sticky footer
$download-sticky-footer: $above + $filter-download-left-content; // published-reports-year-select is the highest on DDP, $download-sticky-footer z-index:5
$main-sticky-footer: $above + $download-sticky-footer;

// global
$radio-button: $above + $backdrop;
$toc-button: $above + $illustration-whiteout; // $illustration-whiteout is highest on explainer
$select-control: $above + $table-loading-icon;
$scroll-gradient: $above + $backdrop;

// menu
$menu-dropdown: $above + $dataset-detail-nav;
$mobile-menu: $above + $main-sticky-footer; // main-sticky-footer was highest on site before ... $mobile-menu is now z-index: 7
$mobile-menu-overlay: $below + $backdrop;
$sticky-header: $above + $dataset-detail-nav;

// glossary
$glossary: $above + $mobile-menu;
$glossary-overlay: $below + $backdrop;

// report
$account-dropdown: $dtg-table-loading-icon + $above;

//modal
$modal: $above + $backdrop;
