@import '../../../variables.module.scss';

p.apiEndpointFirstParagraph {
  margin-bottom: 2rem;
}

.codeTitle {
  margin: 0 0 0.5rem 1rem;
  line-height: 1.63;
}

.paragraphList {
  margin-bottom: 0;
}

.pills {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.pill {
  display: inline-block;
  border-radius: 1rem;
  background-color: $primary;
  color: white;
  border: none;
  padding: 0.375rem 1rem;
  margin-right: 0.625rem;
  font-size: $font-size-15;
  line-height: 1rem;
  white-space: nowrap;
  margin-top: 0.5rem;
}

.pillSpacing {
  margin-right: 0.625rem;
}
