@use 'src/variables.module' as *;

.dataTableSearchContainer {
  width: inherit;

  &.hideDropdownBorder {
    :global(.dropdownContainerBorder) {
      box-shadow: none;
      border-radius: 0;
      margin-top: 0;
    }
  }
  :global(.dropdownContainerBorder) {
    height: 22.75rem;
  }
  :global(.globalDropdownList) {
    max-height: 16.0625rem !important;
  }
}

.dataTableSearchBar {
  padding: 1rem;
  font-size: $font-size-16;
}

.buttonList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: auto;
}

.buttonItem {
  background-color: white;
  height: 3.5rem;
  border: none;
  color: #666;
  font-size: $font-size-16;
  justify-content: left;
  display: flex;
  align-items: center;
  text-align: left;
  padding: 0 1rem;

  &:hover {
    background-color: #eff6fb;
    transition: background-color 0.2s ease;
    color: $primary;
    font-weight: 600;
  }
}
