@import 'src/variables.module';

.tableContainer {
  display: flex;
  flex-direction: column;
  border-left: #ddd solid 1px;
  border-right: #ddd solid 1px;
  border-bottom: #ddd solid 1px;
  padding: 0 1rem;
}

.tableHeader {
  font-weight: $semi-bold-weight;
  font-size: $font-size-20;
  margin: 1.5rem 0 1rem;
}

.detailContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 60rem;
  width: 100%;
.summaryValue {
  width: 10rem;
  .sectionHeader {
    font-weight: $semi-bold-weight;
    font-size: $font-size-12;
    margin-bottom: 0.25rem;
  }
  margin-bottom: 1.5rem;
  font-size: $font-size-16;
}
}
