@import 'src/variables.module';
$state-and-local-government-series-primary: #a4bcfd;

.legendContainer {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.legendSection {
  display: flex;
}

.legendText,
.footerText {
  font-weight: $semi-bold-weight;
}

.line {
  margin-top: 0.5rem;
  margin-right: 0.2rem;
  display: inline-block;
  width: 1.25rem;
  border-top: 2px dashed #555555;
}

.rectangle {
  width: 1rem;
  height: 1rem;
  background: $state-and-local-government-series-primary;
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}

.chartTableBorder {
  border: 1px;
  padding: 1rem 0.5rem;
}
