@use 'src/variables.module' as *;

.container {
  overflow: hidden;
  --chart-height: 35rem;
}

.loadingIcon {
  @include grayLargeLoadingIcon;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lineChart {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
}

.legendContainer {
  justify-content: center;
  gap: 2rem;
  display: flex;
  flex-direction: row;
  margin-left: 5rem;
  margin-right: 2rem;
}

.legendColumn {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.legendElement {
  gap: 0.5rem;
  display: flex;
  flex-direction: row;
}

.legendText {
  font-size: 0.875rem;
  max-width: 128px;
}

// TOOLTIP STYLES

.tooltipContainer {
  background-color: white;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 20px;
  padding-bottom: 1rem;
  border-radius: 2px;
  box-shadow: 4px 4px 0 0 rgba(151, 151, 151, 0.5);
  max-width: 12rem;
}

.tooltipYearHeader {
  font-weight: bold;
  font-size: 14px;
}

.tooltipColumn {
  display: flex;
  flex-direction: column;
}

.tooltipItem {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
}

.tooltipItemText {
  font-size: 14px;
  max-width: 128px;
}

.tooltipItemCategory {
  font-weight: 600;
}

.estateRectTooltip {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  background: #4b3974;
}

.customsRectTooltip {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  background: #ffa600;
}

.exciseRectTooltip {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  background: #883c7f;
}

.miscRectTooltip {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  background: #ff773e;
}

.corpRectTooltip {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  background: #c13f77;
}

.socialSecRectTooltip {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  background: #eb5160;
}

.indvRectTooltip {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  background: #0a2f5a;
}

@media screen and (max-width: $breakpoint-lg - 1) {
  .legendText {
    font-size: 0.625rem;
    max-width: 80px;
  }
  .legendContainer {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .tooltipContainer {
    max-width: 8rem;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
  .tooltipItemText {
    font-size: 10px;
    max-width: 80px;
  }
  .tooltipYearHeader {
    font-size: 10px;
  }
}

// Legend rectangles

.estateRect {
  display: inline-block;
  width: 1.5rem;
  height: 1.125rem;
  background: #4b3974;
}

.customsRect {
  display: inline-block;
  width: 1.5rem;
  height: 1.125rem;
  background: #ffa600;
}

.exciseRect {
  display: inline-block;
  width: 1.5rem;
  height: 1.125rem;
  background: #883c7f;
}

.miscRect {
  display: inline-block;
  width: 1.5rem;
  height: 1.125rem;
  background: #ff773e;
}

.corpRect {
  display: inline-block;
  width: 1.5rem;
  height: 1.125rem;
  background: #c13f77;
}

.socialSecRect {
  display: inline-block;
  width: 1.5rem;
  height: 1.125rem;
  background: #eb5160;
}

.indvRect {
  display: inline-block;
  width: 1.5rem;
  height: 1.125rem;
  background: #0a2f5a;
}
