@import '../../../variables.module.scss';


.definitionContainer {
  display: flex;
  flex-direction: column;
  padding-right: 1rem;

  .termName {
    font-size: $font-size-20;
    font-weight: $semi-bold-weight;
    margin-bottom: 1rem;
  }

  .officialDefinition {
    font-weight: $semi-bold-weight;
    // official definition hidden until plain language added
    // margin-bottom: .25rem;
    height: 0;
    visibility: hidden;
  }
}
