// Please note that all styles in this file should be cleaned out regularly.
.barDiv {
  height: 400px;
  width: calc(100vw - 4rem);
  padding: 2rem;
}

.linkDiv {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.dot {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  display: inline-block;
  margin-right: .5rem;
}

// .toolTip {
//   background-color: white;
//   padding: .5rem;
//   border: 1px solid #666666;
//   border-radius: .25rem;
//   box-shadow: 0.25rem 0.25rem lightgrey;
// }

.fallback {
  color: black;
  background-color: red;
  font-size: larger;
}
.fade {
  transition: opacity 0.3s ease-in-out;
  &.visible {
    opacity: 1;
  }
  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
}
.tooltip:after {
opacity: 0;
-webkit-transition: opacity 1s ease-in-out;
transition: opacity 1s ease-in-out;

}
.tooltip:hover:after {
  opacity: 1;
  }
.lineGraph {
  position: absolute;
  top: 50px;
  height: 100%;
  width: 2px;
  background-color: 'red';
}
