// Please note that all styles in this file should be cleaned out regularly.
.barDiv {
  height: 400px;
  width: calc(100vw - 4rem);
  padding: 2rem;
}

.linkDiv {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.dot {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  display: inline-block;
  margin-right: .5rem;
}

.toolTip {
  background-color: white;
  padding: .5rem;
  border: 1px solid #666666;
  border-radius: .25rem;
  box-shadow: 0.25rem 0.25rem lightgrey;
}

.fallback {
  color: black;
  background-color: red;
  font-size: larger;
}
