@import '../../../variables.module.scss';

.toggleContainer{   
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
}

.toggleButton {
    color: $primary;
    font-weight: $semi-bold-weight;
    border: none;
    cursor: pointer;
    background-color: inherit;
    width: 100%;
    margin-right: 0.625rem;
    font-size: $font-size-16;
}

.icon {
    margin-right: 0.5rem;
    font-size: $font-size-14;
    transform: translateY(2px);
}

.selectColumnsIcon {
    margin-right: 0.5rem;
    font-size: $font-size-16;
}
