@import 'src/zIndex.module';
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.listItems {
  overflow-y: auto;
  margin-top: -2.5rem;
  padding-bottom: 1rem;
}

.scrollGradientTop,
.scrollContainerTop,
.scrollGradientBottom,
.scrollContainerBottom {
  height: 2.5rem;
  position: sticky;
  pointer-events: none;
}

.scrollGradientTop,
.scrollContainerTop {
  margin-top: 1.5rem;
  z-index: $scroll-gradient;
}
.scrollGradientBottom,
.scrollContainerBottom {
  margin-top: -2.5rem;
}

.scrollContainerTop {
  background: rgba(255, 255, 255, 0);
}

.scrollContainerBottom {
  background: rgba(255, 255, 255, 0);
}
