@import 'src/zIndex.module';
@import '../../variables.module.scss';

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.listItems {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.scrollGradientTop,
.scrollContainerTop,
.scrollGradientBottom,
.scrollContainerBottom {
  height: 2.5rem;
  position: sticky;
  pointer-events: none;
}

.scrollGradientTop,
.scrollContainerTop {
  margin-top: 1.5rem;
  z-index: $scroll-gradient;
}
.scrollGradientBottom,
.scrollContainerBottom {
  margin-top: -2.5rem;
}

.scrollContainerTop {
  background: rgba(255, 255, 255, 0);
}

.scrollContainerBottom {
  background: rgba(255, 255, 255, 0);
}

@media screen and (max-width: $breakpoint-lg) {
  .scrollGradientTop,
  .scrollContainerTop {
    display: none;
  }
  //
  //  //.container {
  //  //  display: flex;
  //  //  flex-direction: column;
  //  //  height: 100%;
  //  //}
  //  //
  //  //.listItems {
  //  //  overflow-y: auto;
  //  //  flex: 1;
  //  //}
}
