@use 'src/variables.module' as *;

.container {
  margin-bottom: 1.5rem;
}

.accordion {
  transition: opacity 1s ease;
}

.heading {
  padding: 1rem;
  font-size: $font-size-16;
  text-align: left;
  border: 1px solid $border-color;
  border-radius: 3px;
  margin: 0;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  font-weight: $semi-bold-weight;
  flex-wrap: nowrap;
}

.content {
  border: 1px solid transparent;
  border-top: none;
  text-align: left;
}

.toggle {
  display: flex;
  align-items: center;
  font-size: $font-size-18;
  background: transparent;
  border: none;
  float: right;
  padding: 0 6px;
  cursor: pointer;
  svg {
    width: fit-content;
    path {
      color: $font-body-copy;
    }
  }
}

/*
 * Only collapse the top and bottom margin and padding, otherwise some elements with left/right padding/margin will
 * draw outside of the accordion during the open/close animation. "!important" is needed because elements inside of
 * an accordion with any of these properties set will override the accordion style and can be visible on the DOM
 */
.closed .content {
  &,
  * {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    line-height: 0 !important;
    height: 0 !important;
    opacity: 0 !important;
    transition: all 0.5s ease;
  }

  svg {
    display: none;
  }
}

.open {
  .heading {
    border-radius: 3px 3px 0 0;
  }

  .content {
    padding: 1rem;
    line-height: 1.2;
    border-color: $border-color;
    border-radius: 0 0 3px 3px;
    opacity: 1;
    transition: all 0.5s ease;

    ul {
      padding-left: 1.125rem;
    }
  }
}

.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  overflow: hidden !important;
}
