@use '../../../../../variables.module.scss' as *;
@use '../federal-spending.module' as *;
@use '../../../explainer.module' as *;

.spendingDifferenceContent {
  h5 {
    @include explainerSubsectionHeader;
  }

  h6 {
    font-size: $font-size-20;
    font-weight: $semi-bold-weight;
    margin: 2rem 0 1rem;
    color: $spending-explainer-secondary;
  }

  .mandatorySpendingContainer {
    margin-bottom: 2rem;
    margin-top: 2rem;
    width: 100%;
    picture {
      width: 100%;
    }
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
  .mandatorySpendingImgStyle {
    padding-right: 0;
  }
  @media screen and (max-width: $breakpoint-lg) {
    .mandatorySpendingContainer {
      max-width: 375px;
      justify-self: center;
      display: flex;
    }
  }
}
