@import '../../variables.module.scss';

$lead-text-max: 550px;
$max-img-width-desktop: 771.5px;

.leadText {
  max-width: $lead-text-max;
}

.headerSubText {
  font-weight: $light-weight;
}

.siteBannerHeader {
  font-weight: $semi-bold-weight;
  color: $primary;
  margin: 2rem 0 1rem;
  font-size: $font-size-48;
}

.siteHeaderButton {
  max-width: 328px;
  margin-bottom: 1rem;
  display: block;
  @include primaryButton;
}

.tagLine {
  font-size: $font-size-16;
  margin: 0 0 1rem;
}

.imagePlacement {
  width: calc(100% + 1.5rem);
  margin-left: -0.75rem;
}

.bannerGraphic {
  max-width: 100%;
}

.insetContainer {
  position: relative;
}

@media screen and (min-width: $breakpoint-lg) {
  .leadText {
    margin-top: 7rem;
  }

  .siteBannerHeader {
    margin-top: 0;
    font-size: $font-size-56;
  }

  .siteHeaderButton {
    margin-bottom: 10rem;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .bannerGraphic {
    position: absolute;
    right: 0;
    width: calc((100vw - #{$site-content-width}) / 2 + #{$lead-text-max}); // todo - Explain how we got these numbers
    max-width: none;
    max-height: $lead-text-max;
    object-fit: contain;
    object-position: left;
    margin-left: inherit;
    margin-top: 3rem;
    .insetContainer {
      max-width: $max-img-width-desktop;
    }
  }
}

@supports not (-ms-high-contrast: none) {
  /* Non-IE styles here */
  .bannerGraphic {
    top: 80px;
  }
}

@media screen and (min-width: $breakpoint-lg) and (max-width: 1110px) { // todo - Rewrite 1110 as a variable with a descriptive name
  .bannerGraphic {
    max-width: calc(100vw - 570px) // todo - Rewrite 570 as a variable with a descriptive name
  }
}
