@import '../../variables.module.scss';

$main-feature-title: $font-size-32;
$main-feature-body: $font-size-16;
$secondary-feature-title: $font-size-24;
$secondary-feature-body: $font-size-16;


.mainContent {
  h4 {
    font-size: $font-size-32;
    font-weight: $semi-bold-weight;
    margin: 0;
  }
  .mainTitle {
    font-size: $main-feature-title;
    padding: 1rem 0 .5rem;
  }

  .secondaryTitle {
    font-size: $secondary-feature-title;
    padding: .5rem 0 .5rem;
  }
}
