@use 'src/variables.module' as *;
@use '../../../zIndex.module.scss' as *;

.responseBlock {
  width: 100%;
  overflow-x: auto;

  pre {
    margin: 0;
  }
}

.loadingIcon {
  @include blueMediumLoadingIcon;
}
