@import "src/variables.module";

.footerStyle {
    margin-top: 32px;
    margin-bottom: 16px;
}

.headerContainer {
    display: flex;
    flex-direction: column;
    padding-left: 32px;
}

.headerStyle {
    color: #555555;
    font-size: 18px;
    font-weight: bold;
}

.subHeader {
    color: #666666;
    font-size: 16px;
    margin-bottom: 16px;
    margin-right: 8px;
}

.column {
    display: flex;
    flex-direction: column;
}

.chartsContainer {
    display: flex;
    margin-bottom: 16px;
    margin-left: 7%;
    align-items: center;
}

.percentOrDollarContainer {
    margin-right: 16px !important;
    color: #666666;
    font-weight: 600;
    min-width: 36px;
    font-size: 14px;
}

.descContainer {
    margin-right: 16px;
    font-size: 14px;
    font-weight: 600;
    max-width: 180px;
}

.chartToggle {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 16px;
    border-radius: 8px;
    margin-top: 16px;
}

.toggleButton {
    width: 43%;
    margin-bottom: 2%;
    cursor: pointer;
    height: 32px;
    border: 2px solid #00766c;
}

.loadingIcon {
    max-width: $site-content-width;
    margin: 2rem auto;
    text-align: center;
    font-size: $font-size-48;
}