@import 'src/variables.module';

.spendingChartContainer {
  :global(.chartContainerChart) {
    display: block !important;
    max-width: 100% !important;
  }

  :global(.chartContainerHeader) {
    display: block !important;
  }
}

.footerStyle {
  margin-top: 32px;
  margin-bottom: 16px;
}

.column {
  display: flex;
  flex-direction: column;
}

.barChart {
  display: flex;
  flex-direction: column;
}

.chartsContainer {
  display: flex;
  margin-bottom: 1rem;
  margin-left: calc(7% - 1rem);
  align-items: center;
}

.barContainer {
  height: 35rem;
  opacity: 1;
}

.barContainerInvisible {
  height: 35rem;
  opacity: 0;
}

.otherContainer {
  height: 2.5rem;
  margin-bottom: 1rem;
  opacity: 1;
}

.otherContainerInvisible {
  height: 2.5rem;
  margin-bottom: 1rem;
  opacity: 0;
}

.percentOrDollarContainer {
  color: #666666;
  font-weight: $semi-bold-weight;
  min-width: 50px;
  font-size: $font-size-14;
}

.descContainer {
  margin-right: 1rem;
  font-size: $font-size-14;
  max-width: 180px;
  margin-left: 0.25rem;
  max-height: 2.5rem;
  opacity: 0;
}

.active .descContainer {
  transition: opacity 0.5s ease 0.5s;
  opacity: 1;
}

.loadingIcon {
  max-width: $site-content-width;
  margin: 2rem auto;
  text-align: center;
  font-size: $font-size-48;
}

.toggleContainer {
  display: flex;
  justify-content: flex-end;
}

.dollarsToggleChecked, .percentToggleChecked {
  color: #00766C;
  font-weight: $semi-bold-weight;
}

.dollarsToggleUnchecked, .percentToggleUnchecked {
  color: #666;
}

.dollarsToggleChecked, .dollarsToggleUnchecked {
  margin-left: 0.25rem;
}

.percentToggleChecked, .percentToggleUnchecked {
  margin-right: 0.25rem;

}

.dollarsToggleChecked, .dollarsToggleUnchecked, .percentToggleChecked, .percentToggleUnchecked {
  text-align: start;
  margin-bottom: 1.5rem;
  min-width: 80px;
  font-size: $font-size-14;
}

@media screen and (min-width: $breakpoint-lg) {
  .spendingChartContainer {
    margin-bottom: 2rem;
  }
}
