@import '../../variables.module.scss';

.pageHeader {
  background-color: #f6f6f6;
}

.mainWidth {
  max-width: $main-width;
  margin: 0 auto;
  padding: 1rem 0;
}

.pageTitle {
  @include pageTitle;
  padding-bottom: 1rem;
}

@media screen and (max-width: $breakpoint-lg - 1) {
  .mainWidth {
    padding: 1rem;
  }
}
