@use 'src/variables.module' as *;

.pageHeader {
  position: sticky;
  top: -0.25rem;
  z-index: $dataset-detail-nav;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: $api-header;
  margin: 0 auto;
  padding: 0 0.75rem;
}

.stickyHeight {
  height: 92px;
}

.breadCrumb {
  z-index: $dataset-detail-nav;
  padding-top: 1rem;
  max-width: $main-width;
  width: 100%;
  margin: 0 auto;
}

.breadCrumbBackground {
  background-color: $api-header;
  padding: 0 0.75rem;
}

.mainWidth {
  max-width: $main-width;
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem 0 1rem;

  &.stickyMainWidth {
    padding: 0.5rem 0;
  }
}

.bannerCalloutContainer {
  padding-top: 0.5rem;
}

.pageTitle {
  @include pageTitle;
  transition: 0.25s;
  padding: 0;

  &.stickyHeader {
    font-size: $font-size-16;
    font-weight: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
  }
}

@media screen and (max-width: $breakpoint-lg - 1) {
  .mainWidth {
    padding: 1rem 0;
  }
}
