@import '../../../variables.module.scss';

.pageLinks {
  display: none;
 transition: 0.125s;
}

.pageLinkButton {
  display: flex;
  align-items: center;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom: 0.125rem solid transparent;
  padding: 0;
  width: fit-content;
}

@media screen and (min-width: $breakpoint-lg) {
  .pageLinkButtonContainer {
    transform: translateX(2rem);
    padding-right: 1rem;
    .pageLinkButton {
      height: 100%;
      background-color: inherit;
      font-size: 1rem;
      border-bottom: 0.125rem solid transparent;

      &.pageLinkButtonActive {
        border-bottom: 0.125rem solid $font-title;
        color: $font-title;
        font-weight: $semi-bold-weight;
        &:hover {
          border-bottom: 0.125rem solid $font-title;
        }
      }

      &:hover {
        a {
          color: $primary;
          font-weight: $semi-bold-weight;
        }
        border-bottom: 0.125rem solid $primary;
      }
    }
  }

  .pageLinks {
    display: flex;
    justify-content: space-between;

    a {
      display: block;
      margin-right: 3rem;
      text-decoration: none;
      color: $font-body-copy;
      white-space: nowrap;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        color: $primary;
        font-weight: $semi-bold-weight;
      }

      &.activeLink {
        color: $font-title;
        font-weight: $semi-bold-weight;
      }
    }
    &.activeLink {
      border-bottom: 0.125rem solid $font-title;
    }
  }
}
