@import '../../../variables.module.scss';

.pageLinks {
  display: none;
}

.pageLinkButton {
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom: 2px solid transparent;
  padding: 3px 0 1px;
}

@media screen and (min-width: $breakpoint-lg) {
  .pageLinkButtonContainer {
    padding-right: 1rem;
  }
  .pageLinkButtonContent {
    transform: translateX(2rem);
    .pageLinkButton {
      padding-top: 3px;
      background-color: inherit;
      font-size: 1rem;
      height: 55px;
      border-bottom: 2px solid transparent;

      &.pageLinkButtonActive {
        border-bottom: 2px solid #555555;
        color: #555555;
        font-weight: $semi-bold-weight;
        &:hover {
          border-bottom: 2px solid #555555;
        }
      }

      &:hover {
        a {
          color: $primary;
          font-weight: $semi-bold-weight;
        }
        border-bottom: 2px solid $primary;
      }
    }
  }

  .pageLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;

    a {
      display: block;
      margin-right: 3rem;
      text-decoration: none;
      color: #666666;
      white-space: nowrap;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        color: $primary;
        font-weight: $semi-bold-weight;
      }

      &.activeLink {
        color: #555555;
        font-weight: $semi-bold-weight;
      }
    }
    &.activeLink {
      border-bottom: 2px solid #555555;
    }
  }
}
